Repository ansible/aap-docs, pull requests merged in 2022-12, with the labels that each got.

#43 Re-adding quay.io for Azure firewall rule requirement
  stories/topics/proc-azure-update-route-tables.adoc
Labels: AAP on clouds, AAP on Azure

#41 Backup and Recovery Process Documentation
  stories/assembly-aap-aws-backup-and-recovery.adoc
  stories/topics/proc-aap-aws-backup-and-recovery.adoc
  titles/aap-on-aws/stories.adoc
Labels: AAP on clouds, Ansible on AWS

#39 add section to explain how to retrieve admin pw
  stories/assembly-aap-gcp-uninstall.adoc
  stories/topics/proc-aap-gcp-application-deploy.adoc
  stories/topics/proc-aap-gcp-application-uninstall.adoc
  titles/aap-on-gcp/stories.adoc
Labels: AAP on clouds, AAP on GCP

#36 AAP on AWS uninstall doc
  stories/assembly-aap-aws-uninstall.adoc
  stories/topics/proc-aap-aws-uninstall.adoc
  titles/aap-on-aws/stories.adoc
Labels: AAP on clouds, Ansible on AWS

#44 Update attribute used for AAP from AWS marketplace
  stories/assembly-aap-aws-additional-configs.adoc
  stories/assembly-aap-aws-automation-workloads.adoc
  stories/assembly-aap-aws-backup-and-recovery.adoc
  stories/assembly-aap-aws-install.adoc
  stories/assembly-aap-aws-intro.adoc
  stories/assembly-aap-aws-support.adoc
  stories/topics/con-aap-aws-access-application.adoc
  stories/topics/con-aap-aws-deployment-scaling.adoc
  stories/topics/con-aap-aws-network-peering-options.adoc
  stories/topics/con-aws-application-architecture.adoc
  stories/topics/proc-aap-aws-add-extension-nodes.adoc
  stories/topics/proc-aap-aws-backup-and-recovery.adoc
  stories/topics/proc-aap-aws-configure-route-tables.adoc
  stories/topics/proc-aap-aws-configure-security-network.adoc
  stories/topics/proc-aap-aws-routing-to-vpcs.adoc
  stories/topics/proc-aap-aws-traffic-to-vpc.adoc
  stories/topics/proc-aap-aws-uninstall.adoc
  stories/topics/proc-aap-aws-vpc-peering.adoc
  stories/topics/proc-aws-create-ec2-pair.adoc
  stories/topics/proc-aws-marketplace.adoc
  stories/topics/ref-aap-aws-additional-configs-update-admin-password.adoc
  stories/topics/ref-aap-aws-additional-configs-update-rds-password.adoc
  stories/topics/ref-aap-aws-automation-performance.adoc
  stories/topics/ref-aap-aws-install-prerequisites.adoc
  stories/topics/ref-aap-aws-transit-gateway.adoc
  titles/aap-on-aws/aap-on-aws.asciidoc
Labels: AAP on clouds, Ansible on AWS
