Repository ansible/aap-docs, pull requests merged in 2023-10, with the labels that each got.

#527 [2.4] AAP-16182: Revise alt text of diagram (#526)
  downstream/assemblies/platform/assembly-network-ports-protocols.adoc
Labels: AAP Hardening, Ready for review, Backported to 2.4, 2.4

#477 Corrected statement about special characters in passwords
  downstream/modules/platform/con-install-scenario-examples.adoc
  downstream/modules/platform/ref-controller-variables.adoc
  downstream/modules/platform/ref-eda-controller-variables.adoc
  downstream/modules/platform/ref-hub-variables.adoc
Labels: Ready for review, Needs backport to 2.4, Technical review complete, 2.4

#531 Create section 25 "Instance Groups" of the Controller UG (#530)
  downstream/assemblies/platform/assembly-ug-controller-job-templates.adoc
  downstream/assemblies/platform/assembly-ug-controller-workflow-job-templates.adoc
  downstream/images/instance-group-assoc-instances.png
  downstream/images/ug-instance-group-created.png
  downstream/images/ug-instance-groups_list_view.png
  downstream/images/ug-instances-example-callouts.png
  downstream/modules/platform/con-controller-instance-groups.adoc
  downstream/modules/platform/proc-controller-associate-instances-to-instance-group.adoc
  downstream/modules/platform/proc-controller-create-instance-group.adoc
  downstream/modules/platform/proc-controller-view-jobs-associated-with-instance-group.adoc
Labels: Controller, 2.4

#522 AAP-16463 - Add information about enclosing passwords in quotes
  downstream/modules/platform/ref-controller-variables.adoc
  downstream/modules/platform/ref-eda-controller-variables.adoc
  downstream/modules/platform/ref-hub-variables.adoc
Labels: 2.2, 2.3, Needs backport to 2.4, Needs backport to 2.3, Needs backport to 2.2, Ready for technical review, Not ready for peer review, 2.4

#529 Create Section 16 of Controller UG
  downstream/assemblies/platform/assembly-controller-ee-setup-reference.adoc
  downstream/modules/platform/ref-controller-additional-build-files.adoc
  downstream/modules/platform/ref-controller-additional-build-steps.adoc
  downstream/modules/platform/ref-controller-awx-default-ee.adoc
  downstream/modules/platform/ref-controller-build-arg-defaults.adoc
  downstream/modules/platform/ref-controller-config-options.adoc
  downstream/modules/platform/ref-controller-config-version.adoc
  downstream/modules/platform/ref-controller-dependences.adoc
  downstream/modules/platform/ref-controller-ee-configuration-options.adoc
  downstream/modules/platform/ref-controller-ee-definition.adoc
  downstream/modules/platform/ref-controller-image-verification.adoc
  downstream/modules/platform/ref-controller-images.adoc
  downstream/modules/platform/ug-wf-prompt-button-inventory-wizard.png
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#538 Create Section 16 of Controller UG (#529)
  downstream/assemblies/platform/assembly-controller-ee-setup-reference.adoc
  downstream/modules/platform/ref-controller-additional-build-files.adoc
  downstream/modules/platform/ref-controller-additional-build-steps.adoc
  downstream/modules/platform/ref-controller-awx-default-ee.adoc
  downstream/modules/platform/ref-controller-build-arg-defaults.adoc
  downstream/modules/platform/ref-controller-config-options.adoc
  downstream/modules/platform/ref-controller-config-version.adoc
  downstream/modules/platform/ref-controller-dependences.adoc
  downstream/modules/platform/ref-controller-ee-configuration-options.adoc
  downstream/modules/platform/ref-controller-ee-definition.adoc
  downstream/modules/platform/ref-controller-image-verification.adoc
  downstream/modules/platform/ref-controller-images.adoc
  downstream/modules/platform/ug-wf-prompt-button-inventory-wizard.png
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: documentation, Controller, 2.4

#540 Create 'Projects' section of Controller UG.
  downstream/assemblies/platform/assembly-controller-projects.adoc
  downstream/images/configure-controller-jobs-download-collections.png
  downstream/images/configure-controller-jobs-execution-path.png
  downstream/images/configure-controller-jobs-path-to-expose.png
  downstream/images/generic-schedules-list-configured.png
  downstream/images/organizations-add-users-for-example-organization (1).png
  downstream/images/permissions-tab-roles-assigned.png
  downstream/images/project-notifications-empty.png
  downstream/images/projects-add-ah-source-repo.png
  downstream/images/projects-ah-repo-mgmt-get-token.png
  downstream/images/projects-ah-repo-mgmt-repos-published.png
  downstream/images/projects-create-ah-credential.png
  downstream/images/projects-create-manual-warning.png
  downstream/images/projects-create-new-project.png
  downstream/images/projects-create-scm-insights.png
  downstream/images/projects-create-scm-project-branch-override-checked.png
  downstream/images/projects-create-scm-project.png
  downstream/images/projects-create-scm-rm-archive.png
  downstream/images/projects-list-all-expanded.png
  downstream/images/projects-list-all.png
  downstream/images/projects-notifications-example-list.png
  downstream/images/projects-organizations-add-ah-credential.png
  downstream/images/projects-permissions-example.png
  downstream/images/projects-scm-update-options-update-on-launch-checked (1).png
  downstream/images/projects-scm-update-options-update-on-launch-checked.png
  downstream/images/projects-templates-example-list.png
  downstream/images/projects-templates-search-dropdown.png
  downstream/images/projects-update-status.png
  downstream/images/settings-jobs-ignore-galaxy-certs.png
  downstream/modules/platform/proc-controller-adding-a-project.adoc
  downstream/modules/platform/proc-controller-project-add-permissions.adoc
  downstream/modules/platform/proc-controller-updating-a-project.adoc
  downstream/modules/platform/proc-projects-manage-playbooks-manually.adoc
  downstream/modules/platform/proc-projects-using-collections-with-hub.adoc
  downstream/modules/platform/proc-scm-git-subversion.adoc
  downstream/modules/platform/proc-scm-insights.adoc
  downstream/modules/platform/proc-scm-remote-archive.adoc
  downstream/modules/platform/ref-projects-collections-support.adoc
  downstream/modules/platform/ref-projects-galaxy-support.adoc
  downstream/modules/platform/ref-projects-manage-playbooks-with-source-control.adoc
  downstream/modules/platform/ref-work-with-job-templates.adoc
  downstream/modules/platform/ref-work-with-notifications.adoc
  downstream/modules/platform/ref-work-with-permissions.adoc
  downstream/modules/platform/ref-work-with-schedules.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#541 Create 'Projects' section of Controller UG. (#540)
  downstream/assemblies/platform/assembly-controller-projects.adoc
  downstream/images/configure-controller-jobs-download-collections.png
  downstream/images/configure-controller-jobs-execution-path.png
  downstream/images/configure-controller-jobs-path-to-expose.png
  downstream/images/generic-schedules-list-configured.png
  downstream/images/organizations-add-users-for-example-organization (1).png
  downstream/images/permissions-tab-roles-assigned.png
  downstream/images/project-notifications-empty.png
  downstream/images/projects-add-ah-source-repo.png
  downstream/images/projects-ah-repo-mgmt-get-token.png
  downstream/images/projects-ah-repo-mgmt-repos-published.png
  downstream/images/projects-create-ah-credential.png
  downstream/images/projects-create-manual-warning.png
  downstream/images/projects-create-new-project.png
  downstream/images/projects-create-scm-insights.png
  downstream/images/projects-create-scm-project-branch-override-checked.png
  downstream/images/projects-create-scm-project.png
  downstream/images/projects-create-scm-rm-archive.png
  downstream/images/projects-list-all-expanded.png
  downstream/images/projects-list-all.png
  downstream/images/projects-notifications-example-list.png
  downstream/images/projects-organizations-add-ah-credential.png
  downstream/images/projects-permissions-example.png
  downstream/images/projects-scm-update-options-update-on-launch-checked (1).png
  downstream/images/projects-scm-update-options-update-on-launch-checked.png
  downstream/images/projects-templates-example-list.png
  downstream/images/projects-templates-search-dropdown.png
  downstream/images/projects-update-status.png
  downstream/images/settings-jobs-ignore-galaxy-certs.png
  downstream/modules/platform/proc-controller-adding-a-project.adoc
  downstream/modules/platform/proc-controller-project-add-permissions.adoc
  downstream/modules/platform/proc-controller-updating-a-project.adoc
  downstream/modules/platform/proc-projects-manage-playbooks-manually.adoc
  downstream/modules/platform/proc-projects-using-collections-with-hub.adoc
  downstream/modules/platform/proc-scm-git-subversion.adoc
  downstream/modules/platform/proc-scm-insights.adoc
  downstream/modules/platform/proc-scm-remote-archive.adoc
  downstream/modules/platform/ref-projects-collections-support.adoc
  downstream/modules/platform/ref-projects-galaxy-support.adoc
  downstream/modules/platform/ref-projects-manage-playbooks-with-source-control.adoc
  downstream/modules/platform/ref-work-with-job-templates.adoc
  downstream/modules/platform/ref-work-with-notifications.adoc
  downstream/modules/platform/ref-work-with-permissions.adoc
  downstream/modules/platform/ref-work-with-schedules.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: documentation, Controller, 2.4

#544 AAP 15790 fixes based on SME comments
  downstream/assemblies/hub/assembly-managing-cert-valid-content.adoc
  downstream/assemblies/hub/assembly-repo-management.adoc
Labels: Docathon

#546 AAP 15790 fixes based on SME comments (#544)
  downstream/assemblies/hub/assembly-managing-cert-valid-content.adoc
  downstream/assemblies/hub/assembly-repo-management.adoc
Labels: Docathon

#542 Create 'Project Signing' section of Controller UG
  downstream/assemblies/platform/assembly-controller-project-signing.adoc
  downstream/images/content-sign-diagram.png
  downstream/images/credentials-gpg-details.png
  downstream/images/project-update-launch-cache-timeout.png
  downstream/modules/platform/con-controller-signing-your-project.adoc
  downstream/modules/platform/proc-controller-adding-gpg-key.adoc
  downstream/modules/platform/proc-controller-use-ansible-sign.adoc
  downstream/modules/platform/ref-controller-automate-signing.adoc
  downstream/modules/platform/ref-controller-proj-sign-prerequisites.adoc
  downstream/modules/platform/ref-controller-verify-your-project.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#547 Create 'Project Signing' section of Controller UG (#542)
  downstream/assemblies/platform/assembly-controller-project-signing.adoc
  downstream/images/content-sign-diagram.png
  downstream/images/credentials-gpg-details.png
  downstream/images/project-update-launch-cache-timeout.png
  downstream/modules/platform/con-controller-signing-your-project.adoc
  downstream/modules/platform/proc-controller-adding-gpg-key.adoc
  downstream/modules/platform/proc-controller-use-ansible-sign.adoc
  downstream/modules/platform/ref-controller-automate-signing.adoc
  downstream/modules/platform/ref-controller-proj-sign-prerequisites.adoc
  downstream/modules/platform/ref-controller-verify-your-project.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: documentation, Controller, 2.4

#548 Add lightspeed sync script
  bin/sync_lightspeed_docs.sh
Labels: Lightspeed

#549 Lightspeed: Add placeholders for assemblies in main doc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Lightspeed

#555 Correct typo in prereqs section of Installing AAP operator on OCP guide
  downstream/assemblies/platform/assembly-install-aap-operator.adoc
Labels: Ready for review, Needs backport to 2.4

#534 Create section 26 "Jobs" of the Controller UG
  downstream/assemblies/platform/assembly-controller-job-templates.adoc
  downstream/assemblies/platform/assembly-ug-controller-instance-groups.adoc
  downstream/assemblies/platform/assembly-ug-controller-job-templates.adoc
  downstream/assemblies/platform/assembly-ug-controller-jobs.adoc
  downstream/assemblies/platform/assembly-ug-controller-workflow-job-templates.adoc
  downstream/images/delete-button.png
  downstream/images/download.png
  downstream/images/ug-collapse-all-icon.png
  downstream/images/ug-details-for-scm-job.png
  downstream/images/ug-job-details-for-example-job.png
  downstream/images/ug-job-details-hostevent.png
  downstream/images/ug-job-details-view-filters.png
  downstream/images/ug-job-std-out-host-summary-status.png
  downstream/images/ug-jobs-events-summary.png
  downstream/images/ug-jobs-list-all-expanded.png
  downstream/images/ug-output-branch-override.png
  downstream/images/ug-results-for-example-job.png
  downstream/images/ug-results-for-scm-job.png
  downstream/images/ug-scm-project-branching-emphasized.png
  downstream/images/ug-show-job-details-for-inv-sync.png
  downstream/images/ug-show-job-results-for-inv-sync.png
  downstream/images/ug-std-out-expand-collapse-icons.png
  downstream/images/ug-std-out-unreachable.png
  downstream/modules/platform/con-controller-capacity-determination.adoc
  downstream/modules/platform/con-controller-capacity-job-impacts.adoc
  downstream/modules/platform/con-controller-impact-of-job-types.adoc
  downstream/modules/platform/con-controller-inventory-sync-jobs.adoc
  downstream/modules/platform/con-controller-job-branch-overriding.adoc
  downstream/modules/platform/con-controller-playbook-run-jobs.adoc
  downstream/modules/platform/con-controller-project-revision-behavior.adoc
  downstream/modules/platform/con-controller-resource-determination-capacity.adoc
  downstream/modules/platform/con-controller-scm-inventory-jobs.adoc
  downstream/modules/platform/con-controller-source-tree-copy.adoc
  downstream/modules/platform/proc-controller-select-capacity.adoc
  downstream/modules/platform/ref-controller-cpu-relative-capacity.adoc
  downstream/modules/platform/ref-controller-git-refspec.adoc
  downstream/modules/platform/ref-controller-host-details.adoc
  downstream/modules/platform/ref-controller-inventory-sync-details.adoc
  downstream/modules/platform/ref-controller-memory-relative-capacity.adoc
  downstream/modules/platform/ref-controller-playbook-run-details.adoc
  downstream/modules/platform/ref-controller-playbook-run-search.adoc
  downstream/modules/platform/ref-controller-scm-inventory-details.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Needs backport to 2.4, Controller, 2.4

#556 Correct typo in prereqs section of Installing AAP operator on OCP gui…
  downstream/assemblies/platform/assembly-install-aap-operator.adoc
Labels: 2.4

#559 AAP 15795: Editorial changes to Managing Content
  downstream/assemblies/hub/assembly-collection-import-export.adoc
  downstream/assemblies/hub/assembly-remote-management.adoc
  downstream/assemblies/hub/assembly-repo-management.adoc
  downstream/modules/hub/con-approval-pipeline.adoc
  downstream/modules/hub/con-repo-rbac.adoc
  downstream/modules/hub/proc-adding-collections-repository.adoc
  downstream/modules/hub/proc-basic-repo-sync.adoc
  downstream/modules/hub/proc-create-remote.adoc
  downstream/modules/hub/proc-create-repository.adoc
  downstream/modules/hub/proc-export-collection.adoc
  downstream/modules/hub/proc-import-collection.adoc
  downstream/modules/hub/proc-provide-remote-access.adoc
  downstream/modules/hub/proc-revert-repository-version.adoc
Labels: Docathon

#561 Added virtual machine text
  stories/topics/con-gcp-application-architecture.adoc
  stories/topics/con-gcp-application-deploy.adoc
Labels: AAP on GCP

#562 Added virtual machine text (#561)
  stories/topics/con-gcp-application-architecture.adoc
  stories/topics/con-gcp-application-deploy.adoc
Labels: AAP on GCP

#563 Added virtual machine text.
  stories/topics/con-gcp-application-architecture.adoc
  stories/topics/con-gcp-application-deploy.adoc
Labels: AAP on GCP

#558 Create section 27 "Webhooks" of the Controller UG
  downstream/assemblies/platform/assembly-ug-controller-work-with-webhooks.adoc
  downstream/images/ug-gitlab-webhook-credential.png
  downstream/images/ug-webhooks-create-credential-gitlab-PAT-token.png
  downstream/images/ug-webhooks-github-PAT-token.png
  downstream/images/ug-webhooks-github-repo-choose-events.png
  downstream/images/ug-webhooks-jobs-extra-vars-payload-expanded.png
  downstream/images/ug-webhooks-jobs-extra-vars-payload.png
  downstream/images/ug-webhooks-webhook-credential.png
  downstream/modules/platform/proc-controller-set-up-github-webhook.adoc
  downstream/modules/platform/proc-controller-set-up-gitlab-webhook.adoc
  downstream/modules/platform/proc-controller-view-payload-output.adoc
  downstream/modules/platform/ref-controller-credential-gitHub-pat.adoc
  downstream/modules/platform/ref-controller-credential-gitLab-pat.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Needs backport to 2.4, Controller, 2.4

#566 Create section 27 "Webhooks" of the Controller UG (#558)
  downstream/assemblies/platform/assembly-ug-controller-work-with-webhooks.adoc
  downstream/images/ug-gitlab-webhook-credential.png
  downstream/images/ug-webhooks-create-credential-gitlab-PAT-token.png
  downstream/images/ug-webhooks-github-PAT-token.png
  downstream/images/ug-webhooks-github-repo-choose-events.png
  downstream/images/ug-webhooks-jobs-extra-vars-payload-expanded.png
  downstream/images/ug-webhooks-jobs-extra-vars-payload.png
  downstream/images/ug-webhooks-webhook-credential.png
  downstream/modules/platform/proc-controller-set-up-github-webhook.adoc
  downstream/modules/platform/proc-controller-set-up-gitlab-webhook.adoc
  downstream/modules/platform/proc-controller-view-payload-output.adoc
  downstream/modules/platform/ref-controller-credential-gitHub-pat.adoc
  downstream/modules/platform/ref-controller-credential-gitLab-pat.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Controller, 2.4

#478 Added inventory variables
  downstream/modules/platform/ref-controller-variables.adoc
  downstream/modules/platform/ref-eda-controller-variables.adoc
  downstream/modules/platform/ref-general-inventory-variables.adoc
  downstream/modules/platform/ref-hub-variables.adoc
Labels: Technical review complete, 2.4

#568 Added inventory variables (#478)
  downstream/modules/platform/ref-controller-variables.adoc
  downstream/modules/platform/ref-eda-controller-variables.adoc
  downstream/modules/platform/ref-general-inventory-variables.adoc
  downstream/modules/platform/ref-hub-variables.adoc
Labels: 2.4

#579 Added deprecation notice
  aap-common/assembly-appendix-release-notes.adoc
  stories/topics/proc-aws-deploy-new-vpc.adoc
  stories/topics/proc-gcp-deploy-with-new-vpc.adoc
Labels: Ansible on AWS, AAP on GCP

#584 Link duplicate topics in hub documentation
  downstream/modules/hub/proc-add-user-to-group.adoc
  downstream/modules/hub/proc-assigning-permissions.adoc
  downstream/modules/hub/proc-create-groups.adoc
Labels: Ready for review, Docathon, Needs backport to 2.4, Automation Hub, 2.4

#586 Link duplicate topics in hub documentation (#584)
  downstream/modules/hub/proc-add-user-to-group.adoc
  downstream/modules/hub/proc-assigning-permissions.adoc
  downstream/modules/hub/proc-create-groups.adoc
Labels: 2.4

#571 Create section 28 "Notifications" of the Controller UG
  downstream/assemblies/platform/assembly-ug-controller-notifications.adoc
  downstream/images/ug-completed-notifications-view.png
  downstream/images/ug-notification-template-customize-simple-syntax.png
  downstream/images/ug-notification-template-customize.png
  downstream/images/ug-notification-template-email.png
  downstream/images/ug-notification-template-grafana.png
  downstream/images/ug-notification-template-irc.png
  downstream/images/ug-notification-template-mattermost.png
  downstream/images/ug-notification-template-pagerduty.png
  downstream/images/ug-notification-template-rocketchat.png
  downstream/images/ug-notification-template-slack.png
  downstream/images/ug-notification-template-twilio.png
  downstream/images/ug-notification-template-webhook.png
  downstream/images/ug-projects-notifications-example-list.png
  downstream/images/ug-system-misc-baseurl.png
  downstream/modules/platform/con-controller-configure-hostname-notifications.adoc
  downstream/modules/platform/con-controller-enable-notifications.adoc
  downstream/modules/platform/con-controller-notification-hierarchy.adoc
  downstream/modules/platform/con-controller-notification-types.adoc
  downstream/modules/platform/con-controller-notification-workflow.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/modules/platform/proc-controller-create-custom-notifications.adoc
  downstream/modules/platform/proc-controller-create-notification-template.adoc
  downstream/modules/platform/proc-controller-reset-tower-base.adoc
  downstream/modules/platform/ref-controller-approval-nodes.adoc
  downstream/modules/platform/ref-controller-notification-email.adoc
  downstream/modules/platform/ref-controller-notification-grafana.adoc
  downstream/modules/platform/ref-controller-notification-irc.adoc
  downstream/modules/platform/ref-controller-notification-mattermost.adoc
  downstream/modules/platform/ref-controller-notification-pager-duty.adoc
  downstream/modules/platform/ref-controller-notification-rocketchat.adoc
  downstream/modules/platform/ref-controller-notification-slack.adoc
  downstream/modules/platform/ref-controller-notification-twilio.adoc
  downstream/modules/platform/ref-controller-notification-webhook-payloads.adoc
  downstream/modules/platform/ref-controller-notification-webhook.adoc
  downstream/modules/platform/ref-controller-notifications-api.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Needs backport to 2.4, Controller, 2.4

#587 Create 'Glossary' section
  downstream/assemblies/platform/assembly-controller-glossary.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Needs backport to 2.4, Controller, 2.4

#589 Create section 28 "Notifications" of the Controller UG (#571)
  downstream/assemblies/platform/assembly-ug-controller-notifications.adoc
  downstream/images/ug-completed-notifications-view.png
  downstream/images/ug-notification-template-customize-simple-syntax.png
  downstream/images/ug-notification-template-customize.png
  downstream/images/ug-notification-template-email.png
  downstream/images/ug-notification-template-grafana.png
  downstream/images/ug-notification-template-irc.png
  downstream/images/ug-notification-template-mattermost.png
  downstream/images/ug-notification-template-pagerduty.png
  downstream/images/ug-notification-template-rocketchat.png
  downstream/images/ug-notification-template-slack.png
  downstream/images/ug-notification-template-twilio.png
  downstream/images/ug-notification-template-webhook.png
  downstream/images/ug-projects-notifications-example-list.png
  downstream/images/ug-system-misc-baseurl.png
  downstream/modules/platform/con-controller-configure-hostname-notifications.adoc
  downstream/modules/platform/con-controller-enable-notifications.adoc
  downstream/modules/platform/con-controller-notification-hierarchy.adoc
  downstream/modules/platform/con-controller-notification-types.adoc
  downstream/modules/platform/con-controller-notification-workflow.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/modules/platform/proc-controller-create-custom-notifications.adoc
  downstream/modules/platform/proc-controller-create-notification-template.adoc
  downstream/modules/platform/proc-controller-reset-tower-base.adoc
  downstream/modules/platform/ref-controller-approval-nodes.adoc
  downstream/modules/platform/ref-controller-notification-email.adoc
  downstream/modules/platform/ref-controller-notification-grafana.adoc
  downstream/modules/platform/ref-controller-notification-irc.adoc
  downstream/modules/platform/ref-controller-notification-mattermost.adoc
  downstream/modules/platform/ref-controller-notification-pager-duty.adoc
  downstream/modules/platform/ref-controller-notification-rocketchat.adoc
  downstream/modules/platform/ref-controller-notification-slack.adoc
  downstream/modules/platform/ref-controller-notification-twilio.adoc
  downstream/modules/platform/ref-controller-notification-webhook-payloads.adoc
  downstream/modules/platform/ref-controller-notification-webhook.adoc
  downstream/modules/platform/ref-controller-notifications-api.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: 2.4

#596 Update GalaxyNG S3 URL
  downstream/archive/archived-modules/platform/ref-network-ports-protocols.adoc
  downstream/assemblies/platform/assembly-network-ports-protocols.adoc
Labels: Ready for review, Needs backport to 2.4

#598 Update GalaxyNG S3 URL (#596)
  downstream/archive/archived-modules/platform/ref-network-ports-protocols.adoc
  downstream/assemblies/platform/assembly-network-ports-protocols.adoc
Labels: 2.4

#590 Initial commit: Adding section 29 to Controller UG
  downstream/assemblies/platform/assembly-ug-controller-attributes-custom-notifications.adoc
  downstream/modules/platform/ref-controller-supported-attributes.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Needs backport to 2.4, Not ready for peer review, Controller, 2.4

#600 Initial commit: Adding section 29 to Controller UG (#590)
  downstream/assemblies/platform/assembly-ug-controller-attributes-custom-notifications.adoc
  downstream/modules/platform/ref-controller-supported-attributes.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Controller, 2.4

#591 Create 'Security' section of Controller UG
  downstream/assemblies/platform/assembly-controller-security.adoc
  downstream/images/configure-tower-jobs-isolated-jobs-fields.png
  downstream/images/rbac-heirarchy-morecomplex.png
  downstream/images/rbac-multiple-resources-scenario.png
  downstream/images/rbac-role-hierarchy.png
  downstream/images/user-role-relationship.png
  downstream/modules/platform/con-controller-function-of-roles.adoc
  downstream/modules/platform/con-controller-playbook-access-info-sharing.adoc
  downstream/modules/platform/con-controller-rbac-permissions.adoc
  downstream/modules/platform/con-controller-rbac.adoc
  downstream/modules/platform/con-controller-role-hierarchy.adoc
  downstream/modules/platform/con-independence-of-resource-roles.adoc
  downstream/modules/platform/ref-controller-applying-rbac.adoc
  downstream/modules/platform/ref-controller-isolation-functionality.adoc
  downstream/modules/platform/ref-controller-rbac-built-in-roles.adoc
  downstream/modules/platform/ref-controller-rbac-create-inventory.adoc
  downstream/modules/platform/ref-controller-rbac-edit-job-template.adoc
  downstream/modules/platform/ref-controller-rbac-edit-orgs.adoc
  downstream/modules/platform/ref-controller-rbac-edit-projects.adoc
  downstream/modules/platform/ref-controller-rbac-edit-user.adoc
  downstream/modules/platform/ref-controller-rbac-personas.adoc
  downstream/modules/platform/ref-controller-rbac-roles.adoc
  downstream/modules/platform/ref-controller-rbac-user-view.adoc
  downstream/modules/platform/ref-necessary-permissions-job-templates.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Needs backport to 2.4, Controller, 2.4

#601 Create 'Security' section of Controller UG (#591)
  downstream/assemblies/platform/assembly-controller-security.adoc
  downstream/images/configure-tower-jobs-isolated-jobs-fields.png
  downstream/images/rbac-heirarchy-morecomplex.png
  downstream/images/rbac-multiple-resources-scenario.png
  downstream/images/rbac-role-hierarchy.png
  downstream/images/user-role-relationship.png
  downstream/modules/platform/con-controller-function-of-roles.adoc
  downstream/modules/platform/con-controller-playbook-access-info-sharing.adoc
  downstream/modules/platform/con-controller-rbac-permissions.adoc
  downstream/modules/platform/con-controller-rbac.adoc
  downstream/modules/platform/con-controller-role-hierarchy.adoc
  downstream/modules/platform/con-independence-of-resource-roles.adoc
  downstream/modules/platform/ref-controller-applying-rbac.adoc
  downstream/modules/platform/ref-controller-isolation-functionality.adoc
  downstream/modules/platform/ref-controller-rbac-built-in-roles.adoc
  downstream/modules/platform/ref-controller-rbac-create-inventory.adoc
  downstream/modules/platform/ref-controller-rbac-edit-job-template.adoc
  downstream/modules/platform/ref-controller-rbac-edit-orgs.adoc
  downstream/modules/platform/ref-controller-rbac-edit-projects.adoc
  downstream/modules/platform/ref-controller-rbac-edit-user.adoc
  downstream/modules/platform/ref-controller-rbac-personas.adoc
  downstream/modules/platform/ref-controller-rbac-roles.adoc
  downstream/modules/platform/ref-controller-rbac-user-view.adoc
  downstream/modules/platform/ref-necessary-permissions-job-templates.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: 2.4

#603 Create 'Best practices' section.
  downstream/assemblies/platform/assembly-controller-best-practices.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#604 Create 'Best practices' section. (#603)
  downstream/assemblies/platform/assembly-controller-best-practices.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: 2.4

#582 Lightspeed attributes update
  lightspeed/attributes/attributes.adoc
Labels: Lightspeed

#608 AAP-15814 - Added a release note regarding the hub docathon changes
  downstream/titles/release-notes/topics/docs-24.adoc
Labels: Ready for review, Needs backport to 2.4, AAP Release notes, 2.4

#602 Adding section 30 "Schedules" to Controller ug
  downstream/assemblies/platform/assembly-ug-controller-schedules.adoc
  downstream/images/ug-create-schedule.png
  downstream/images/ug-generic-create-schedule.png
  downstream/images/ug-schedules-sample-list.png
  downstream/modules/platform/proc-controller-adding-new-schedule.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Ready for review, Needs backport to 2.4, Controller, 2.4

#611 Adding section 30 "Schedules" to Controller ug (#602)
  downstream/assemblies/platform/assembly-ug-controller-schedules.adoc
  downstream/images/ug-create-schedule.png
  downstream/images/ug-generic-create-schedule.png
  downstream/images/ug-schedules-sample-list.png
  downstream/modules/platform/proc-controller-adding-new-schedule.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Controller, 2.4

#612 Break out code blocks for easier copying of config details
  downstream/modules/platform/proc-using-postinstall.adoc
Labels: Ready for review, Needs backport to 2.4

#613 Break out code blocks for easier copying of config details (#612)
  downstream/modules/platform/proc-using-postinstall.adoc
Labels: 2.4

#494 AAP-15740 Add welcome page for AAP on Azure
  attributes/attributes.adoc
  images/azure-aap-landing-page-overview.png
  images/bell.png
  stories/topics/proc-azure-accessing-aap.adoc
  stories/topics/proc-azure-nw-access-details.adoc
Labels: AAP on clouds, AAP on Azure

#607 Lightspeed Master.adoc
  lightspeed/titles/lightspeed-user-guide/docinfo.xml
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Lightspeed

#572 Assemblies: Assigning seat licenses; Logging in and out of the Ansible Lightspeed portal; Installing and Configuring the Ansible VS Code extension
  lightspeed/assemblies/assembly_assigning-seat-licenses.adoc
  lightspeed/assemblies/assembly_configuring-vscode-extension.adoc
  lightspeed/assemblies/assembly_logging-in-out-portal.adoc
  lightspeed/images/lightspeed-login-screen.png
  lightspeed/images/lightspeed-vs-code-settings.png
  lightspeed/modules/proc_assign-seat-licenses.adoc
  lightspeed/modules/proc_configure-vscode-extension.adoc
  lightspeed/modules/proc_install-vscode-extension.adoc
  lightspeed/modules/proc_log-into-portal.adoc
  lightspeed/modules/proc_log-out-of-portal.adoc
  lightspeed/modules/proc_remove-seat-licenses.adoc
Labels: Ready for review, Lightspeed

#573 Assembly: Logging into Ansible Lightspeed Administrator Portal
  lightspeed/assemblies/assembly_logging-in-lightspeed-admin-portal.adoc
  lightspeed/modules/proc_log-in-administrator-portal.adoc
Labels: Not ready for peer review, Lightspeed

#616 Master.adoc and docinfo.xml updates
  lightspeed/titles/lightspeed-release-notes/docinfo.xml
  lightspeed/titles/lightspeed-user-guide/docinfo.xml
Labels: Lightspeed

#619 Lightspeed: Fixes attributions and adds include statements to assemblies
  lightspeed/assemblies/assembly_assigning-seat-licenses.adoc
  lightspeed/assemblies/assembly_configure-code-assistant.adoc
  lightspeed/assemblies/assembly_configuring-vscode-extension.adoc
  lightspeed/assemblies/assembly_logging-in-lightspeed-admin-portal.adoc
  lightspeed/assemblies/assembly_logging-in-out-portal.adoc
  lightspeed/modules/con_wca-key-model-id.adoc
  lightspeed/modules/proc_assign-seat-licenses.adoc
  lightspeed/modules/proc_configure-vscode-extension.adoc
  lightspeed/modules/proc_install-vscode-extension.adoc
  lightspeed/modules/proc_log-in-administrator-portal.adoc
  lightspeed/modules/proc_log-into-portal.adoc
  lightspeed/modules/proc_log-out-of-portal.adoc
  lightspeed/modules/proc_obtain-config-wca-and-model-id.adoc
  lightspeed/modules/proc_remove-seat-licenses.adoc
Labels: Lightspeed

#617 Builds Intro section
  lightspeed/assemblies/assembly-lightspeed-intro.adoc
  lightspeed/assemblies/assembly_assigning-seat-licenses.adoc
  lightspeed/assemblies/assembly_configure-code-assistant.adoc
  lightspeed/assemblies/assembly_configuring-vscode-extension.adoc
  lightspeed/assemblies/assembly_logging-in-lightspeed-admin-portal.adoc
  lightspeed/assemblies/assembly_logging-in-out-portal.adoc
  lightspeed/modules/con-lightspeed-about.adoc
  lightspeed/modules/con_lightspeed-key-features.adoc
  lightspeed/modules/con_lightspeed-process.adoc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Not ready for peer review, Lightspeed

#620 Changed title and moved section
  stories/assembly-gcp-intro.adoc
  stories/assembly-gcp-support.adoc
  stories/topics/ref-gcp-supported-changes.adoc
Labels: documentation, AAP on GCP

#615 Adding section 31 to Controller UG
  downstream/assemblies/platform/assembly-ug-controller-setting-up-insights.adoc
  downstream/images/ug-credential-types-popup-window-insights.png
  downstream/images/ug-insights-create-job-template.png
  downstream/images/ug-insights-create-project-insights-form.png
  downstream/images/ug-update-button.png
  downstream/modules/platform/con-controller-create-insights-inventory.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/modules/platform/proc-controller-create-insights-credential.adoc
  downstream/modules/platform/proc-controller-create-insights-project.adoc
  downstream/modules/platform/proc-controller-remediate-insights-inventory.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Ready for review, Needs backport to 2.4, Controller, 2.4

#621 Adding section 31 to Controller UG (#615)
  downstream/assemblies/platform/assembly-ug-controller-setting-up-insights.adoc
  downstream/images/ug-credential-types-popup-window-insights.png
  downstream/images/ug-insights-create-job-template.png
  downstream/images/ug-insights-create-project-insights-form.png
  downstream/images/ug-update-button.png
  downstream/modules/platform/con-controller-create-insights-inventory.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/modules/platform/proc-controller-create-insights-credential.adoc
  downstream/modules/platform/proc-controller-create-insights-project.adoc
  downstream/modules/platform/proc-controller-remediate-insights-inventory.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: Controller, 2.4

#622 Corrections from sanity check
  downstream/attributes/attributes.adoc
  downstream/images/projects-notifications-example-list.png
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#625 Adjust machine type and minimum count
  stories/topics/con-azure-infrastructure-usage.adoc
Labels: AAP on clouds, AAP on Azure

#624 Updates include statements
  lightspeed/assemblies/assembly_assigning-seat-licenses.adoc
  lightspeed/assemblies/assembly_configure-code-assistant.adoc
  lightspeed/assemblies/assembly_configuring-vscode-extension.adoc
  lightspeed/assemblies/assembly_logging-in-lightspeed-admin-portal.adoc
  lightspeed/assemblies/assembly_logging-in-out-portal.adoc
Labels: Lightspeed

#627 Updates master.adocs so they will build
  lightspeed/titles/lightspeed-release-notes/master.adoc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Lightspeed

#628 Lightspeed build: fixes context formatting in two assemblies
  lightspeed/assemblies/assembly_logging-in-lightspeed-admin-portal.adoc
  lightspeed/assemblies/assembly_logging-in-out-portal.adoc
Labels: Lightspeed

#575 Assembly: Using the Ansible code bot to get code improvement suggestions
  lightspeed/assemblies/assembly_using-code-bot-for-suggestions.adoc
  lightspeed/images/code_bot_login_screen.png
  lightspeed/images/schedule_interval_daily.png
  lightspeed/modules/proc_configure-repo-scan.adoc
  lightspeed/modules/proc_install-code-bot.adoc
  lightspeed/modules/proc_manually-scan-repo.adoc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Lightspeed

#630 Update procedure lists in asciidoc (#626)
  downstream/assemblies/platform/assembly-controller-best-practices.adoc
  downstream/assemblies/platform/assembly-ug-controller-instance-groups.adoc
  downstream/assemblies/platform/assembly-ug-controller-work-with-webhooks.adoc
  downstream/modules/platform/con-controller-fact-scan-job-templates.adoc
  downstream/modules/platform/con-controller-keep-subscription-in-compliance.adoc
  downstream/modules/platform/con-controller-work-with-notifications.adoc
  downstream/modules/platform/proc-controller-add-groups-to-groups.adoc
  downstream/modules/platform/proc-controller-add-hosts.adoc
  downstream/modules/platform/proc-controller-add-source.adoc
  downstream/modules/platform/proc-controller-adding-a-project.adoc
  downstream/modules/platform/proc-controller-adding-gpg-key.adoc
  downstream/modules/platform/proc-controller-adding-new-schedule.adoc
  downstream/modules/platform/proc-controller-create-application.adoc
  downstream/modules/platform/proc-controller-create-credential.adoc
  downstream/modules/platform/proc-controller-create-custom-notifications.adoc
  downstream/modules/platform/proc-controller-create-insights-credential.adoc
  downstream/modules/platform/proc-controller-create-insights-project.adoc
  downstream/modules/platform/proc-controller-create-instance-group.adoc
  downstream/modules/platform/proc-controller-create-notification-template.adoc
  downstream/modules/platform/proc-controller-create-survey.adoc
  downstream/modules/platform/proc-controller-creating-a-user.adoc
  downstream/modules/platform/proc-controller-define-filter-with-facts.adoc
  downstream/modules/platform/proc-controller-enable-provision-callbacks.adoc
  downstream/modules/platform/proc-controller-remediate-insights-inventory.adoc
  downstream/modules/platform/proc-controller-set-up-github-webhook.adoc
  downstream/modules/platform/proc-controller-set-up-gitlab-webhook.adoc
  downstream/modules/platform/proc-controller-sourced-from-project.adoc
  downstream/modules/platform/proc-controller-updating-a-project.adoc
  downstream/modules/platform/proc-controller-use-an-exec-env.adoc
  downstream/modules/platform/proc-projects-using-collections-with-hub.adoc
  downstream/modules/platform/ref-controller-google-compute.adoc
  downstream/modules/platform/ref-controller-group-name-vars-filtering.adoc
  downstream/modules/platform/ref-controller-host-details.adoc
  downstream/modules/platform/ref-controller-inventory-sync-details.adoc
  downstream/modules/platform/ref-controller-notification-grafana.adoc
  downstream/modules/platform/ref-controller-notification-irc.adoc
  downstream/modules/platform/ref-controller-notification-mattermost.adoc
  downstream/modules/platform/ref-controller-notification-rocketchat.adoc
  downstream/modules/platform/ref-controller-notification-webhook.adoc
  downstream/modules/platform/ref-controller-playbook-run-details.adoc
  downstream/modules/platform/ref-controller-proj-sign-prerequisites.adoc
  downstream/modules/platform/ref-controller-scm-inventory-details.adoc
  downstream/modules/platform/ref-controller-workflows-extra-variables.adoc
  downstream/modules/platform/ref-work-with-job-templates.adoc
Labels: Controller, 2.4

#578 Add bundle errata releases to 2.4 release notes
  downstream/titles/release-notes/attributes
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/aap-24.adoc
  downstream/titles/release-notes/topics/controller-440.adoc
  downstream/titles/release-notes/topics/docs-24.adoc
  downstream/titles/release-notes/topics/eda-24.adoc
  downstream/titles/release-notes/topics/errata-24-aug-10.adoc
  downstream/titles/release-notes/topics/errata-24-aug-28.adoc
  downstream/titles/release-notes/topics/errata-24-jul-26.adoc
  downstream/titles/release-notes/topics/errata-24-sep-12.adoc
  downstream/titles/release-notes/topics/errata-24-sep-24.adoc
  downstream/titles/release-notes/topics/hub-464.adoc
  downstream/titles/release-notes/topics/operator-240.adoc
  downstream/titles/release-notes/topics/platform-intro.adoc
  downstream/titles/release-notes/topics/upgrading.adoc
Labels: Needs backport to 2.4, Ready for technical review

#631 Add Controller Admin Guide
  downstream/titles/controller/controller-admin-guide/aap-common
  downstream/titles/controller/controller-admin-guide/attributes
  downstream/titles/controller/controller-admin-guide/docinfo.xml
  downstream/titles/controller/controller-admin-guide/images
  downstream/titles/controller/controller-admin-guide/master.adoc
  downstream/titles/controller/controller-admin-guide/platform
Labels: Controller

#632 Add bundle errata releases to 2.4 release notes (#578)
  downstream/titles/release-notes/attributes
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/aap-24.adoc
  downstream/titles/release-notes/topics/controller-440.adoc
  downstream/titles/release-notes/topics/docs-24.adoc
  downstream/titles/release-notes/topics/eda-24.adoc
  downstream/titles/release-notes/topics/errata-24-aug-10.adoc
  downstream/titles/release-notes/topics/errata-24-aug-28.adoc
  downstream/titles/release-notes/topics/errata-24-jul-26.adoc
  downstream/titles/release-notes/topics/errata-24-sep-12.adoc
  downstream/titles/release-notes/topics/errata-24-sep-24.adoc
  downstream/titles/release-notes/topics/hub-464.adoc
  downstream/titles/release-notes/topics/operator-240.adoc
  downstream/titles/release-notes/topics/platform-intro.adoc
  downstream/titles/release-notes/topics/upgrading.adoc
Labels: AAP Release notes, 2.4

#633 Corrections to Controller UG
  downstream/assemblies/platform/assembly-controller-credentials.adoc
  downstream/assemblies/platform/assembly-controller-custom-credentials.adoc
  downstream/assemblies/platform/assembly-controller-licensing.adoc
  downstream/assemblies/platform/assembly-controller-search.adoc
  downstream/assemblies/platform/assembly-controller-secret-management.adoc
  downstream/modules/platform/con-controller-access-organizations.adoc
  downstream/modules/platform/con-controller-access.adoc
  downstream/modules/platform/con-controller-administration.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/modules/platform/con-controller-resources.adoc
  downstream/modules/platform/proc-controller-add-organization-user.adoc
  downstream/modules/platform/proc-controller-create-application.adoc
  downstream/modules/platform/proc-controller-credential-create-openshift-account.adoc
  downstream/modules/platform/ref-controller-api-considerations.adoc
  downstream/modules/platform/ref-controller-building-exec-env.adoc
  downstream/modules/platform/ref-controller-credential-aws.adoc
  downstream/modules/platform/ref-controller-credential-azure-key.adoc
  downstream/modules/platform/ref-controller-credential-centrify-vault.adoc
  downstream/modules/platform/ref-controller-credential-cyberark-central.adoc
  downstream/modules/platform/ref-controller-credential-cyberark-conjur.adoc
  downstream/modules/platform/ref-controller-credential-galaxy-hub.adoc
  downstream/modules/platform/ref-controller-credential-hashiCorp-secret.adoc
  downstream/modules/platform/ref-controller-credential-hashiCorp-vault.adoc
  downstream/modules/platform/ref-controller-credential-network.adoc
  downstream/modules/platform/ref-controller-credential-thycotic-server.adoc
  downstream/modules/platform/ref-controller-credential-thycotic-vault.adoc
  downstream/modules/platform/ref-controller-credential-types.adoc
  downstream/modules/platform/ref-controller-dependencies.adoc
  downstream/modules/platform/ref-controller-ee-configuration-options.adoc
  downstream/modules/platform/ref-controller-license-support.adoc
  downstream/modules/platform/ref-controller-organization-notifications.adoc
  downstream/modules/platform/ref-controller-other-search-considerations.adoc
  downstream/modules/platform/ref-controller-team-access.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#636 Lightspeed: fixes to pantheon build
  lightspeed/assemblies/assembly_configuring-vscode-extension.adoc
  lightspeed/assemblies/assembly_using-code-bot-for-suggestions.adoc
Labels: Lightspeed

#638 Fix inverted commas and define context value
  lightspeed/modules/con-lightspeed-about.adoc
  lightspeed/modules/con_wca-key-model-id.adoc
  lightspeed/modules/proc_configure-repo-scan.adoc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Lightspeed

#576 Assembly: Requesting Task Recommendations
  lightspeed/assemblies/assembly_requesting-task-recommendations.adoc
  lightspeed/modules/con_overview-and-best-practices.adoc
  lightspeed/modules/proc_configure-repo-scan.adoc
  lightspeed/modules/proc_manually-scan-repo.adoc
  lightspeed/modules/proc_multi-task-recs.adoc
  lightspeed/modules/proc_provide-feedback.adoc
  lightspeed/modules/proc_single-task-recs.adoc
  lightspeed/modules/proc_view-training-matches.adoc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Lightspeed

#614 Adding modules to framework
  aap-common/assembly-aap-command-generator.adoc
  stories/assembly-smazure-additional-configs.adoc
  stories/assembly-smazure-automation-workloads.adoc
  stories/assembly-smazure-backup-and-restore.adoc
  stories/assembly-smazure-deploying-extension-nodes.adoc
  stories/assembly-smazure-networking-access.adoc
  stories/assembly-smazure-removing-extension-nodes.adoc
  stories/assembly-smazure-support.adoc
  stories/assembly-smazure-uninstall.adoc
  stories/assembly-smazure-upgrade.adoc
  stories/topics/con-smazure-backup-process.adoc
  stories/topics/con-smazure-networking-options.adoc
  stories/topics/con-smazure-pull-container-image.adoc
  stories/topics/con-smazure-pull-deploy-container-image.adoc
  stories/topics/con-smazure-restore-process.adoc
  stories/topics/con-smazure-uninstall-postbackup.adoc
  stories/topics/con-smazure-uninstall-postupgrade.adoc
  stories/topics/con-smazure-upgrade-backup-process.adoc
  stories/topics/con-smazure-upgrade-restore-from-stack.adoc
  stories/topics/con-smazure-upgrade-upgrading.adoc
  stories/topics/proc-remove-smazure-backup-files.adoc
  stories/topics/proc-smazure-additional-configs-replace-tls-certificate.adoc
  stories/topics/proc-smazure-additional-configs-update-admin-password.adoc
  stories/topics/proc-smazure-backup-container-image.adoc
  stories/topics/proc-smazure-create-backup-data-file.adoc
  stories/topics/proc-smazure-delete-extension-nodes.adoc
  stories/topics/proc-smazure-deleting-backups-playbook.adoc
  stories/topics/proc-smazure-deleting-backups-troubleshooting-playbook.adoc
  stories/topics/proc-smazure-deploying-extension-nodes.adoc
  stories/topics/proc-smazure-generate-add-data-files.adoc
  stories/topics/proc-smazure-generate-remove-data-files.adoc
  stories/topics/proc-smazure-generate-restore-yml-file.adoc
  stories/topics/proc-smazure-generate-upgrade-data-file.adoc
  stories/topics/proc-smazure-removing-extension-nodes.adoc
  stories/topics/proc-smazure-run-backup-playbook.adoc
  stories/topics/proc-smazure-run-restore-command.adoc
  stories/topics/proc-smazure-running-upgrade.adoc
  stories/topics/proc-smazure-uninstall-application.adoc
  stories/topics/proc-smazure-update-add-data-files.adoc
  stories/topics/proc-smazure-update-remove-data-file.adoc
  stories/topics/proc-smazure-upgrade-pull-container-image.adoc
  stories/topics/proc-smazure-vpc-peering.adoc
  stories/topics/ref-smazure-automation-performance.adoc
  stories/topics/ref-smazure-decide-offer-type.adoc
  stories/topics/ref-smazure-deployment-scaling.adoc
  stories/topics/ref-smazure-iam-restore-minimum-permissions.adoc
  stories/topics/ref-smazure-iam-upgrade-minimum-permissions.adoc
  stories/topics/ref-smazure-populate-backup-file.adoc
  stories/topics/ref-smazure-populate-restore-file.adoc
  stories/topics/ref-smazure-restore-minimum-permissions.adoc
  stories/topics/ref-smazure-supported-changes.adoc
  stories/topics/ref-smazure-update-upgrade-data-file.adoc
Labels: self-managed AAP on Azure

#642 Creates Troubleshooting assembly and associated modules
  lightspeed/assemblies/assembly_troubleshooting-lightspeed.adoc
  lightspeed/modules/proc_troubleshooting-code-bot.adoc
  lightspeed/modules/proc_troubleshooting-lightspeed-config.adoc
  lightspeed/modules/proc_troubleshooting-vscode.adoc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Not ready for peer review, Lightspeed

#640 Corrections to Controller User Guide
  downstream/assemblies/platform/assembly-controller-licensing.adoc
  downstream/assemblies/platform/assembly-controller-projects.adoc
  downstream/assemblies/platform/assembly-ug-controller-job-slicing.adoc
  downstream/assemblies/platform/assembly-ug-controller-job-templates.adoc
  downstream/assemblies/platform/assembly-ug-controller-jobs.adoc
  downstream/assemblies/platform/assembly-ug-controller-notifications.adoc
  downstream/assemblies/platform/assembly-ug-controller-setting-up-insights.adoc
  downstream/assemblies/platform/assembly-ug-controller-workflow-job-templates.adoc
  downstream/assemblies/platform/assembly-ug-controller-workflows.adoc
  downstream/images/arrow.png
  downstream/images/download.png
  downstream/modules/platform/con-controller-capacity-determination.adoc
  downstream/modules/platform/con-controller-inventory-sync-jobs.adoc
  downstream/modules/platform/con-controller-resource-determination-capacity.adoc
  downstream/modules/platform/con-controller-role-based-access-controls.adoc
  downstream/modules/platform/con-controller-workflow-scenarios.adoc
  downstream/modules/platform/proc-controller-create-instance-group.adoc
  downstream/modules/platform/proc-controller-create-job-template.adoc
  downstream/modules/platform/proc-controller-create-workflow-template.adoc
  downstream/modules/platform/proc-controller-pass-extra-variables-provisioning-callbacks.adoc
  downstream/modules/platform/proc-controller-scheduling-job-templates.adoc
  downstream/modules/platform/proc-controller-view-jobs-associated-with-instance-group.adoc
  downstream/modules/platform/ref-controller-cpu-relative-capacity.adoc
  downstream/modules/platform/ref-controller-extra-variables.adoc
  downstream/modules/platform/ref-controller-rbac-personas.adoc
  downstream/modules/platform/ref-controller-smart-inventories.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#644 Corrections to Controller User Guide (#640)
  downstream/assemblies/platform/assembly-controller-licensing.adoc
  downstream/assemblies/platform/assembly-controller-projects.adoc
  downstream/assemblies/platform/assembly-ug-controller-job-slicing.adoc
  downstream/assemblies/platform/assembly-ug-controller-job-templates.adoc
  downstream/assemblies/platform/assembly-ug-controller-jobs.adoc
  downstream/assemblies/platform/assembly-ug-controller-notifications.adoc
  downstream/assemblies/platform/assembly-ug-controller-setting-up-insights.adoc
  downstream/assemblies/platform/assembly-ug-controller-workflow-job-templates.adoc
  downstream/assemblies/platform/assembly-ug-controller-workflows.adoc
  downstream/images/arrow.png
  downstream/images/download.png
  downstream/modules/platform/con-controller-capacity-determination.adoc
  downstream/modules/platform/con-controller-inventory-sync-jobs.adoc
  downstream/modules/platform/con-controller-resource-determination-capacity.adoc
  downstream/modules/platform/con-controller-role-based-access-controls.adoc
  downstream/modules/platform/con-controller-workflow-scenarios.adoc
  downstream/modules/platform/proc-controller-create-instance-group.adoc
  downstream/modules/platform/proc-controller-create-job-template.adoc
  downstream/modules/platform/proc-controller-create-workflow-template.adoc
  downstream/modules/platform/proc-controller-pass-extra-variables-provisioning-callbacks.adoc
  downstream/modules/platform/proc-controller-scheduling-job-templates.adoc
  downstream/modules/platform/proc-controller-view-jobs-associated-with-instance-group.adoc
  downstream/modules/platform/ref-controller-cpu-relative-capacity.adoc
  downstream/modules/platform/ref-controller-extra-variables.adoc
  downstream/modules/platform/ref-controller-rbac-personas.adoc
  downstream/modules/platform/ref-controller-smart-inventories.adoc
Labels: documentation, Controller, 2.4

#646 Create section 2 of the Controller AG (#639)
  downstream/assemblies/platform/assembly-ag-controller-start-stop-controller.adoc
  downstream/modules/platform/con-controller-start-stop.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: Controller, 2.4

#647 Create 'Licensing' section of Controller AG
  downstream/assemblies/platform/assembly-controller-licensing.adoc
  downstream/modules/platform/ref-controller-trial-evaluation.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#648 Create 'Licensing' section of Controller AG (#647)
  downstream/assemblies/platform/assembly-controller-licensing.adoc
  downstream/modules/platform/ref-controller-trial-evaluation.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#650 Adds new module content to introduction
  lightspeed/assemblies/assembly-lightspeed-intro.adoc
  lightspeed/modules/con_training-data.adoc
  lightspeed/modules/con_wca-key-model-id.adoc
Labels: Lightspeed

#645 Updating links in Controller User Guide
  downstream/assemblies/platform/assembly-controller-applications.adoc
  downstream/assemblies/platform/assembly-controller-credentials.adoc
  downstream/assemblies/platform/assembly-controller-search.adoc
  downstream/modules/platform/con-controller-access-organizations.adoc
  downstream/modules/platform/con-controller-administration.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/modules/platform/proc-controller-add-organization-user.adoc
  downstream/modules/platform/proc-controller-attaching-subscriptions.adoc
  downstream/modules/platform/proc-controller-configure-secret-lookups.adoc
  downstream/modules/platform/proc-controller-create-application.adoc
  downstream/modules/platform/proc-controller-create-credential-type.adoc
  downstream/modules/platform/proc-controller-create-credential.adoc
  downstream/modules/platform/proc-controller-create-organization.adoc
  downstream/modules/platform/proc-controller-obtaining-subscriptions-manifest.adoc
  downstream/modules/platform/proc-controller-user-tokens.adoc
  downstream/modules/platform/ref-controller-applications-getting-started.adoc
  downstream/modules/platform/ref-controller-content-sourcing.adoc
  downstream/modules/platform/ref-controller-credential-GPG-public-key.adoc
  downstream/modules/platform/ref-controller-credential-azure-resource.adoc
  downstream/modules/platform/ref-controller-credential-galaxy-hub.adoc
  downstream/modules/platform/ref-controller-credential-machine.adoc
  downstream/modules/platform/ref-controller-credential-openShift.adoc
  downstream/modules/platform/ref-controller-credential-thycotic-vault.adoc
  downstream/modules/platform/ref-controller-credential-vault.adoc
  downstream/modules/platform/ref-controller-credential-virtualization.adoc
  downstream/modules/platform/ref-controller-credentials-getting-started.adoc
  downstream/modules/platform/ref-controller-metadata-credential-input.adoc
  downstream/modules/platform/ref-controller-organization-notifications.adoc
  downstream/modules/platform/ref-controller-team-roles.adoc
  downstream/modules/platform/ref-cyberark-ccp-lookup.adoc
  downstream/modules/platform/ref-cyberark-conjur-lookup.adoc
  downstream/modules/platform/ref-thycotic-devops-vault.adoc
Labels: Needs backport to 2.4, Controller, 2.4

#655 Create Section 3 of the Controller Admin Guide
  downstream/assemblies/platform/assembly-custom-inventory-scripts.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#656 Create Section 3 of the Controller Admin Guide (#655)
  downstream/assemblies/platform/assembly-custom-inventory-scripts.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#599 Attribute for docs feedback in installation guide
  downstream/attributes/attributes.adoc
  downstream/titles/aap-containerized-install/master.adoc
  downstream/titles/aap-hardening/master.adoc
  downstream/titles/aap-installation-guide/master.adoc
  downstream/titles/aap-operations-guide/master.adoc
  downstream/titles/aap-operator-backup/master.adoc
  downstream/titles/aap-operator-installation/master.adoc
  downstream/titles/aap-planning-guide/master.adoc
  downstream/titles/analytics/automation-savings-planner/master.adoc
  downstream/titles/analytics/automation-savings/master.adoc
  downstream/titles/analytics/job-explorer/master.adoc
  downstream/titles/analytics/reports/master.adoc
  downstream/titles/automation-mesh/master.adoc
  downstream/titles/builder/master.adoc
  downstream/titles/central-auth/master.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
  downstream/titles/controller/controller-getting-started/master.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
  downstream/titles/dev-guide/master.adoc
  downstream/titles/eda/eda-getting-started-guide/master.adoc
  downstream/titles/eda/eda-user-guide/master.adoc
  downstream/titles/hub/getting-started/master.adoc
  downstream/titles/hub/managing-content/master.adoc
  downstream/titles/navigator-guide/master.adoc
  downstream/titles/ocp_performance_guide/master.adoc
  downstream/titles/release-notes/master.adoc
  downstream/titles/security-guide/master.adoc
  downstream/titles/security-guide/master.html
  downstream/titles/upgrade/master.adoc
Labels: Ready for review, Needs backport to 2.4, 2.4

#661 Create Section 4 of Controller Admin guide (#657)
  downstream/assemblies/platform/assembly-inventory-file-importing.adoc
  downstream/attributes/attributes.adoc
  downstream/images/jobs-details-scm-sourced-inventories.png
  downstream/modules/platform/con-controller-custom-dynamic-inv-scripts.adoc
  downstream/modules/platform/ref-controller-scm-inv-source-fields.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#660 Use attribute for feedback module (#599)
  downstream/attributes/attributes.adoc
  downstream/titles/aap-containerized-install/master.adoc
  downstream/titles/aap-hardening/master.adoc
  downstream/titles/aap-installation-guide/master.adoc
  downstream/titles/aap-operations-guide/master.adoc
  downstream/titles/aap-operator-backup/master.adoc
  downstream/titles/aap-operator-installation/master.adoc
  downstream/titles/aap-planning-guide/master.adoc
  downstream/titles/analytics/automation-savings-planner/master.adoc
  downstream/titles/analytics/automation-savings/master.adoc
  downstream/titles/analytics/job-explorer/master.adoc
  downstream/titles/analytics/reports/master.adoc
  downstream/titles/automation-mesh/master.adoc
  downstream/titles/builder/master.adoc
  downstream/titles/central-auth/master.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
  downstream/titles/controller/controller-getting-started/master.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
  downstream/titles/dev-guide/master.adoc
  downstream/titles/eda/eda-getting-started-guide/master.adoc
  downstream/titles/eda/eda-user-guide/master.adoc
  downstream/titles/hub/getting-started/master.adoc
  downstream/titles/hub/managing-content/master.adoc
  downstream/titles/navigator-guide/master.adoc
  downstream/titles/ocp_performance_guide/master.adoc
  downstream/titles/release-notes/master.adoc
  downstream/titles/security-guide/master.adoc
  downstream/titles/security-guide/master.html
  downstream/titles/upgrade/master.adoc
Labels: Attributes, 2.4

#659 Add next set of errata release bundles to the release notes
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/errata-24-aug-10.adoc
  downstream/titles/release-notes/topics/errata-24-aug-28.adoc
  downstream/titles/release-notes/topics/errata-24-jul-26.adoc
  downstream/titles/release-notes/topics/errata-24-oct-10.adoc
  downstream/titles/release-notes/topics/errata-24-oct-17.adoc
  downstream/titles/release-notes/topics/errata-24-oct-19.adoc
  downstream/titles/release-notes/topics/errata-24-sep-12.adoc
  downstream/titles/release-notes/topics/errata-24-sep-24.adoc
Labels: Ready for review, Needs backport to 2.4

#663 Add next set of errata release bundles to the release notes (#659)
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/errata-24-aug-10.adoc
  downstream/titles/release-notes/topics/errata-24-aug-28.adoc
  downstream/titles/release-notes/topics/errata-24-jul-26.adoc
  downstream/titles/release-notes/topics/errata-24-oct-10.adoc
  downstream/titles/release-notes/topics/errata-24-oct-17.adoc
  downstream/titles/release-notes/topics/errata-24-oct-19.adoc
  downstream/titles/release-notes/topics/errata-24-sep-12.adoc
  downstream/titles/release-notes/topics/errata-24-sep-24.adoc
Labels: 2.4

#666 Updates to Troubleshooting section; also capitalizes Git where appropriate
  lightspeed/assemblies/assembly_requesting-task-recommendations.adoc
  lightspeed/assemblies/assembly_troubleshooting-lightspeed.adoc
  lightspeed/assemblies/assembly_using-code-bot-for-suggestions.adoc
  lightspeed/modules/con_lightspeed-process.adoc
  lightspeed/modules/con_overview-and-best-practices.adoc
  lightspeed/modules/proc_manually-scan-repo.adoc
  lightspeed/modules/proc_troubleshooting-code-bot.adoc
  lightspeed/modules/proc_troubleshooting-lightspeed-config.adoc
  lightspeed/modules/proc_troubleshooting-vscode.adoc
  lightspeed/modules/proc_view-training-matches.adoc
Labels: Lightspeed

#668 Fixes xref formatting and adds some image captions
  lightspeed/modules/con_lightspeed-process.adoc
  lightspeed/modules/proc_configure-vscode-extension.adoc
  lightspeed/modules/proc_manually-scan-repo.adoc
  lightspeed/modules/proc_multi-task-recs.adoc
  lightspeed/modules/proc_obtain-config-wca-and-model-id.adoc
  lightspeed/modules/proc_troubleshooting-code-bot.adoc
  lightspeed/modules/proc_troubleshooting-vscode.adoc
Labels: Lightspeed

#670 Updated Ansible code bot chapter with latest changes
  lightspeed/assemblies/assembly_using-code-bot-for-suggestions.adoc
  lightspeed/modules/proc_configure-repo-scan.adoc
  lightspeed/modules/proc_install-code-bot.adoc
  lightspeed/modules/proc_manually-scan-repo.adoc
Labels: Lightspeed

#671 Update xrefs in user guide
  lightspeed/images/extensions-icon-vscode.png
  lightspeed/images/settings-icon-ansible-vscode-extension.png
  lightspeed/modules/con_lightspeed-process.adoc
  lightspeed/modules/proc_configure-vscode-extension.adoc
  lightspeed/modules/proc_install-code-bot.adoc
  lightspeed/modules/proc_manually-scan-repo.adoc
  lightspeed/modules/proc_multi-task-recs.adoc
  lightspeed/modules/proc_obtain-config-wca-and-model-id.adoc
  lightspeed/modules/proc_troubleshooting-code-bot.adoc
  lightspeed/modules/proc_troubleshooting-vscode.adoc
Labels: Lightspeed

#672 Updates release notes and adds context variable to release notes master.adoc file
  lightspeed/titles/lightspeed-release-notes/master.adoc
  lightspeed/titles/lightspeed-release-notes/modules/lightspeed-rn-25oct2023.adoc
Labels: Lightspeed

#673 Fixes to release notes doc and master.adoc
  lightspeed/titles/lightspeed-release-notes/master.adoc
  lightspeed/titles/lightspeed-release-notes/modules/lightspeed-rn-25oct2023.adoc
Labels: Lightspeed

#674 Lightspeed: Move inclusivity statement below title
  lightspeed/titles/lightspeed-release-notes/master.adoc
Labels: Lightspeed

#676 Create Section 5 of Controller Admin Guide
  downstream/assemblies/platform/assembly-multi-credential-assignment.adoc
  downstream/images/credentials-create-multivault-credential.png
  downstream/images/job-template-include-multi-vault-credential.png
  downstream/modules/platform/con-controller-multi-cred-backgound.adoc
  downstream/modules/platform/proc-controller-multi-vault-credentials.adoc
  downstream/modules/platform/ref-controller-multi-cred-changes.adoc
  downstream/modules/platform/ref-controller-multi-cred-launch-considerations.adoc
  downstream/modules/platform/ref-controller-prompted-valult-credentials.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#678 Create Section 5 of Controller Admin Guide (#676)
  downstream/assemblies/platform/assembly-multi-credential-assignment.adoc
  downstream/images/credentials-create-multivault-credential.png
  downstream/images/job-template-include-multi-vault-credential.png
  downstream/modules/platform/con-controller-multi-cred-backgound.adoc
  downstream/modules/platform/proc-controller-multi-vault-credentials.adoc
  downstream/modules/platform/ref-controller-multi-cred-changes.adoc
  downstream/modules/platform/ref-controller-multi-cred-launch-considerations.adoc
  downstream/modules/platform/ref-controller-prompted-valult-credentials.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#675 Updated Requesting task recommendations chapter with peer and SME feedback
  lightspeed/assemblies/assembly_requesting-task-recommendations.adoc
  lightspeed/images/lightspeed-multitask-content-matches.png
  lightspeed/images/lightspeed-multitask-requests.png
  lightspeed/images/lightspeed-multitask-vs-code.png
  lightspeed/images/lightspeed-single-task-in-progress.png
  lightspeed/images/lightspeed-task-in-progress.png
  lightspeed/images/lightspeed-vs-code.png
  lightspeed/images/single-task-training-content-match.png
  lightspeed/modules/con_overview-and-best-practices.adoc
  lightspeed/modules/proc_configure-repo-scan.adoc
  lightspeed/modules/proc_multi-task-recs.adoc
  lightspeed/modules/proc_provide-feedback.adoc
  lightspeed/modules/proc_single-task-recs.adoc
  lightspeed/modules/proc_view-training-matches.adoc
Labels: Lightspeed

#680 Lightspeed Remove inline settings icon
  lightspeed/modules/proc_multi-task-recs.adoc
  lightspeed/modules/proc_single-task-recs.adoc
Labels: Lightspeed

#681 Updated titles and Settings icon
  lightspeed/assemblies/assembly_configuring-vscode-extension.adoc
  lightspeed/modules/proc_configure-vscode-extension.adoc
  lightspeed/modules/proc_install-vscode-extension.adoc
  lightspeed/modules/proc_log-into-portal.adoc
  lightspeed/modules/proc_log-out-of-portal.adoc
  lightspeed/modules/proc_manually-scan-repo.adoc
Labels: Lightspeed

#683 remove-extra-icon: Removed extra icon word
  lightspeed/modules/proc_configure-vscode-extension.adoc
Labels: Lightspeed

#684 Config scan schedule: Corrected scan config filename
  lightspeed/modules/proc_configure-repo-scan.adoc
Labels: Lightspeed

#687 Create PPAH title
  downstream/titles/ppah/ppah-install/aap-common
  downstream/titles/ppah/ppah-install/attributes
  downstream/titles/ppah/ppah-install/docinfo.xml
  downstream/titles/ppah/ppah-install/hub
  downstream/titles/ppah/ppah-install/images
  downstream/titles/ppah/ppah-install/master.adoc
  downstream/titles/ppah/ppah-install/snippets
Labels: PPAH

#688 Creates new assembly for ppah guide
  downstream/assemblies/hub/assembly_ppah-installation.adoc
  downstream/modules/hub/proc_ppah-install-dev.adoc
  downstream/modules/hub/proc_ppah-install-ha.adoc
  downstream/modules/hub/proc_ppah-online-offline-install.adoc
  downstream/modules/hub/proc_ppah-pre-install.adoc
  downstream/modules/hub/ref_ppah-access.adoc
  downstream/modules/hub/ref_ppah-config.adoc
  downstream/titles/ppah/ppah-install/master.adoc
Labels: PPAH

#691 Corrected errors in Controller UG
  downstream/assemblies/platform/assembly-controller-best-practices.adoc
  downstream/assemblies/platform/assembly-controller-glossary.adoc
  downstream/assemblies/platform/assembly-ug-controller-setting-up-insights.adoc
  downstream/modules/platform/con-controller-access-organizations.adoc
  downstream/modules/platform/con-controller-keep-subscription-in-compliance.adoc
  downstream/modules/platform/con-controller-resource-determination-capacity.adoc
  downstream/modules/platform/proc-controller-add-organization-user.adoc
  downstream/modules/platform/proc-controller-apps-create-tokens.adoc
  downstream/modules/platform/proc-controller-awx-manage-utility.adoc
  downstream/modules/platform/proc-controller-build-workflow.adoc
  downstream/modules/platform/proc-controller-create-credential-type.adoc
  downstream/modules/platform/proc-controller-create-insights-credential.adoc
  downstream/modules/platform/proc-controller-create-insights-project.adoc
  downstream/modules/platform/proc-controller-create-job-template.adoc
  downstream/modules/platform/proc-controller-create-organization.adoc
  downstream/modules/platform/proc-controller-create-workflow-template.adoc
  downstream/modules/platform/proc-controller-remediate-insights-inventory.adoc
  downstream/modules/platform/proc-controller-set-up-gitlab-webhook.adoc
  downstream/modules/platform/proc-controller-user-tokens.adoc
  downstream/modules/platform/ref-controller-approval-nodes.adoc
  downstream/modules/platform/ref-controller-credential-source-control.adoc
  downstream/modules/platform/ref-controller-isolation-functionality.adoc
  downstream/modules/platform/ref-controller-notification-grafana.adoc
  downstream/modules/platform/ref-controller-notification-irc.adoc
  downstream/modules/platform/ref-controller-notification-mattermost.adoc
  downstream/modules/platform/ref-controller-notification-pager-duty.adoc
  downstream/modules/platform/ref-controller-notification-rocketchat.adoc
  downstream/modules/platform/ref-controller-notification-twilio.adoc
  downstream/modules/platform/ref-controller-notification-webhook.adoc
  downstream/modules/platform/ref-controller-rbac-built-in-roles.adoc
  downstream/modules/platform/ref-controller-rbac-edit-user.adoc
  downstream/modules/platform/ref-controller-rbac-personas.adoc
  downstream/modules/platform/ref-controller-rbac-user-view.adoc
  downstream/modules/platform/ref-controller-search-tips.adoc
  downstream/modules/platform/ref-work-with-notifications.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#692 Corrected errors in Controller UG (#691)
  downstream/assemblies/platform/assembly-controller-best-practices.adoc
  downstream/assemblies/platform/assembly-controller-glossary.adoc
  downstream/assemblies/platform/assembly-ug-controller-setting-up-insights.adoc
  downstream/modules/platform/con-controller-access-organizations.adoc
  downstream/modules/platform/con-controller-keep-subscription-in-compliance.adoc
  downstream/modules/platform/con-controller-resource-determination-capacity.adoc
  downstream/modules/platform/proc-controller-add-organization-user.adoc
  downstream/modules/platform/proc-controller-apps-create-tokens.adoc
  downstream/modules/platform/proc-controller-awx-manage-utility.adoc
  downstream/modules/platform/proc-controller-build-workflow.adoc
  downstream/modules/platform/proc-controller-create-credential-type.adoc
  downstream/modules/platform/proc-controller-create-insights-credential.adoc
  downstream/modules/platform/proc-controller-create-insights-project.adoc
  downstream/modules/platform/proc-controller-create-job-template.adoc
  downstream/modules/platform/proc-controller-create-organization.adoc
  downstream/modules/platform/proc-controller-create-workflow-template.adoc
  downstream/modules/platform/proc-controller-remediate-insights-inventory.adoc
  downstream/modules/platform/proc-controller-set-up-gitlab-webhook.adoc
  downstream/modules/platform/proc-controller-user-tokens.adoc
  downstream/modules/platform/ref-controller-approval-nodes.adoc
  downstream/modules/platform/ref-controller-credential-source-control.adoc
  downstream/modules/platform/ref-controller-isolation-functionality.adoc
  downstream/modules/platform/ref-controller-notification-grafana.adoc
  downstream/modules/platform/ref-controller-notification-irc.adoc
  downstream/modules/platform/ref-controller-notification-mattermost.adoc
  downstream/modules/platform/ref-controller-notification-pager-duty.adoc
  downstream/modules/platform/ref-controller-notification-rocketchat.adoc
  downstream/modules/platform/ref-controller-notification-twilio.adoc
  downstream/modules/platform/ref-controller-notification-webhook.adoc
  downstream/modules/platform/ref-controller-rbac-built-in-roles.adoc
  downstream/modules/platform/ref-controller-rbac-edit-user.adoc
  downstream/modules/platform/ref-controller-rbac-personas.adoc
  downstream/modules/platform/ref-controller-rbac-user-view.adoc
  downstream/modules/platform/ref-controller-search-tips.adoc
  downstream/modules/platform/ref-work-with-notifications.adoc
Labels: documentation, Controller, 2.4

#686 Create Section 7 of the Controller Admin guide
  downstream/assemblies/platform/assembly-ag-controller-clustering.adoc
  downstream/images/ug-clustering-visual.png
  downstream/modules/platform/con-controller-cluster-job-runs.adoc
  downstream/modules/platform/proc-controller-cluster-deprovision-instances.adoc
  downstream/modules/platform/ref-controller-cluster-install.adoc
  downstream/modules/platform/ref-controller-cluster-instance-behavior.adoc
  downstream/modules/platform/ref-controller-cluster-instances.adoc
  downstream/modules/platform/ref-controller-cluster-job-runtime.adoc
  downstream/modules/platform/ref-controller-cluster-status-api.adoc
  downstream/modules/platform/ref-controller-setup-considerations.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#693 Create Section 7 of the Controller Admin guide (#686)
  downstream/assemblies/platform/assembly-ag-controller-clustering.adoc
  downstream/images/ug-clustering-visual.png
  downstream/modules/platform/con-controller-cluster-job-runs.adoc
  downstream/modules/platform/proc-controller-cluster-deprovision-instances.adoc
  downstream/modules/platform/ref-controller-cluster-install.adoc
  downstream/modules/platform/ref-controller-cluster-instance-behavior.adoc
  downstream/modules/platform/ref-controller-cluster-instances.adoc
  downstream/modules/platform/ref-controller-cluster-job-runtime.adoc
  downstream/modules/platform/ref-controller-cluster-status-api.adoc
  downstream/modules/platform/ref-controller-setup-considerations.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#690 Archive unused release notes related files
  downstream/archive/archived-titles/release-notes/topics/aap-126.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-21.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-211.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-212.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-213.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-214.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-22.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-221.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-23.adoc
  downstream/archive/archived-titles/release-notes/topics/bugfixes-022020.adoc
  downstream/archive/archived-titles/release-notes/topics/bugfixes-052020.adoc
  downstream/archive/archived-titles/release-notes/topics/bugfixes-102020.adoc
  downstream/archive/archived-titles/release-notes/topics/catalog-05-2022.adoc
  downstream/archive/archived-titles/release-notes/topics/catalog-11-2020.adoc
  downstream/archive/archived-titles/release-notes/topics/catalog-11-2022.adoc
  downstream/archive/archived-titles/release-notes/topics/changelog-022020.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-41.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-411.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-414.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-420.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-430.adoc
  downstream/archive/archived-titles/release-notes/topics/docs-23.adoc
  downstream/archive/archived-titles/release-notes/topics/enhancements-052020.adoc
  downstream/archive/archived-titles/release-notes/topics/enhancements-102020.adoc
  downstream/archive/archived-titles/release-notes/topics/enhancements.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-42.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-421.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-422.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-423.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-424.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-426.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-441.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-443.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-450.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-460.adoc
  downstream/archive/archived-titles/release-notes/topics/insights-062021.adoc
  downstream/archive/archived-titles/release-notes/topics/insights-102021.adoc
  downstream/archive/archived-titles/release-notes/topics/introduction.adoc
  downstream/archive/archived-titles/release-notes/topics/new-features-feb-2020.adoc
  downstream/archive/archived-titles/release-notes/topics/new-features-may-2020.adoc
  downstream/archive/archived-titles/release-notes/topics/new-features-oct-2020.adoc
  downstream/archive/archived-titles/release-notes/topics/operator-220.adoc
  downstream/archive/archived-titles/release-notes/topics/operator-230.adoc
  downstream/archive/archived-titles/release-notes/topics/platform-installer-121.adoc
  downstream/archive/archived-titles/release-notes/topics/platform-intro-124.adoc
  downstream/archive/archived-titles/release-notes/topics/platform-intro-125.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-38.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-381.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-382.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-383.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-384.adoc
  downstream/archive/archived-titles/release-notes/topics/upgrading.adoc
Labels: Ready for review, Needs backport to 2.4

#682 Create Section 6 of Controller Admin Guide
  downstream/assemblies/platform/assembly-controller-managment-jobs.adoc
  downstream/images/management-job-add-notification-details.png
  downstream/images/management-job-notifications-empty.png
  downstream/images/management-job-notifications.png
  downstream/images/management-jobs-cleanup-job-launch.png
  downstream/images/management-jobs-remove-activity-stream-launch.png
  downstream/images/management-jobs-remove-activity-stream-schedule-details.png
  downstream/images/management-jobs-remove-activity-stream-schedule.png
  downstream/images/management-jobs.png
  downstream/modules/platform/con-controller-cleanup-expired-sessions.adoc
  downstream/modules/platform/proc-controller-management-notifications.adoc
  downstream/modules/platform/proc-controller-remove-old-activity-stream.adoc
  downstream/modules/platform/proc-controller-scheduling-deletion.adoc
  downstream/modules/platform/ref-controller-cleanup-expired-tokens.adoc
  downstream/modules/platform/ref-controller-remove-old-job-history.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#694 Create Section 6 of Controller Admin Guide (#682)
  downstream/assemblies/platform/assembly-controller-managment-jobs.adoc
  downstream/images/management-job-add-notification-details.png
  downstream/images/management-job-notifications-empty.png
  downstream/images/management-job-notifications.png
  downstream/images/management-jobs-cleanup-job-launch.png
  downstream/images/management-jobs-remove-activity-stream-launch.png
  downstream/images/management-jobs-remove-activity-stream-schedule-details.png
  downstream/images/management-jobs-remove-activity-stream-schedule.png
  downstream/images/management-jobs.png
  downstream/modules/platform/con-controller-cleanup-expired-sessions.adoc
  downstream/modules/platform/proc-controller-management-notifications.adoc
  downstream/modules/platform/proc-controller-remove-old-activity-stream.adoc
  downstream/modules/platform/proc-controller-scheduling-deletion.adoc
  downstream/modules/platform/ref-controller-cleanup-expired-tokens.adoc
  downstream/modules/platform/ref-controller-remove-old-job-history.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#695 Archive unused release notes related files (#690)
  downstream/archive/archived-titles/release-notes/topics/aap-126.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-21.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-211.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-212.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-213.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-214.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-22.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-221.adoc
  downstream/archive/archived-titles/release-notes/topics/aap-23.adoc
  downstream/archive/archived-titles/release-notes/topics/bugfixes-022020.adoc
  downstream/archive/archived-titles/release-notes/topics/bugfixes-052020.adoc
  downstream/archive/archived-titles/release-notes/topics/bugfixes-102020.adoc
  downstream/archive/archived-titles/release-notes/topics/catalog-05-2022.adoc
  downstream/archive/archived-titles/release-notes/topics/catalog-11-2020.adoc
  downstream/archive/archived-titles/release-notes/topics/catalog-11-2022.adoc
  downstream/archive/archived-titles/release-notes/topics/changelog-022020.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-41.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-411.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-414.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-420.adoc
  downstream/archive/archived-titles/release-notes/topics/controller-430.adoc
  downstream/archive/archived-titles/release-notes/topics/docs-23.adoc
  downstream/archive/archived-titles/release-notes/topics/enhancements-052020.adoc
  downstream/archive/archived-titles/release-notes/topics/enhancements-102020.adoc
  downstream/archive/archived-titles/release-notes/topics/enhancements.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-42.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-421.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-422.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-423.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-424.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-426.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-441.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-443.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-450.adoc
  downstream/archive/archived-titles/release-notes/topics/hub-460.adoc
  downstream/archive/archived-titles/release-notes/topics/insights-062021.adoc
  downstream/archive/archived-titles/release-notes/topics/insights-102021.adoc
  downstream/archive/archived-titles/release-notes/topics/introduction.adoc
  downstream/archive/archived-titles/release-notes/topics/new-features-feb-2020.adoc
  downstream/archive/archived-titles/release-notes/topics/new-features-may-2020.adoc
  downstream/archive/archived-titles/release-notes/topics/new-features-oct-2020.adoc
  downstream/archive/archived-titles/release-notes/topics/operator-220.adoc
  downstream/archive/archived-titles/release-notes/topics/operator-230.adoc
  downstream/archive/archived-titles/release-notes/topics/platform-installer-121.adoc
  downstream/archive/archived-titles/release-notes/topics/platform-intro-124.adoc
  downstream/archive/archived-titles/release-notes/topics/platform-intro-125.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-38.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-381.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-382.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-383.adoc
  downstream/archive/archived-titles/release-notes/topics/tower-intro-384.adoc
  downstream/archive/archived-titles/release-notes/topics/upgrading.adoc
Labels: AAP Release notes, 2.4

#700 Correcting errors in Controller User Guide
  downstream/assemblies/platform/assembly-controller-projects.adoc
  downstream/assemblies/platform/assembly-ug-controller-setting-up-insights.adoc
  downstream/modules/platform/con-controller-rbac-permissions.adoc
  downstream/modules/platform/con-controller-rbac.adoc
  downstream/modules/platform/con-controller-relaunch-job-template.adoc
  downstream/modules/platform/con-controller-role-based-access-controls.adoc
  downstream/modules/platform/con-controller-workflow-notifications.adoc
  downstream/modules/platform/proc-controller-add-hosts.adoc
  downstream/modules/platform/proc-controller-api-endpoint-functions.adoc
  downstream/modules/platform/proc-controller-attaching-subscriptions.adoc
  downstream/modules/platform/proc-controller-configure-secret-lookups.adoc
  downstream/modules/platform/proc-controller-create-credential-type.adoc
  downstream/modules/platform/proc-controller-create-job-template.adoc
  downstream/modules/platform/proc-controller-create-organization.adoc
  downstream/modules/platform/proc-controller-define-filter-with-facts.adoc
  downstream/modules/platform/proc-controller-inv-source-rh-virt.adoc
  downstream/modules/platform/proc-controller-obtaining-subscriptions-manifest.adoc
  downstream/modules/platform/proc-controller-project-add-permissions.adoc
  downstream/modules/platform/proc-controller-run-ad-hoc-commands.adoc
  downstream/modules/platform/proc-controller-sourced-from-project.adoc
  downstream/modules/platform/proc-controller-updating-a-project.adoc
  downstream/modules/platform/proc-controller-user-permissions.adoc
  downstream/modules/platform/proc-projects-using-collections-with-hub.adoc
  downstream/modules/platform/proc-scm-git-subversion.adoc
  downstream/modules/platform/ref-controller-applying-rbac.adoc
  downstream/modules/platform/ref-controller-credential-thycotic-server.adoc
  downstream/modules/platform/ref-controller-credential-vault.adoc
  downstream/modules/platform/ref-controller-dependencies.adoc
  downstream/modules/platform/ref-controller-install-builder.adoc
  downstream/modules/platform/ref-controller-job-slice-execution-behavior.adoc
  downstream/modules/platform/ref-controller-notification-mattermost.adoc
  downstream/modules/platform/ref-controller-notification-pager-duty.adoc
  downstream/modules/platform/ref-controller-smart-host-filter.adoc
  downstream/modules/platform/ref-controller-smart-inventories.adoc
  downstream/modules/platform/ref-controller-user-teams.adoc
  downstream/modules/platform/ref-thycotic-devops-vault.adoc
  downstream/modules/platform/ref-work-with-notifications.adoc
Labels: documentation, Ready for review, Needs backport to 2.4, Controller, 2.4

#701 Correcting errors in Controller User Guide (#700)
  downstream/assemblies/platform/assembly-controller-projects.adoc
  downstream/assemblies/platform/assembly-ug-controller-setting-up-insights.adoc
  downstream/modules/platform/con-controller-rbac-permissions.adoc
  downstream/modules/platform/con-controller-rbac.adoc
  downstream/modules/platform/con-controller-relaunch-job-template.adoc
  downstream/modules/platform/con-controller-role-based-access-controls.adoc
  downstream/modules/platform/con-controller-workflow-notifications.adoc
  downstream/modules/platform/proc-controller-add-hosts.adoc
  downstream/modules/platform/proc-controller-api-endpoint-functions.adoc
  downstream/modules/platform/proc-controller-attaching-subscriptions.adoc
  downstream/modules/platform/proc-controller-configure-secret-lookups.adoc
  downstream/modules/platform/proc-controller-create-credential-type.adoc
  downstream/modules/platform/proc-controller-create-job-template.adoc
  downstream/modules/platform/proc-controller-create-organization.adoc
  downstream/modules/platform/proc-controller-define-filter-with-facts.adoc
  downstream/modules/platform/proc-controller-inv-source-rh-virt.adoc
  downstream/modules/platform/proc-controller-obtaining-subscriptions-manifest.adoc
  downstream/modules/platform/proc-controller-project-add-permissions.adoc
  downstream/modules/platform/proc-controller-run-ad-hoc-commands.adoc
  downstream/modules/platform/proc-controller-sourced-from-project.adoc
  downstream/modules/platform/proc-controller-updating-a-project.adoc
  downstream/modules/platform/proc-controller-user-permissions.adoc
  downstream/modules/platform/proc-projects-using-collections-with-hub.adoc
  downstream/modules/platform/proc-scm-git-subversion.adoc
  downstream/modules/platform/ref-controller-applying-rbac.adoc
  downstream/modules/platform/ref-controller-credential-thycotic-server.adoc
  downstream/modules/platform/ref-controller-credential-vault.adoc
  downstream/modules/platform/ref-controller-dependencies.adoc
  downstream/modules/platform/ref-controller-install-builder.adoc
  downstream/modules/platform/ref-controller-job-slice-execution-behavior.adoc
  downstream/modules/platform/ref-controller-notification-mattermost.adoc
  downstream/modules/platform/ref-controller-notification-pager-duty.adoc
  downstream/modules/platform/ref-controller-smart-host-filter.adoc
  downstream/modules/platform/ref-controller-smart-inventories.adoc
  downstream/modules/platform/ref-controller-user-teams.adoc
  downstream/modules/platform/ref-thycotic-devops-vault.adoc
  downstream/modules/platform/ref-work-with-notifications.adoc
Labels: Controller, 2.4

#702 Update to project path in EDA user guide
  downstream/assemblies/eda/assembly-eda-projects.adoc
Labels: documentation, Ready for technical review, 2.4

#703 Update to project path in EDA user guide (#702)
  downstream/assemblies/eda/assembly-eda-projects.adoc
Labels: documentation, Backported to 2.4, 2.4

#689 Fixes attribute error
  downstream/modules/hub/proc_ppah-install-ha.adoc
  downstream/titles/ppah/ppah-install/master.adoc
Labels: PPAH

#706 Populates modules with content and updates include statements
  downstream/assemblies/hub/assembly_ppah-installation.adoc
  downstream/modules/hub/proc_ppah-install-dev.adoc
  downstream/modules/hub/proc_ppah-install-ha.adoc
  downstream/modules/hub/proc_ppah-online-offline-install.adoc
  downstream/modules/hub/proc_ppah-pre-install.adoc
  downstream/modules/hub/ref_ppah-access.adoc
  downstream/modules/hub/ref_ppah-config.adoc
Labels: PPAH

#707 Create section 9 of Contoller Admin Guide
  downstream/assemblies/platform/assembly-controller-instances.adoc
  downstream/images/instances_create_details.png
  downstream/images/instances_create_new.png
  downstream/images/instances_delete_prompt.png
  downstream/images/instances_health_check.png
  downstream/images/instances_health_check_pending.png
  downstream/images/instances_install_bundle.png
  downstream/images/instances_list_view.png
  downstream/images/instances_peers_tab.png
  downstream/images/topology-viewer-instance-with-errors.png
  downstream/modules/platform/proc-controller-adding-an-instance.adoc
  downstream/modules/platform/proc-controller-manage-instances.adoc
  downstream/modules/platform/proc-controller-pulling-secret.adoc
  downstream/modules/platform/ref-instances-prerequisites.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#708 Create section 9 of Contoller Admin Guide (#707)
  downstream/assemblies/platform/assembly-controller-instances.adoc
  downstream/images/instances_create_details.png
  downstream/images/instances_create_new.png
  downstream/images/instances_delete_prompt.png
  downstream/images/instances_health_check.png
  downstream/images/instances_health_check_pending.png
  downstream/images/instances_install_bundle.png
  downstream/images/instances_list_view.png
  downstream/images/instances_peers_tab.png
  downstream/images/topology-viewer-instance-with-errors.png
  downstream/modules/platform/proc-controller-adding-an-instance.adoc
  downstream/modules/platform/proc-controller-manage-instances.adoc
  downstream/modules/platform/proc-controller-pulling-secret.adoc
  downstream/modules/platform/ref-instances-prerequisites.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#709 Updates postgres version in system requirements table
  downstream/titles/hub/install/master.adoc
Labels: Ready for review, Backported to 2.2, Automation Hub

#685 AAP-15899 Updated EDA controller scenario in installation guide
  downstream/modules/platform/ref-single-eda-controller-with-internal-db.adoc
Labels: Ready for review, Needs backport to 2.4, Technical review complete

#711 Add RHEL attribute to the docs
  downstream/assemblies/platform/assembly-planning-installation.adoc
  downstream/attributes/attributes.adoc
Labels: Ready for review, Needs backport to 2.4, Needs backport to 2.3, Needs backport to 2.2

#712 Create section 10 of Controller Admin Guide
  downstream/assemblies/platform/assembly-controller-topology-viewer.adoc
  downstream/images/expand.png
  downstream/images/reduce.png
  downstream/images/reset.png
  downstream/images/topology-viewer-initial-view.png
  downstream/images/topology-viewer-instance-details.png
  downstream/images/topology-viewer-node-hover-click.png
  downstream/images/topology-viewer-node-view.png
  downstream/images/topology-viewer-zoomed-view.png
  downstream/modules/platform/proc-controller-access-topology-viewer.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#713 Create section 10 of Controller Admin Guide (#712)
  downstream/assemblies/platform/assembly-controller-topology-viewer.adoc
  downstream/images/expand.png
  downstream/images/reduce.png
  downstream/images/reset.png
  downstream/images/topology-viewer-initial-view.png
  downstream/images/topology-viewer-instance-details.png
  downstream/images/topology-viewer-node-hover-click.png
  downstream/images/topology-viewer-node-view.png
  downstream/images/topology-viewer-zoomed-view.png
  downstream/modules/platform/proc-controller-access-topology-viewer.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#716 Add RHEL attribute to the docs (#711)
  downstream/assemblies/platform/assembly-planning-installation.adoc
  downstream/attributes/attributes.adoc
Labels: 2.2

#715 Add RHEL attribute to the docs (#711)
  downstream/assemblies/platform/assembly-planning-installation.adoc
  downstream/attributes/attributes.adoc
Labels: 2.3

#714 Add RHEL attribute to the docs (#711)
  downstream/assemblies/platform/assembly-planning-installation.adoc
  downstream/attributes/attributes.adoc
Labels: 2.4

#717 Create section 11 of Controller Admin guide
  downstream/assemblies/platform/assembly-controller-log-files.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#718 Create section 11 of Controller Admin guide (#717)
  downstream/assemblies/platform/assembly-controller-log-files.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#719 Fixes link to chrony info in hardening guide
  downstream/modules/aap-hardening/ref-ntp.adoc
Labels: AAP Hardening, Needs backport to 2.4, 2.4
