Repository ansible/aap-docs, pull requests merged in 2023-11, with the labels that each got.

#720 Updated titles and Ansible VS code extension version
  lightspeed/assemblies/assembly-lightspeed-intro.adoc
  lightspeed/modules/con-lightspeed-about.adoc
  lightspeed/modules/con_lightspeed-process.adoc
  lightspeed/modules/con_overview-and-best-practices.adoc
  lightspeed/modules/proc_configure-repo-scan.adoc
Labels: Lightspeed

#722 Backport 2.4: fixes link in to chrony info in hardening guide (#719)
  downstream/modules/aap-hardening/ref-ntp.adoc
Labels: AAP Hardening, 2.4

#721 Create section 12 of the Controller Admin Guide
  downstream/assemblies/platform/assembly-controller-logging-aggregation.adoc
  downstream/images/configure-controller-system-logging-splunk-example.png
  downstream/images/configure-controller-system-logging-types.png
  downstream/images/logging-loggly-tower-example.png
  downstream/images/logging-splunk-tower-example.png
  downstream/images/logging_sumologic_main.png
  downstream/modules/platform/proc-controller-api-4xx-error-config.adoc
  downstream/modules/platform/proc-controller-set-up-logging.adoc
  downstream/modules/platform/ref-controller-activity-stream-schema.adoc
  downstream/modules/platform/ref-controller-job-event-schema.adoc
  downstream/modules/platform/ref-controller-job-status-changes.adoc
  downstream/modules/platform/ref-controller-log-aggregators.adoc
  downstream/modules/platform/ref-controller-log-message-schema.adoc
  downstream/modules/platform/ref-controller-loggers.adoc
  downstream/modules/platform/ref-controller-logging-elastic-stack.adoc
  downstream/modules/platform/ref-controller-logging-loggly.adoc
  downstream/modules/platform/ref-controller-logging-splunk.adoc
  downstream/modules/platform/ref-controller-logging-sumologic.adoc
  downstream/modules/platform/ref-controller-logs.adoc
  downstream/modules/platform/ref-controller-scan-fact-tracking-schema.adoc
  downstream/modules/platform/ref-controller-troubleshoot-logging.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#723 Create section 12 of the Controller Admin Guide (#721)
  downstream/assemblies/platform/assembly-controller-logging-aggregation.adoc
  downstream/images/configure-controller-system-logging-splunk-example.png
  downstream/images/configure-controller-system-logging-types.png
  downstream/images/logging-loggly-tower-example.png
  downstream/images/logging-splunk-tower-example.png
  downstream/images/logging_sumologic_main.png
  downstream/modules/platform/proc-controller-api-4xx-error-config.adoc
  downstream/modules/platform/proc-controller-set-up-logging.adoc
  downstream/modules/platform/ref-controller-activity-stream-schema.adoc
  downstream/modules/platform/ref-controller-job-event-schema.adoc
  downstream/modules/platform/ref-controller-job-status-changes.adoc
  downstream/modules/platform/ref-controller-log-aggregators.adoc
  downstream/modules/platform/ref-controller-log-message-schema.adoc
  downstream/modules/platform/ref-controller-loggers.adoc
  downstream/modules/platform/ref-controller-logging-elastic-stack.adoc
  downstream/modules/platform/ref-controller-logging-loggly.adoc
  downstream/modules/platform/ref-controller-logging-splunk.adoc
  downstream/modules/platform/ref-controller-logging-sumologic.adoc
  downstream/modules/platform/ref-controller-logs.adoc
  downstream/modules/platform/ref-controller-scan-fact-tracking-schema.adoc
  downstream/modules/platform/ref-controller-troubleshoot-logging.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#724 Create section 13 of controller Admin guide
  downstream/assemblies/platform/assembly-controller-metrics.adoc
  downstream/images/metrics-prometheus-ui-query-example.png
  downstream/modules/platform/proc-controller-set-up-prometheus.adoc
  downstream/modules/platform/ref-controller-troubleshoot-logging.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#727 Create section 13 of controller Admin guide (#724)
  downstream/assemblies/platform/assembly-controller-metrics.adoc
  downstream/images/metrics-prometheus-ui-query-example.png
  downstream/modules/platform/proc-controller-set-up-prometheus.adoc
  downstream/modules/platform/ref-controller-troubleshoot-logging.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#728 Update galaxy server url in example
  downstream/modules/hub/proc-configure-automation-hub-server-cli.adoc
Labels: Ready for review, Needs backport to 2.4

#729 Update galaxy server url in example (#728)
  downstream/modules/hub/proc-configure-automation-hub-server-cli.adoc
Labels: 2.4

#732 Update broken link in AAP Release Notes
  downstream/titles/release-notes/topics/docs-24.adoc
Labels: Needs backport to 2.4

#733 Update broken link in AAP Release Notes (#732)
  downstream/titles/release-notes/topics/docs-24.adoc
Labels: 2.4

#725 AAP-14288 Added an admonition about creating a different name for EDA controller
  downstream/assemblies/platform/assembly-deploy-eda-controller-on-aap-operator.adoc
  downstream/modules/platform/proc-deploy-eda-controller-with-aap-operator-ocp.adoc
Labels: documentation, Ready for review, Needs backport to 2.4, Technical review complete

#736 Backport-2.4-725 (for AAP-14288) Added an admonition about creating a different name for EDA controller
  downstream/assemblies/platform/assembly-deploy-eda-controller-on-aap-operator.adoc
  downstream/modules/platform/proc-deploy-eda-controller-with-aap-operator-ocp.adoc
Labels: Ready for review

#735 Create Section 8 of the Controller Admin guide
  downstream/assemblies/platform/assembly-ag-instance-and-container-groups.adoc
  downstream/images/ag-instance-group-customize-cg-pod-expanded.png
  downstream/images/ag-instance-group-customize-cg-pod.png
  downstream/images/ag-instance-group-job-details.png
  downstream/images/ag-instance-group-successfully-created.png
  downstream/images/ag-instance-groups-scenarios.png
  downstream/images/ag-inventories-create-new-test-inventory.png
  downstream/images/ag-inventories-create-new-test-localhost.png
  downstream/images/ag-inventories-launch-adhoc-localhost2.png
  downstream/modules/platform/con-controller-configure-instance-groups.adoc
  downstream/modules/platform/con-controller-container-groups.adoc
  downstream/modules/platform/con-controller-control-job-run.adoc
  downstream/modules/platform/con-controller-deprovision-instance-groups.adoc
  downstream/modules/platform/con-controller-instance-groups.adoc
  downstream/modules/platform/proc-controller-create-container-group.adoc
  downstream/modules/platform/proc-controller-customize-pod-spec.adoc
  downstream/modules/platform/proc-controller-pin-instances.adoc
  downstream/modules/platform/proc-controller-verify-container-group.adoc
  downstream/modules/platform/ref-controller-container-capacity.adoc
  downstream/modules/platform/ref-controller-group-policies-automationcontroller.adoc
  downstream/modules/platform/ref-controller-instance-group-capacity.adoc
  downstream/modules/platform/ref-controller-instance-group-policies.adoc
  downstream/modules/platform/ref-controller-job-runtime-behavior.adoc
  downstream/modules/platform/ref-controller-kubernetes-API-failure.adoc
  downstream/modules/platform/ref-controller-policy-considerations.adoc
  downstream/modules/platform/ref-controller-view-container-group-jobs.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#738 Create Section 8 of the Controller Admin guide (#735)
  downstream/assemblies/platform/assembly-ag-instance-and-container-groups.adoc
  downstream/images/ag-instance-group-customize-cg-pod-expanded.png
  downstream/images/ag-instance-group-customize-cg-pod.png
  downstream/images/ag-instance-group-job-details.png
  downstream/images/ag-instance-group-successfully-created.png
  downstream/images/ag-instance-groups-scenarios.png
  downstream/images/ag-inventories-create-new-test-inventory.png
  downstream/images/ag-inventories-create-new-test-localhost.png
  downstream/images/ag-inventories-launch-adhoc-localhost2.png
  downstream/modules/platform/con-controller-configure-instance-groups.adoc
  downstream/modules/platform/con-controller-container-groups.adoc
  downstream/modules/platform/con-controller-control-job-run.adoc
  downstream/modules/platform/con-controller-deprovision-instance-groups.adoc
  downstream/modules/platform/con-controller-instance-groups.adoc
  downstream/modules/platform/proc-controller-create-container-group.adoc
  downstream/modules/platform/proc-controller-customize-pod-spec.adoc
  downstream/modules/platform/proc-controller-pin-instances.adoc
  downstream/modules/platform/proc-controller-verify-container-group.adoc
  downstream/modules/platform/ref-controller-container-capacity.adoc
  downstream/modules/platform/ref-controller-group-policies-automationcontroller.adoc
  downstream/modules/platform/ref-controller-instance-group-capacity.adoc
  downstream/modules/platform/ref-controller-instance-group-policies.adoc
  downstream/modules/platform/ref-controller-job-runtime-behavior.adoc
  downstream/modules/platform/ref-controller-kubernetes-API-failure.adoc
  downstream/modules/platform/ref-controller-policy-considerations.adoc
  downstream/modules/platform/ref-controller-view-container-group-jobs.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#739 Clouds: Add GCP release notes book to Clouds docs
  bin/sync_cloud_docs.sh
Labels: AAP on clouds, Ready for review, AAP on GCP

#740 Add content to GCP release notes
  titles/release-notes-gcp/aap-common
  titles/release-notes-gcp/attributes
  titles/release-notes-gcp/images
  titles/release-notes-gcp/release-notes-gcp.asciidoc
  titles/release-notes-gcp/stories
  titles/release-notes-gcp/stories.adoc
Labels: AAP on clouds, AAP on GCP, AoC 2.4

#741 Add content for 2.4.20231024-00 GCP release notes
  stories/assembly-gcp-release-notes-24.adoc
  stories/topics/ref-gcp-release-notes-2-4-20231024-00.adoc
  titles/release-notes-gcp/stories.adoc
Labels: AAP on clouds, AAP on GCP

#744 Update bundle release file naming convention and headings
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-11.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-12.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-13.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-14.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-2.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-21.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-22.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-23.adoc
  downstream/titles/release-notes/topics/errata-24-oct-19.adoc
Labels: Ready for review, Needs backport to 2.4

#745 Create Section 15 of the Controller Admin guide (#743)
  downstream/assemblies/platform/assembly-ag-controller-secret-handling.adoc
  downstream/modules/platform/con-controller-secret-handling.adoc
  downstream/modules/platform/ref-controller-external-access.adoc
  downstream/modules/platform/ref-controller-internal-services.adoc
  downstream/modules/platform/ref-controller-managed-nodes.adoc
  downstream/modules/platform/ref-controller-secret-handling-automation-use.adoc
  downstream/modules/platform/ref-controller-secret-handling-operational-use.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#746 Fixing build issue with missing images
  downstream/images/ag-inventories-launch-adhoc-localhost.png
  downstream/modules/platform/ref-controller-instance-group-policies.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#747 Fixing build issue with missing images (#746)
  downstream/images/ag-inventories-launch-adhoc-localhost.png
  downstream/modules/platform/ref-controller-instance-group-policies.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#749 Update bundle release file naming convention and headings (#744)
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-11.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-12.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-13.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-14.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-2.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-21.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-22.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-23.adoc
  downstream/titles/release-notes/topics/errata-24-oct-19.adoc
Labels: Ready for review, 2.4

#750 Add bundle installer release 2.4-2.4 updates to AAP release notes
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-24.adoc
Labels: Ready for review, Needs backport to 2.4

#752 Add bundle installer release 2.4-2.4 updates to AAP release notes (#750)
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-24.adoc
Labels: 2.4

#734 Create section 14 of Controller Admin Guide
  downstream/assemblies/platform/assembly-controller-improving-performance.adoc
  downstream/images/perf-capacity-adj-instances.png
  downstream/images/perf-enable-activity-stream.png
  downstream/modules/platform/con-controller-capacity-planning-operator.adoc
  downstream/modules/platform/con-controller-control-nodes.adoc
  downstream/modules/platform/con-controller-database-use-improvements.adoc
  downstream/modules/platform/con-controller-execution-nodes.adoc
  downstream/modules/platform/con-controller-hop-nodes.adoc
  downstream/modules/platform/con-controller-hybrid-nodes.adoc
  downstream/modules/platform/con-controller-job-events-processing.adoc
  downstream/modules/platform/con-controller-job-scheduling-improvements.adoc
  downstream/modules/platform/con-controller-ldap-enhancements.adoc
  downstream/modules/platform/con-controller-metrics-enhancements.adoc
  downstream/modules/platform/con-controller-monitor-controller.adoc
  downstream/modules/platform/con-controller-node-size-choice.adoc
  downstream/modules/platform/con-controller-stability-improvements.adoc
  downstream/modules/platform/con-controller-task-manager-settings.adoc
  downstream/modules/platform/con-controller-vertical-scaling-improvement.adoc
  downstream/modules/platform/ref-controller-capacity-planning-exercise.adoc
  downstream/modules/platform/ref-controller-capacity-planning.adoc
  downstream/modules/platform/ref-controller-controller-settings.adoc
  downstream/modules/platform/ref-controller-database-settings.adoc
  downstream/modules/platform/ref-controller-internal-cluster-routing.adoc
  downstream/modules/platform/ref-controller-live-events.adoc
  downstream/modules/platform/ref-controller-performance-improvements.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#753 Create section 14 of Controller Admin Guide (#734)
  downstream/assemblies/platform/assembly-controller-improving-performance.adoc
  downstream/images/perf-capacity-adj-instances.png
  downstream/images/perf-enable-activity-stream.png
  downstream/modules/platform/con-controller-capacity-planning-operator.adoc
  downstream/modules/platform/con-controller-control-nodes.adoc
  downstream/modules/platform/con-controller-database-use-improvements.adoc
  downstream/modules/platform/con-controller-execution-nodes.adoc
  downstream/modules/platform/con-controller-hop-nodes.adoc
  downstream/modules/platform/con-controller-hybrid-nodes.adoc
  downstream/modules/platform/con-controller-job-events-processing.adoc
  downstream/modules/platform/con-controller-job-scheduling-improvements.adoc
  downstream/modules/platform/con-controller-ldap-enhancements.adoc
  downstream/modules/platform/con-controller-metrics-enhancements.adoc
  downstream/modules/platform/con-controller-monitor-controller.adoc
  downstream/modules/platform/con-controller-node-size-choice.adoc
  downstream/modules/platform/con-controller-stability-improvements.adoc
  downstream/modules/platform/con-controller-task-manager-settings.adoc
  downstream/modules/platform/con-controller-vertical-scaling-improvement.adoc
  downstream/modules/platform/ref-controller-capacity-planning-exercise.adoc
  downstream/modules/platform/ref-controller-capacity-planning.adoc
  downstream/modules/platform/ref-controller-controller-settings.adoc
  downstream/modules/platform/ref-controller-database-settings.adoc
  downstream/modules/platform/ref-controller-internal-cluster-routing.adoc
  downstream/modules/platform/ref-controller-live-events.adoc
  downstream/modules/platform/ref-controller-performance-improvements.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#755 AAP-16574 - Combined requirements for controller/hybrid and execution/hop nodes (#698)
  downstream/modules/platform/ref-controller-system-requirements.adoc
Labels: Ready for review, Backported to 2.4, 2.4

#757 Updates to Section 14 of Controller Admin Guide
  downstream/modules/platform/con-controller-database-use-improvements.adoc
  downstream/modules/platform/con-controller-job-events-processing.adoc
  downstream/modules/platform/con-controller-monitor-controller.adoc
  downstream/modules/platform/con-controller-task-manager-settings.adoc
  downstream/modules/platform/ref-controller-capacity-planning.adoc
  downstream/modules/platform/ref-controller-database-settings.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#758 Updates to Section 14 of Controller Admin Guide (#757)
  downstream/modules/platform/con-controller-database-use-improvements.adoc
  downstream/modules/platform/con-controller-job-events-processing.adoc
  downstream/modules/platform/con-controller-monitor-controller.adoc
  downstream/modules/platform/con-controller-task-manager-settings.adoc
  downstream/modules/platform/ref-controller-capacity-planning.adoc
  downstream/modules/platform/ref-controller-database-settings.adoc
Labels: documentation, Controller, 2.4

#756 Remove date from bundle installer release heading
  downstream/titles/release-notes/topics/bundle-installer-24-24.adoc
Labels: Ready for review, Needs backport to 2.4

#760 Remove date from bundle installer release heading (#756)
  downstream/titles/release-notes/topics/bundle-installer-24-24.adoc
Labels: AAP Release notes, 2.4

#754 Remove direct documentation feedback option
  downstream/aap-common/providing-feedback.adoc
  downstream/archive/archived-aap-common/providing-direct-documentation-feedback.adoc
  downstream/attributes/attributes.adoc
  titles/release-notes-gcp/release-notes-gcp.html
Labels: Needs backport to 2.4, Attributes, 2.4

#751 Create Section 16 of the Controller Admin guide
  downstream/assemblies/platform/assembly-ag-controller-security-best-practices.adoc
  downstream/modules/platform/con-controller-enforce-separation-duties.adoc
  downstream/modules/platform/con-controller-minimize-administrative-accounts.adoc
  downstream/modules/platform/con-controller-minimize-system-access.adoc
  downstream/modules/platform/con-controller-remove-access-credentials.adoc
  downstream/modules/platform/con-controller-understand-architecture.adoc
  downstream/modules/platform/ref-controller-audit-functionality.adoc
  downstream/modules/platform/ref-controller-available-resources.adoc
  downstream/modules/platform/ref-controller-django-password-policies.adoc
  downstream/modules/platform/ref-controller-existing-security.adoc
  downstream/modules/platform/ref-controller-external-account-stores.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#764 Create Section 16 of the Controller Admin guide (#751)
  downstream/assemblies/platform/assembly-ag-controller-security-best-practices.adoc
  downstream/modules/platform/con-controller-enforce-separation-duties.adoc
  downstream/modules/platform/con-controller-minimize-administrative-accounts.adoc
  downstream/modules/platform/con-controller-minimize-system-access.adoc
  downstream/modules/platform/con-controller-remove-access-credentials.adoc
  downstream/modules/platform/con-controller-understand-architecture.adoc
  downstream/modules/platform/ref-controller-audit-functionality.adoc
  downstream/modules/platform/ref-controller-available-resources.adoc
  downstream/modules/platform/ref-controller-django-password-policies.adoc
  downstream/modules/platform/ref-controller-existing-security.adoc
  downstream/modules/platform/ref-controller-external-account-stores.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#763 Add info for control plane instance groups
  downstream/modules/platform/con-controller-instance-groups.adoc
  downstream/modules/platform/ref-controller-audit-functionality.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#765 Add info for control plane instance groups (#763)
  downstream/modules/platform/con-controller-instance-groups.adoc
  downstream/modules/platform/ref-controller-audit-functionality.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#767 Create section 17 of Controller Admin Guide (#766)
  downstream/assemblies/platform/assembly-controller-awx-manage-utility.adoc
  downstream/assemblies/platform/ref-controller-expire-sessions.adoc
  downstream/modules/platform/ref-controller-analytics-gathering.adoc
  downstream/modules/platform/ref-controller-cleanup-old-data.adoc
  downstream/modules/platform/ref-controller-clear-sessions.adoc
  downstream/modules/platform/ref-controller-clear-tokens.adoc
  downstream/modules/platform/ref-controller-cluster-management.adoc
  downstream/modules/platform/ref-controller-create-oauth2-token.adoc
  downstream/modules/platform/ref-controller-expire-sessions.adoc
  downstream/modules/platform/ref-controller-inventory-import.adoc
  downstream/modules/platform/ref-controller-revoke-oauth2-token.adoc
  downstream/modules/platform/ref-controller-token-session-management.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: 2.4

#768 Remove Operator related items from bundle installer release notes
  downstream/titles/release-notes/topics/bundle-installer-24-11.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-12.adoc
Labels: Ready for review, Needs backport to 2.4, AAP Release notes

#769 Remove Operator related items from bundle installer release notes (#768)
  downstream/titles/release-notes/topics/bundle-installer-24-11.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-12.adoc
Labels: Ready for review, AAP Release notes, 2.4

#770 Update feedback module
  downstream/aap-common/providing-feedback.adoc
Labels: Needs backport to 2.4, 2.4

#771 Update feedback module (#770)
  downstream/aap-common/providing-feedback.adoc
Labels: 2.4

#772 Create section 19 of Controller Admin Guide
  downstream/assemblies/platform/assembly-controller-isolation-function-variables.adoc
  downstream/images/configure-controller-jobs-isolated-jobs-fields.png
  downstream/modules/platform/ref-controller-cleanup-old-data.adoc
  downstream/modules/platform/ref-controller-revoke-oauth2-token.adoc
  downstream/modules/platform/ref-controller-token-session-management.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#773 Create section 19 of Controller Admin Guide (#772)
  downstream/assemblies/platform/assembly-controller-isolation-function-variables.adoc
  downstream/images/configure-controller-jobs-isolated-jobs-fields.png
  downstream/modules/platform/ref-controller-cleanup-old-data.adoc
  downstream/modules/platform/ref-controller-revoke-oauth2-token.adoc
  downstream/modules/platform/ref-controller-token-session-management.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#774 Remove DDF from clouds docs
  aap-common/providing-feedback.adoc
  archive/archived-topics/providing-direct-documentation-feedback.adoc
  attributes/attributes.adoc
  titles/aap-on-aws/stories.adoc
  titles/aap-on-azure/stories.adoc
  titles/aap-on-gcp/stories.adoc
Labels: AAP on clouds, Ansible on AWS, Ready for review, AAP on Azure, AAP on GCP

#777 aap-clouds-2.3 Remove DDF from clouds docs (#774)
  aap-common/providing-feedback.adoc
  archive/archived-topics/providing-direct-documentation-feedback.adoc
  attributes/attributes.adoc
  titles/aap-on-aws/stories.adoc
  titles/aap-on-gcp/stories.adoc
Labels: AAP on clouds

#776 aap-clouds-2.4 Remove DDF from clouds docs (#774)
  aap-common/providing-feedback.adoc
  archive/archived-topics/providing-direct-documentation-feedback.adoc
  attributes/attributes.adoc
  titles/aap-on-aws/stories.adoc
  titles/aap-on-azure/stories.adoc
  titles/aap-on-gcp/stories.adoc
Labels: AAP on clouds, AoC 2.4

#779 AAP-4830 added new line to assembly file, and added new proc doc to m…
  downstream/assemblies/central-auth/assembly-configuring-central-auth-generic-oidc-settings.adoc
  downstream/assemblies/platform/assembly-content-migration.adoc
  downstream/modules/platform/proc-install-ansible-colls.adoc
  downstream/modules/platform/ref-converting-playbook-examples.adoc
  downstream/titles/central-auth/master.adoc
Labels: 2.4

#778 Create Section 20 of Controller Admin Guide
  downstream/assemblies/platform/assembly-controller-token-based-authentication.adoc
  downstream/images/configure-controller-system-misc-sys-authcode-expire.png
  downstream/images/configure-controller-system-misc-sys-token-expire.png
  downstream/images/configure-controller-system-oauth2-tokens-toggle.png
  downstream/modules/platform/proc-controller-token-scope-mask-rbac.adoc
  downstream/modules/platform/ref-controller-access-rules-for-apps.adoc
  downstream/modules/platform/ref-controller-access-rules-for-tokens.adoc
  downstream/modules/platform/ref-controller-app-token-functions.adoc
  downstream/modules/platform/ref-controller-application-functions.adoc
  downstream/modules/platform/ref-controller-auth-code-grant-type.adoc
  downstream/modules/platform/ref-controller-manage-oauth2-apps-tokens.adoc
  downstream/modules/platform/ref-controller-password-grant-type.adoc
  downstream/modules/platform/ref-controller-refresh-existing-token.adoc
  downstream/modules/platform/ref-controller-revoke-access-token.adoc
  downstream/modules/platform/ref-controller-use-oauth2-token-system.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#780 Create Section 20 of Controller Admin Guide (#778)
  downstream/assemblies/platform/assembly-controller-token-based-authentication.adoc
  downstream/images/configure-controller-system-misc-sys-authcode-expire.png
  downstream/images/configure-controller-system-misc-sys-token-expire.png
  downstream/images/configure-controller-system-oauth2-tokens-toggle.png
  downstream/modules/platform/proc-controller-token-scope-mask-rbac.adoc
  downstream/modules/platform/ref-controller-access-rules-for-apps.adoc
  downstream/modules/platform/ref-controller-access-rules-for-tokens.adoc
  downstream/modules/platform/ref-controller-app-token-functions.adoc
  downstream/modules/platform/ref-controller-application-functions.adoc
  downstream/modules/platform/ref-controller-auth-code-grant-type.adoc
  downstream/modules/platform/ref-controller-manage-oauth2-apps-tokens.adoc
  downstream/modules/platform/ref-controller-password-grant-type.adoc
  downstream/modules/platform/ref-controller-refresh-existing-token.adoc
  downstream/modules/platform/ref-controller-revoke-access-token.adoc
  downstream/modules/platform/ref-controller-use-oauth2-token-system.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#775 Create Section 18 of the Controller Admin guide
  downstream/assemblies/platform/assembly-ag-controller-config.adoc
  downstream/images/ag-configure-aap-system-logging-types.png
  downstream/images/ag-configure-aap-system.png
  downstream/images/ag-configure-aap-ui-angry-spud-login.png
  downstream/images/ag-configure-aap-ui.png
  downstream/images/ag-configure-tower-ui-logo-filled.png
  downstream/images/ag-settings-menu-screen.png
  downstream/images/tooltips-icon.png
  downstream/modules/platform/con-controller-custom-logos.adoc
  downstream/modules/platform/con-controller-host-metric-utilities.adoc
  downstream/modules/platform/con-controller-keep-subscription-in-compliance.adoc
  downstream/modules/platform/proc-controller-authentication.adoc
  downstream/modules/platform/proc-controller-configure-jobs.adoc
  downstream/modules/platform/proc-controller-configure-system.adoc
  downstream/modules/platform/proc-controller-configure-usability-analytics.adoc
  downstream/modules/platform/proc-controller-configure-user-interface.adoc
  downstream/modules/platform/proc-controller-obtaining-subscriptions.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#781 Create Section 18 of the Controller Admin guide (#775)
  downstream/assemblies/platform/assembly-ag-controller-config.adoc
  downstream/images/ag-configure-aap-system-logging-types.png
  downstream/images/ag-configure-aap-system.png
  downstream/images/ag-configure-aap-ui-angry-spud-login.png
  downstream/images/ag-configure-aap-ui.png
  downstream/images/ag-configure-tower-ui-logo-filled.png
  downstream/images/ag-settings-menu-screen.png
  downstream/images/tooltips-icon.png
  downstream/modules/platform/con-controller-custom-logos.adoc
  downstream/modules/platform/con-controller-host-metric-utilities.adoc
  downstream/modules/platform/con-controller-keep-subscription-in-compliance.adoc
  downstream/modules/platform/proc-controller-authentication.adoc
  downstream/modules/platform/proc-controller-configure-jobs.adoc
  downstream/modules/platform/proc-controller-configure-system.adoc
  downstream/modules/platform/proc-controller-configure-usability-analytics.adoc
  downstream/modules/platform/proc-controller-configure-user-interface.adoc
  downstream/modules/platform/proc-controller-obtaining-subscriptions.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#784 AAP-18084 adds collection count variable to ansible automation hub variables table in appendix
  downstream/modules/platform/ref-hub-variables.adoc
Labels: Ready for review, Needs backport to 2.4, Automation Hub

#782 Create Section 21 of the Controller Admin Guide
  downstream/assemblies/platform/assembly-controller-set-up-social-authentication.adoc
  downstream/images/configure-controller-auth-github-ent-logo.png
  downstream/images/configure-controller-auth-github-ent-org-logo.png
  downstream/images/configure-controller-auth-github-ent-teams-logo.png
  downstream/images/configure-controller-auth-github-logo.png
  downstream/images/configure-controller-auth-github-orgs-logo.png
  downstream/images/configure-controller-auth-github-teams-logo.png
  downstream/images/configure-controller-auth-google-logo.png
  downstream/images/configure-controller-auth-google.png
  downstream/modules/platform/proc-controller-github-enterprise-org-settings.adoc
  downstream/modules/platform/proc-controller-github-enterprise-settings.adoc
  downstream/modules/platform/proc-controller-github-enterprise-team-settings.adoc
  downstream/modules/platform/proc-controller-github-organization-setttings.adoc
  downstream/modules/platform/proc-controller-github-settings.adoc
  downstream/modules/platform/proc-controller-github-team-settings.adoc
  downstream/modules/platform/proc-controller-google-oauth2-settings.adoc
  downstream/modules/platform/ref-controller-organization-mapping.adoc
  downstream/modules/platform/ref-controller-team-mapping.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#787 Create Section 21 of the Controller Admin Guide (#782)
  downstream/assemblies/platform/assembly-controller-set-up-social-authentication.adoc
  downstream/images/configure-controller-auth-github-ent-logo.png
  downstream/images/configure-controller-auth-github-ent-org-logo.png
  downstream/images/configure-controller-auth-github-ent-teams-logo.png
  downstream/images/configure-controller-auth-github-logo.png
  downstream/images/configure-controller-auth-github-orgs-logo.png
  downstream/images/configure-controller-auth-github-teams-logo.png
  downstream/images/configure-controller-auth-google-logo.png
  downstream/images/configure-controller-auth-google.png
  downstream/modules/platform/proc-controller-github-enterprise-org-settings.adoc
  downstream/modules/platform/proc-controller-github-enterprise-settings.adoc
  downstream/modules/platform/proc-controller-github-enterprise-team-settings.adoc
  downstream/modules/platform/proc-controller-github-organization-setttings.adoc
  downstream/modules/platform/proc-controller-github-settings.adoc
  downstream/modules/platform/proc-controller-github-team-settings.adoc
  downstream/modules/platform/proc-controller-google-oauth2-settings.adoc
  downstream/modules/platform/ref-controller-organization-mapping.adoc
  downstream/modules/platform/ref-controller-team-mapping.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#761 Added ldap variables to hub variables
  downstream/modules/platform/ref-hub-variables.adoc
Labels: Needs backport to 2.4, 2.4

#788 Added ldap variables to hub variables (#761)
  downstream/modules/platform/ref-hub-variables.adoc
Labels: 2.4

#742 PPAH: edits based on SME feedback
  downstream/assemblies/hub/assembly_ppah-installation.adoc
  downstream/modules/hub/proc_ppah-pre-install.adoc
Labels: Not ready for peer review, PPAH

#789 Fixing broken link in controller user guide
  downstream/modules/platform/proc-projects-using-collections-with-hub.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#783 Create Section 22 of the Controller Admin guide
  downstream/assemblies/platform/assembly-ag-controller-set-up-enterprise-authentication.adoc
  downstream/images/ag-configure-auth-azure-logo.png
  downstream/images/ag-configure-auth-oidc-logo.png
  downstream/images/ag-configure-auth-saml-logo.png
  downstream/images/ag-configure-auth-saml-topology.png
  downstream/images/ag-configure-system-login-redirect-url.png
  downstream/images/configure-auth-saml-service-provider.png
  downstream/modules/platform/con-controller-enable-logging-SAML.adoc
  downstream/modules/platform/proc-controller-configure-transparent-SAML.adoc
  downstream/modules/platform/proc-controller-set-up-SAML.adoc
  downstream/modules/platform/proc-controller-set-up-azure.adoc
  downstream/modules/platform/proc-controller-set-up-generic-oidc.adoc
  downstream/modules/platform/proc-controller-set-up-radius.adoc
  downstream/modules/platform/proc-controller-set-up-tacacs+.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#793 Create Section 22 of the Controller Admin guide (#783)
  downstream/assemblies/platform/assembly-ag-controller-set-up-enterprise-authentication.adoc
  downstream/images/ag-configure-auth-azure-logo.png
  downstream/images/ag-configure-auth-oidc-logo.png
  downstream/images/ag-configure-auth-saml-logo.png
  downstream/images/ag-configure-auth-saml-topology.png
  downstream/images/ag-configure-system-login-redirect-url.png
  downstream/images/configure-auth-saml-service-provider.png
  downstream/modules/platform/con-controller-enable-logging-SAML.adoc
  downstream/modules/platform/proc-controller-configure-transparent-SAML.adoc
  downstream/modules/platform/proc-controller-set-up-SAML.adoc
  downstream/modules/platform/proc-controller-set-up-azure.adoc
  downstream/modules/platform/proc-controller-set-up-generic-oidc.adoc
  downstream/modules/platform/proc-controller-set-up-radius.adoc
  downstream/modules/platform/proc-controller-set-up-tacacs+.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#792 Fixing broken link in controller user guide (#789)
  downstream/modules/platform/proc-projects-using-collections-with-hub.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#798 Editorial changes for Chapter 3 Section 1 (#759)
  downstream/assemblies/platform/assembly-platform-install-scenario.adoc
  downstream/modules/platform/con-ha-hub-installation.adoc
  downstream/modules/platform/con-install-scenario-examples.adoc
  downstream/modules/platform/con-install-scenario-recommendations.adoc
  downstream/modules/platform/proc-apply-selinux-context.adoc
  downstream/modules/platform/proc-configure-pulpcore-serivce.adoc
  downstream/modules/platform/proc-editing-inventory-file.adoc
  downstream/modules/platform/proc-install-ha-hub-selinux.adoc
  downstream/modules/platform/ref-ldap-config-on-pah.adoc
  downstream/modules/platform/ref-single-eda-controller-with-internal-db.adoc
Labels: 2.4

#794 Create Section 23 of the Controller Admin guide
  downstream/assemblies/platform/assembly-ag-controller-LDAP-auth.adoc
  downstream/assemblies/platform/assembly-ag-controller-set-up-enterprise-authentication.adoc
  downstream/modules/platform/proc-controller-change-timeout-auth.adoc
  downstream/modules/platform/proc-controller-enable-logging-LDAP.adoc
  downstream/modules/platform/proc-controller-set-up-LDAP.adoc
  downstream/modules/platform/ref-controller-LDAP-organization-team-mapping.adoc
  downstream/modules/platform/ref-controller-referrals.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#800 Create Section 23 of the Controller Admin guide (#794)
  downstream/assemblies/platform/assembly-ag-controller-LDAP-auth.adoc
  downstream/assemblies/platform/assembly-ag-controller-set-up-enterprise-authentication.adoc
  downstream/modules/platform/proc-controller-change-timeout-auth.adoc
  downstream/modules/platform/proc-controller-enable-logging-LDAP.adoc
  downstream/modules/platform/proc-controller-set-up-LDAP.adoc
  downstream/modules/platform/ref-controller-LDAP-organization-team-mapping.adoc
  downstream/modules/platform/ref-controller-referrals.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#797 Create Section 25 of Controller Admin Guide
  downstream/assemblies/platform/assembly-controller-kerberos-authentication.adoc
  downstream/modules/platform/ref-controller-AD-and-kerberos-credentials.adoc
  downstream/modules/platform/ref-controller-set-up-kerberos-packages.adoc
  downstream/modules/platform/ref-controller-work-with-kerberos-tickets.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#802 Create Section 25 of Controller Admin Guide (#797)
  downstream/assemblies/platform/assembly-controller-kerberos-authentication.adoc
  downstream/modules/platform/ref-controller-AD-and-kerberos-credentials.adoc
  downstream/modules/platform/ref-controller-set-up-kerberos-packages.adoc
  downstream/modules/platform/ref-controller-work-with-kerberos-tickets.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.4

#803 Create Section 26 of the Controller Admin guide
  downstream/assemblies/platform/assembly-ag-controller-backup-and-restore.adoc
  downstream/assemblies/platform/assembly-ag-controller-session-limits.adoc
  downstream/assemblies/platform/assembly-ag-controller-tips-and-tricks.adoc
  downstream/assemblies/platform/assembly-ag-controller-troubleshooting.adoc
  downstream/assemblies/platform/assembly-ag-controller-usability-analytics.adoc
  downstream/modules/platform/proc-controller-work-with-session-limits.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#805 Create Section 26 of the Controller Admin guide (#803)
  downstream/assemblies/platform/assembly-ag-controller-backup-and-restore.adoc
  downstream/assemblies/platform/assembly-ag-controller-session-limits.adoc
  downstream/assemblies/platform/assembly-ag-controller-tips-and-tricks.adoc
  downstream/assemblies/platform/assembly-ag-controller-troubleshooting.adoc
  downstream/assemblies/platform/assembly-ag-controller-usability-analytics.adoc
  downstream/modules/platform/proc-controller-work-with-session-limits.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#804 Added guidance on using credentials in a playbook
  downstream/assemblies/platform/assembly-controller-credentials.adoc
  downstream/modules/platform/ref-controller-credential-GCE.adoc
  downstream/modules/platform/ref-controller-credential-aap.adoc
  downstream/modules/platform/ref-controller-credential-aws.adoc
  downstream/modules/platform/ref-controller-credential-azure-resource.adoc
  downstream/modules/platform/ref-controller-credential-machine.adoc
  downstream/modules/platform/ref-controller-credential-network.adoc
  downstream/modules/platform/ref-controller-credential-openShift.adoc
  downstream/modules/platform/ref-controller-credential-types.adoc
  downstream/modules/platform/ref-controller-credential-virtualization.adoc
  downstream/modules/platform/ref-controller-credential-vmware-vcenter.adoc
  downstream/modules/platform/ref-controller-use-credentials-in-playbooks.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#806 Added guidance on using credentials in a playbook (#804)
  downstream/assemblies/platform/assembly-controller-credentials.adoc
  downstream/modules/platform/ref-controller-credential-GCE.adoc
  downstream/modules/platform/ref-controller-credential-aap.adoc
  downstream/modules/platform/ref-controller-credential-aws.adoc
  downstream/modules/platform/ref-controller-credential-azure-resource.adoc
  downstream/modules/platform/ref-controller-credential-machine.adoc
  downstream/modules/platform/ref-controller-credential-network.adoc
  downstream/modules/platform/ref-controller-credential-openShift.adoc
  downstream/modules/platform/ref-controller-credential-types.adoc
  downstream/modules/platform/ref-controller-credential-virtualization.adoc
  downstream/modules/platform/ref-controller-credential-vmware-vcenter.adoc
  downstream/modules/platform/ref-controller-use-credentials-in-playbooks.adoc
Labels: documentation, Controller, 2.4

#807 Create Section 27 of the Controller Admin guide
  downstream/assemblies/platform/assembly-ag-controller-backup-and-restore.adoc
  downstream/assemblies/platform/assembly-controller-management-jobs.adoc
  downstream/modules/platform/con-controller-backup-restore-playbooks.adoc
  downstream/modules/platform/con-controller-cleanup-expired-sessions.adoc
  downstream/modules/platform/con-controller-restore-different-cluster.adoc
  downstream/modules/platform/ref-controller-backup-restore-clustered-environments.adoc
  downstream/modules/platform/ref-controller-backup-restore-considerations.adoc
  downstream/modules/platform/ref-controller-remove-old-job-history.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#808 Create Section 27 of the Controller Admin guide (#807)
  downstream/assemblies/platform/assembly-ag-controller-backup-and-restore.adoc
  downstream/assemblies/platform/assembly-controller-management-jobs.adoc
  downstream/modules/platform/con-controller-backup-restore-playbooks.adoc
  downstream/modules/platform/con-controller-cleanup-expired-sessions.adoc
  downstream/modules/platform/con-controller-restore-different-cluster.adoc
  downstream/modules/platform/ref-controller-backup-restore-clustered-environments.adoc
  downstream/modules/platform/ref-controller-backup-restore-considerations.adoc
  downstream/modules/platform/ref-controller-remove-old-job-history.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#809 Create Section 29 of Controller Admin Guide
  downstream/assemblies/platform/assembly-ag-controller-usability-analytics.adoc
  downstream/assemblies/platform/ref-controller-expire-sessions.adoc
  downstream/attributes/attributes.adoc
  downstream/images/aa-automation-calculator.png
  downstream/images/aa-dashboard.png
  downstream/images/aa-job-run-status-over-time-period.png
  downstream/images/aa-options-navbar.png
  downstream/images/aa-usage-by-org-by-date.png
  downstream/images/aa-usage-by-org-tasks.png
  downstream/images/aa-usage-by-org.png
  downstream/images/configure-controller-system-misc-analytics.png
  downstream/images/configure-controller-ui-tracking_state.png
  downstream/images/misc-system-details-analytics-url.png
  downstream/modules/platform/assembly-controller-awx-manage-utility.adoc
  downstream/modules/platform/proc-controller-control-data-collection.adoc
  downstream/modules/platform/ref-controller-analytics-reports.adoc
  downstream/modules/platform/ref-controller-automation-analytics.adoc
  downstream/modules/platform/ref-controller-config-json.adoc
  downstream/modules/platform/ref-controller-counts-json.adoc
  downstream/modules/platform/ref-controller-cred-type-counts-json.adoc
  downstream/modules/platform/ref-controller-data-collection-details.adoc
  downstream/modules/platform/ref-controller-events-table-csv.adoc
  downstream/modules/platform/ref-controller-expire-sessions.adoc
  downstream/modules/platform/ref-controller-instance-info-json.adoc
  downstream/modules/platform/ref-controller-inventory-counts-json.adoc
  downstream/modules/platform/ref-controller-job-counts-json.adoc
  downstream/modules/platform/ref-controller-job-instance-counts-json.adoc
  downstream/modules/platform/ref-controller-jobs-run-by-organization.adoc
  downstream/modules/platform/ref-controller-manifest-json.adoc
  downstream/modules/platform/ref-controller-org-counts-json.adoc
  downstream/modules/platform/ref-controller-organization-status.adoc
  downstream/modules/platform/ref-controller-projects-scm-type-json.adoc
  downstream/modules/platform/ref-controller-query-info-json.adoc
  downstream/modules/platform/ref-controller-unified-job-template-table-csv.adoc
  downstream/modules/platform/ref-controller-unified-jobs-table-csv.adoc
  downstream/modules/platform/ref-controller-use-by-organization.adoc
  downstream/modules/platform/ref-controller-workflow-job-node-table-csv.adoc
  downstream/modules/platform/ref-controller-workflow-job-template-node-table-csv.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#811 Create Section 29 of Controller Admin Guide (#809)
  downstream/assemblies/platform/assembly-ag-controller-usability-analytics.adoc
  downstream/assemblies/platform/ref-controller-expire-sessions.adoc
  downstream/attributes/attributes.adoc
  downstream/images/aa-automation-calculator.png
  downstream/images/aa-dashboard.png
  downstream/images/aa-job-run-status-over-time-period.png
  downstream/images/aa-options-navbar.png
  downstream/images/aa-usage-by-org-by-date.png
  downstream/images/aa-usage-by-org-tasks.png
  downstream/images/aa-usage-by-org.png
  downstream/images/configure-controller-system-misc-analytics.png
  downstream/images/configure-controller-ui-tracking_state.png
  downstream/images/misc-system-details-analytics-url.png
  downstream/modules/platform/assembly-controller-awx-manage-utility.adoc
  downstream/modules/platform/proc-controller-control-data-collection.adoc
  downstream/modules/platform/ref-controller-analytics-reports.adoc
  downstream/modules/platform/ref-controller-automation-analytics.adoc
  downstream/modules/platform/ref-controller-config-json.adoc
  downstream/modules/platform/ref-controller-counts-json.adoc
  downstream/modules/platform/ref-controller-cred-type-counts-json.adoc
  downstream/modules/platform/ref-controller-data-collection-details.adoc
  downstream/modules/platform/ref-controller-events-table-csv.adoc
  downstream/modules/platform/ref-controller-expire-sessions.adoc
  downstream/modules/platform/ref-controller-instance-info-json.adoc
  downstream/modules/platform/ref-controller-inventory-counts-json.adoc
  downstream/modules/platform/ref-controller-job-counts-json.adoc
  downstream/modules/platform/ref-controller-job-instance-counts-json.adoc
  downstream/modules/platform/ref-controller-jobs-run-by-organization.adoc
  downstream/modules/platform/ref-controller-manifest-json.adoc
  downstream/modules/platform/ref-controller-org-counts-json.adoc
  downstream/modules/platform/ref-controller-organization-status.adoc
  downstream/modules/platform/ref-controller-projects-scm-type-json.adoc
  downstream/modules/platform/ref-controller-query-info-json.adoc
  downstream/modules/platform/ref-controller-unified-job-template-table-csv.adoc
  downstream/modules/platform/ref-controller-unified-jobs-table-csv.adoc
  downstream/modules/platform/ref-controller-use-by-organization.adoc
  downstream/modules/platform/ref-controller-workflow-job-node-table-csv.adoc
  downstream/modules/platform/ref-controller-workflow-job-template-node-table-csv.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#813 Create section 31 of Controller Admin Guide
  downstream/assemblies/platform/assembly-ag-controller-tips-and-tricks.adoc
  downstream/images/configure-controller-jobs-callback.png
  downstream/images/configure-controller-system-misc-baseurl.png
  downstream/images/settings-jobs-jinja.png
  downstream/modules/platform/ref-controller-allow-jinja-in-extra-vars.adoc
  downstream/modules/platform/ref-controller-change-admin-password.adoc
  downstream/modules/platform/ref-controller-configure-host-name-notifications.adoc
  downstream/modules/platform/ref-controller-connect-with-winrm.adoc
  downstream/modules/platform/ref-controller-create-controller-admin.adoc
  downstream/modules/platform/ref-controller-dynamic-inventory.adoc
  downstream/modules/platform/ref-controller-filter-instances.adoc
  downstream/modules/platform/ref-controller-import-inventory-files.adoc
  downstream/modules/platform/ref-controller-launch-jobs-with-curl.adoc
  downstream/modules/platform/ref-controller-list-ansible-variables.adoc
  downstream/modules/platform/ref-controller-locate-ansible-config-file.adoc
  downstream/modules/platform/ref-controller-set-up-jump-host.adoc
  downstream/modules/platform/ref-controller-use-CLI-tool.adoc
  downstream/modules/platform/ref-controller-use-an-unreleased-module.adoc
  downstream/modules/platform/ref-controller-use-callback-plugins.adoc
  downstream/modules/platform/ref-controller-view-ansible-outputs.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#524 AAP-14891 - specified where to select secret keys
  downstream/modules/platform/proc-aap-create_controller.adoc
Labels: Needs backport to 2.4, Ready for technical review, Not ready for peer review, 2.4

#810 Create Section 30 of the Controller Admin guide
  downstream/assemblies/platform/assembly-ag-controller-troubleshooting.adoc
  downstream/assemblies/platform/assembly-controller-log-files.adoc
  downstream/assemblies/platform/assembly-controller-management-jobs.adoc
  downstream/modules/platform/con-controller-cluster-job-runs.adoc
  downstream/modules/platform/con-controller-monitor-controller.adoc
  downstream/modules/platform/ref-controller-connect-to-host.adoc
  downstream/modules/platform/ref-controller-ec2-vpc-instances.adoc
  downstream/modules/platform/ref-controller-live-events.adoc
  downstream/modules/platform/ref-controller-old-job-history.adoc
  downstream/modules/platform/ref-controller-playbook-pending.adoc
  downstream/modules/platform/ref-controller-playbooks-not-showing.adoc
  downstream/modules/platform/ref-controller-reuse-external-database-fail.adoc
  downstream/modules/platform/ref-controller-run-a-playbook.adoc
  downstream/modules/platform/ref-controller-unable-to-login-http.adoc
  downstream/modules/platform/ref-controller-unable-to-run-job.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#815 Corrections for Controller Admin Guide
  downstream/assemblies/platform/assembly-ag-controller-LDAP-auth.adoc
  downstream/assemblies/platform/assembly-ag-controller-clustering.adoc
  downstream/assemblies/platform/assembly-ag-controller-start-stop-controller.adoc
  downstream/assemblies/platform/assembly-controller-glossary.adoc
  downstream/assemblies/platform/assembly-controller-instances.adoc
  downstream/assemblies/platform/assembly-controller-inventories.adoc
  downstream/assemblies/platform/assembly-controller-management-jobs.adoc
  downstream/assemblies/platform/assembly-controller-set-up-social-authentication.adoc
  downstream/assemblies/platform/assembly-custom-inventory-scripts.adoc
  downstream/assemblies/platform/assembly-inventory-file-importing.adoc
  downstream/assemblies/platform/assembly-multi-credential-assignment.adoc
  downstream/modules/platform/con-controller-custom-logos.adoc
  downstream/modules/platform/con-controller-enable-logging-SAML.adoc
  downstream/modules/platform/con-controller-execution-nodes.adoc
  downstream/modules/platform/con-controller-function-of-roles.adoc
  downstream/modules/platform/con-controller-keep-subscription-in-compliance.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/modules/platform/con-controller-start-stop.adoc
  downstream/modules/platform/con-controller-understand-architecture.adoc
  downstream/modules/platform/proc-controller-access-topology-viewer.adoc
  downstream/modules/platform/proc-controller-add-groups.adoc
  downstream/modules/platform/proc-controller-add-source.adoc
  downstream/modules/platform/proc-controller-adding-an-instance.adoc
  downstream/modules/platform/proc-controller-adding-gpg-key.adoc
  downstream/modules/platform/proc-controller-adding-new-inventory.adoc
  downstream/modules/platform/proc-controller-authentication.adoc
  downstream/modules/platform/proc-controller-configure-jobs.adoc
  downstream/modules/platform/proc-controller-configure-system.adoc
  downstream/modules/platform/proc-controller-create-job-template.adoc
  downstream/modules/platform/proc-controller-customize-pod-spec.adoc
  downstream/modules/platform/proc-controller-github-team-settings.adoc
  downstream/modules/platform/proc-controller-manage-instances.adoc
  downstream/modules/platform/proc-controller-multi-vault-credentials.adoc
  downstream/modules/platform/proc-controller-scheduling-deletion.adoc
  downstream/modules/platform/proc-controller-set-up-LDAP.adoc
  downstream/modules/platform/proc-controller-set-up-SAML.adoc
  downstream/modules/platform/proc-controller-set-up-azure.adoc
  downstream/modules/platform/proc-controller-set-up-prometheus.adoc
  downstream/modules/platform/proc-controller-token-scope-mask-rbac.adoc
  downstream/modules/platform/proc-controller-verify-container-group.adoc
  downstream/modules/platform/ref-controller-auth-code-grant-type.adoc
  downstream/modules/platform/ref-controller-automation-analytics.adoc
  downstream/modules/platform/ref-controller-capacity-planning-exercise.adoc
  downstream/modules/platform/ref-controller-cluster-instance-behavior.adoc
  downstream/modules/platform/ref-controller-cluster-instances.adoc
  downstream/modules/platform/ref-controller-constructed-inventories.adoc
  downstream/modules/platform/ref-controller-controller-settings.adoc
  downstream/modules/platform/ref-controller-counts-json.adoc
  downstream/modules/platform/ref-controller-instance-info-json.adoc
  downstream/modules/platform/ref-controller-internal-cluster-routing.adoc
  downstream/modules/platform/ref-controller-inv-ansible-facts.adoc
  downstream/modules/platform/ref-controller-inventory-sources.adoc
  downstream/modules/platform/ref-controller-list-ansible-variables.adoc
  downstream/modules/platform/ref-controller-multi-cred-launch-considerations.adoc
  downstream/modules/platform/ref-controller-optional-survey-questions.adoc
  downstream/modules/platform/ref-controller-org-counts-json.adoc
  downstream/modules/platform/ref-controller-rbac-personas.adoc
  downstream/modules/platform/ref-controller-secret-handling-operational-use.adoc
  downstream/modules/platform/ref-controller-smart-inventories.adoc
  downstream/modules/platform/ref-controller-use-callback-plugins.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#817 Corrections for Controller Admin Guide (#815)
  downstream/assemblies/platform/assembly-ag-controller-LDAP-auth.adoc
  downstream/assemblies/platform/assembly-ag-controller-clustering.adoc
  downstream/assemblies/platform/assembly-ag-controller-start-stop-controller.adoc
  downstream/assemblies/platform/assembly-controller-glossary.adoc
  downstream/assemblies/platform/assembly-controller-instances.adoc
  downstream/assemblies/platform/assembly-controller-inventories.adoc
  downstream/assemblies/platform/assembly-controller-management-jobs.adoc
  downstream/assemblies/platform/assembly-controller-set-up-social-authentication.adoc
  downstream/assemblies/platform/assembly-custom-inventory-scripts.adoc
  downstream/assemblies/platform/assembly-inventory-file-importing.adoc
  downstream/assemblies/platform/assembly-multi-credential-assignment.adoc
  downstream/modules/platform/con-controller-custom-logos.adoc
  downstream/modules/platform/con-controller-enable-logging-SAML.adoc
  downstream/modules/platform/con-controller-execution-nodes.adoc
  downstream/modules/platform/con-controller-function-of-roles.adoc
  downstream/modules/platform/con-controller-keep-subscription-in-compliance.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/modules/platform/con-controller-start-stop.adoc
  downstream/modules/platform/con-controller-understand-architecture.adoc
  downstream/modules/platform/proc-controller-access-topology-viewer.adoc
  downstream/modules/platform/proc-controller-add-groups.adoc
  downstream/modules/platform/proc-controller-add-source.adoc
  downstream/modules/platform/proc-controller-adding-an-instance.adoc
  downstream/modules/platform/proc-controller-adding-gpg-key.adoc
  downstream/modules/platform/proc-controller-adding-new-inventory.adoc
  downstream/modules/platform/proc-controller-authentication.adoc
  downstream/modules/platform/proc-controller-configure-jobs.adoc
  downstream/modules/platform/proc-controller-configure-system.adoc
  downstream/modules/platform/proc-controller-create-job-template.adoc
  downstream/modules/platform/proc-controller-customize-pod-spec.adoc
  downstream/modules/platform/proc-controller-github-team-settings.adoc
  downstream/modules/platform/proc-controller-manage-instances.adoc
  downstream/modules/platform/proc-controller-multi-vault-credentials.adoc
  downstream/modules/platform/proc-controller-scheduling-deletion.adoc
  downstream/modules/platform/proc-controller-set-up-LDAP.adoc
  downstream/modules/platform/proc-controller-set-up-SAML.adoc
  downstream/modules/platform/proc-controller-set-up-azure.adoc
  downstream/modules/platform/proc-controller-set-up-prometheus.adoc
  downstream/modules/platform/proc-controller-token-scope-mask-rbac.adoc
  downstream/modules/platform/proc-controller-verify-container-group.adoc
  downstream/modules/platform/ref-controller-auth-code-grant-type.adoc
  downstream/modules/platform/ref-controller-automation-analytics.adoc
  downstream/modules/platform/ref-controller-capacity-planning-exercise.adoc
  downstream/modules/platform/ref-controller-cluster-instance-behavior.adoc
  downstream/modules/platform/ref-controller-cluster-instances.adoc
  downstream/modules/platform/ref-controller-constructed-inventories.adoc
  downstream/modules/platform/ref-controller-controller-settings.adoc
  downstream/modules/platform/ref-controller-counts-json.adoc
  downstream/modules/platform/ref-controller-instance-info-json.adoc
  downstream/modules/platform/ref-controller-internal-cluster-routing.adoc
  downstream/modules/platform/ref-controller-inv-ansible-facts.adoc
  downstream/modules/platform/ref-controller-inventory-sources.adoc
  downstream/modules/platform/ref-controller-list-ansible-variables.adoc
  downstream/modules/platform/ref-controller-multi-cred-launch-considerations.adoc
  downstream/modules/platform/ref-controller-optional-survey-questions.adoc
  downstream/modules/platform/ref-controller-org-counts-json.adoc
  downstream/modules/platform/ref-controller-rbac-personas.adoc
  downstream/modules/platform/ref-controller-secret-handling-operational-use.adoc
  downstream/modules/platform/ref-controller-smart-inventories.adoc
  downstream/modules/platform/ref-controller-use-callback-plugins.adoc
Labels: Backported to 2.4, Controller, 2.4

#818 Fixing build issue
  downstream/assemblies/platform/assembly-controller-management-jobs.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#819 Fixing build issue (#818)
  downstream/assemblies/platform/assembly-controller-management-jobs.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#820 Corrected execution environment definition
  downstream/assemblies/platform/assembly-controller-execution-environments.adoc
  downstream/assemblies/platform/assembly-controller-inventories.adoc
  downstream/modules/platform/ref-controller-build-exec-envs.adoc
  downstream/modules/platform/ref-controller-ee-definition.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#821 Corrected execution environment definition (#820)
  downstream/assemblies/platform/assembly-controller-execution-environments.adoc
  downstream/assemblies/platform/assembly-controller-inventories.adoc
  downstream/modules/platform/ref-controller-build-exec-envs.adoc
  downstream/modules/platform/ref-controller-ee-definition.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#823 [Backport] AAP-14891 - specified where to select secret keys (#524)
  downstream/modules/platform/proc-aap-create_controller.adoc
Labels: Ready for review, Backported to 2.4

#795 Azure: Add info about notifications on landing page
  stories/topics/proc-azure-accessing-aap.adoc
Labels: AAP on clouds, AAP on Azure

#826 Updated cross references
  downstream/modules/platform/proc-controller-sourced-from-project.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#827 Updated cross references (#826)
  downstream/modules/platform/proc-controller-sourced-from-project.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#822 Second sanity check of Controller Admin Guide
  downstream/assemblies/platform/assembly-ag-controller-clustering.adoc
  downstream/assemblies/platform/assembly-ag-controller-start-stop-controller.adoc
  downstream/assemblies/platform/assembly-ag-instance-and-container-groups.adoc
  downstream/assemblies/platform/assembly-controller-log-files.adoc
  downstream/assemblies/platform/assembly-custom-inventory-scripts.adoc
  downstream/assemblies/platform/assembly-multi-credential-assignment.adoc
  downstream/modules/platform/con-controller-cleanup-expired-sessions.adoc
  downstream/modules/platform/con-controller-custom-dynamic-inv-scripts.adoc
  downstream/modules/platform/con-controller-multi-cred-background.adoc
  downstream/modules/platform/con-controller-start-stop.adoc
  downstream/modules/platform/proc-controller-access-topology-viewer.adoc
  downstream/modules/platform/proc-controller-adding-an-instance.adoc
  downstream/modules/platform/proc-controller-cluster-deprovision-instances.adoc
  downstream/modules/platform/proc-controller-create-container-group.adoc
  downstream/modules/platform/proc-controller-customize-pod-spec.adoc
  downstream/modules/platform/proc-controller-manage-instances.adoc
  downstream/modules/platform/proc-controller-management-notifications.adoc
  downstream/modules/platform/proc-controller-scheduling-deletion.adoc
  downstream/modules/platform/ref-controller-cluster-install.adoc
  downstream/modules/platform/ref-controller-cluster-instance-behavior.adoc
  downstream/modules/platform/ref-controller-group-policies-automationcontroller.adoc
  downstream/modules/platform/ref-controller-job-runtime-behavior.adoc
  downstream/modules/platform/ref-controller-license-support.adoc
  downstream/modules/platform/ref-controller-licenses.adoc
  downstream/modules/platform/ref-controller-multi-cred-changes.adoc
  downstream/modules/platform/ref-controller-node-counting.adoc
  downstream/modules/platform/ref-controller-old-job-history.adoc
  downstream/modules/platform/ref-controller-policy-considerations.adoc
  downstream/modules/platform/ref-controller-prompted-vault-credentials.adoc
  downstream/modules/platform/ref-controller-scm-inv-source-fields.adoc
  downstream/modules/platform/ref-controller-setup-considerations.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#825 Update variable name
  downstream/modules/hub/proc-tag-pulled-image.adoc
Labels: documentation, Needs backport to 2.4, Technical review complete, 2.4

#829 Update variable name (#825)
  downstream/modules/hub/proc-tag-pulled-image.adoc
Labels: Backported to 2.4, 2.4

#801 AAP install Guide editorial revamp - Appendix A.1
  downstream/modules/platform/ref-ansible-inventory-variables.adoc
  downstream/modules/platform/ref-controller-variables.adoc
  downstream/modules/platform/ref-eda-controller-variables.adoc
  downstream/modules/platform/ref-general-inventory-variables.adoc
  downstream/modules/platform/ref-hub-variables.adoc
Labels: documentation, Needs backport to 2.4, 2.4

#835 Release notes for bundle installer release 2.4-3
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-3.adoc
  downstream/titles/release-notes/topics/eda-24.adoc
Labels: Ready for review, Needs backport to 2.4, AAP Release notes

#836 Release notes for bundle installer release 2.4-3 (#835)
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-3.adoc
  downstream/titles/release-notes/topics/eda-24.adoc
Labels: 2.4

#838 Clouds: Add GCP release notes
  README.adoc
  aap-common/proc-aap-list-available-playbooks.adoc
  aap-common/proc-aap-pull-command-container-image.adoc
  attributes/attributes.adoc
  stories/assembly-gcp-release-notes-24.adoc
  stories/assembly-gcp-upgrade.adoc
  stories/topics/con-gcp-pull-deploy-container-image.adoc
  stories/topics/con-gcp-pull-remove-container-image.adoc
  stories/topics/con-gcp-restore-process.adoc
  stories/topics/con-gcp-upgrade-backup-process.adoc
  stories/topics/con-gcp-use-container-image.adoc
  stories/topics/proc-gcp-backup-container-image.adoc
  stories/topics/proc-gcp-pull-backup-container-image.adoc
  stories/topics/proc-gcp-restore-container-image.adoc
  stories/topics/proc-gcp-running-upgrade.adoc
  stories/topics/proc-gcp-upgrade-pull-container-image.adoc
  stories/topics/ref-gcp-release-notes-2-2-20230215-00.adoc
  stories/topics/ref-gcp-release-notes-2-3-20230221-00.adoc
  stories/topics/ref-gcp-release-notes-2-4-20230630-00.adoc
  stories/topics/ref-gcp-release-notes-2-4-20231024-00.adoc
  titles/release-notes-gcp/stories.adoc
Labels: AAP on clouds, AAP on GCP

#839 Clouds-2.4: Add GCP release notes (#838)
  README.adoc
  aap-common/proc-aap-list-available-playbooks.adoc
  aap-common/proc-aap-pull-command-container-image.adoc
  attributes/attributes.adoc
  stories/assembly-gcp-release-notes-24.adoc
  stories/assembly-gcp-upgrade.adoc
  stories/topics/con-gcp-pull-deploy-container-image.adoc
  stories/topics/con-gcp-pull-remove-container-image.adoc
  stories/topics/con-gcp-restore-process.adoc
  stories/topics/con-gcp-upgrade-backup-process.adoc
  stories/topics/con-gcp-use-container-image.adoc
  stories/topics/proc-gcp-backup-container-image.adoc
  stories/topics/proc-gcp-pull-backup-container-image.adoc
  stories/topics/proc-gcp-restore-container-image.adoc
  stories/topics/proc-gcp-running-upgrade.adoc
  stories/topics/proc-gcp-upgrade-pull-container-image.adoc
  stories/topics/ref-gcp-release-notes-2-2-20230215-00.adoc
  stories/topics/ref-gcp-release-notes-2-3-20230221-00.adoc
  stories/topics/ref-gcp-release-notes-2-4-20230630-00.adoc
  stories/topics/ref-gcp-release-notes-2-4-20231024-00.adoc
  titles/release-notes-gcp/stories.adoc
Labels: AAP on clouds, AAP on GCP, AoC 2.4

#840 GCP release notes: update feedback module
  titles/release-notes-gcp/stories.adoc
Labels: AAP on clouds, AAP on GCP

#842 Clouds: Update link to GCP release notes
  aap-common/proc-aap-pull-command-container-image.adoc
  stories/topics/con-gcp-pull-deploy-container-image.adoc
  stories/topics/con-gcp-pull-remove-container-image.adoc
  stories/topics/con-gcp-use-container-image.adoc
  stories/topics/proc-gcp-backup-container-image.adoc
  stories/topics/proc-gcp-pull-backup-container-image.adoc
  stories/topics/proc-gcp-restore-container-image.adoc
  stories/topics/proc-gcp-upgrade-pull-container-image.adoc
Labels: AAP on clouds, AAP on GCP, AoC 2.4
