Repository ansible/aap-docs, pull requests merged in 2023-08, with the labels that each got.

#256 Correct typo
  stories/topics/proc-gcp-additional-configs-replace-tls-certificate.adoc
  stories/topics/proc-gcp-additional-configs-update-admin-password.adoc
Labels: documentation, AAP on GCP

#258 Tidied list of playbooks
  aap-common/ref-aap-using-playbooks.adoc
Labels: documentation, AAP on GCP

#259 Updated architecture images
  images/AWS-existing-deployment.png
  images/AWS-full-deployment.png
  images/GCP-existing-deployment.png
  images/GCP-full-deployment.png
Labels: documentation, Ansible on AWS, AAP on GCP

#241 Update proc-aws-marketplace.adoc
  stories/topics/proc-aws-marketplace.adoc
Labels: AAP on clouds, Ansible on AWS, 2.4

#264 Created image attribute
  attributes/attributes.adoc
Labels: documentation, Ansible on AWS, AAP on GCP, AoC 2.4

#266 Added additional attribute for standalone Image reference
  attributes/attributes.adoc
Labels: documentation, AAP on clouds, Ansible on AWS, AAP on GCP

#267 Replace image names and registry.redhat.io witth attributes
  aap-common/assembly-appendix-release-notes.adoc
  aap-common/proc-aap-pull-command-container-image.adoc
  stories/assembly-aws-upgrade.adoc
  stories/assembly-gcp-upgrade.adoc
  stories/topics/con-aws-application-architecture.adoc
  stories/topics/con-aws-pull-container-image.adoc
  stories/topics/con-aws-pull-deploy-container-image.adoc
  stories/topics/con-aws-update-restore-data-file.adoc
  stories/topics/con-gcp-application-architecture.adoc
  stories/topics/con-gcp-pull-deploy-container-image.adoc
  stories/topics/con-gcp-pull-remove-container-image.adoc
  stories/topics/con-gcp-use-container-image.adoc
  stories/topics/proc-aws-backup-platform-stack.adoc
  stories/topics/proc-aws-from-stack-pull-container-image.adoc
  stories/topics/proc-aws-running-upgrade.adoc
  stories/topics/proc-aws-set-container-image.adoc
  stories/topics/proc-aws-upgrade-pull-container-image.adoc
  stories/topics/proc-azure-update-route-tables.adoc
  stories/topics/proc-gcp-backup-container-image.adoc
  stories/topics/proc-gcp-from-stack-pull-container-image.adoc
  stories/topics/proc-gcp-pull-backup-container-image.adoc
  stories/topics/proc-gcp-running-upgrade.adoc
  stories/topics/proc-gcp-upgrade-pull-container-image.adoc
  stories/topics/tech-note-aws-upgrade.adoc
  stories/topics/tech-note-gcp-upgrade.adoc
Labels: documentation, Ansible on AWS, AAP on Azure, AAP on GCP

#269 Created image attribute (#264)
  attributes/attributes.adoc
Labels: documentation, AAP on clouds

#277 2.4 Replace image names and registry.redhat.io with attributes (#267)
  aap-common/assembly-appendix-release-notes.adoc
  aap-common/proc-aap-pull-command-container-image.adoc
  stories/assembly-aws-upgrade.adoc
  stories/assembly-gcp-upgrade.adoc
  stories/topics/con-aws-application-architecture.adoc
  stories/topics/con-aws-pull-container-image.adoc
  stories/topics/con-aws-pull-deploy-container-image.adoc
  stories/topics/con-aws-update-restore-data-file.adoc
  stories/topics/con-gcp-application-architecture.adoc
  stories/topics/con-gcp-pull-deploy-container-image.adoc
  stories/topics/con-gcp-pull-remove-container-image.adoc
  stories/topics/con-gcp-use-container-image.adoc
  stories/topics/proc-aws-backup-platform-stack.adoc
  stories/topics/proc-aws-from-stack-pull-container-image.adoc
  stories/topics/proc-aws-running-upgrade.adoc
  stories/topics/proc-aws-set-container-image.adoc
  stories/topics/proc-aws-upgrade-pull-container-image.adoc
  stories/topics/proc-azure-update-route-tables.adoc
  stories/topics/proc-gcp-backup-container-image.adoc
  stories/topics/proc-gcp-from-stack-pull-container-image.adoc
  stories/topics/proc-gcp-pull-backup-container-image.adoc
  stories/topics/proc-gcp-running-upgrade.adoc
  stories/topics/proc-gcp-upgrade-pull-container-image.adoc
  stories/topics/tech-note-aws-upgrade.adoc
  stories/topics/tech-note-gcp-upgrade.adoc
Labels: documentation, Ansible on AWS, AAP on GCP

#280 Additional instruction added
  downstream/modules/automation-hub/proc-install-ha-hub-selinux.adoc
Labels: Ready for review, Needs backport to 2.4, Technical review complete

#282 Corrected typo
  downstream/modules/platform/ref-eda-controller-variables.adoc
Labels: Needs backport to 2.4

#284 Backport to 2.4: AAP-15176 fix broken links in Upgrade and Migration Guide
  downstream/modules/platform/con-aap-upgrade-prereq.adoc
  downstream/modules/platform/con-persisting-data-from-auto-runs.adoc
  downstream/modules/platform/proc-editing-inventory-file-for-updates.adoc
Labels: 2.4

#286 Fixes formatting issue in V2.2 of the Upgrade and Migration Guide
  downstream/assemblies/platform/assembly-migrate-isolated-execution-nodes.adoc
Labels: 2.2

#293 [WIP] AAP-14808: Chapter 1 build of AAP Hardening Guide
  downstream/assemblies/aap-hardening/assembly-hardening-aap.adoc
  downstream/assemblies/aap-hardening/assembly-intro-to-aap-hardening.adoc
  downstream/modules/aap-hardening/con-hardening-guide-audience.adoc
  downstream/modules/aap-hardening/con-platform-components.adoc
  downstream/modules/aap-hardening/con-product-overview.adoc
  downstream/titles/aap-hardening/master.adoc
Labels: AAP Hardening, Draft, 2.4

#301 Archive unused cloud modules
  archive/archived-topics/proc-aws-backup-platform-stack.adoc
  archive/archived-topics/proc-aws-from-stack-pull-container-image.adoc
  archive/archived-topics/proc-gcp-from-stack-pull-container-image.adoc
Labels: AAP on clouds, Ansible on AWS, AAP on GCP

#295 Updating route for webhook rulebooks
  downstream/modules/eda/proc-eda-activate-webhook.adoc
Labels: Ready for review, Needs backport to 2.4, Technical review complete, 2.4

#304 Updating route for webhook rulebooks (#295)
  downstream/modules/eda/proc-eda-activate-webhook.adoc
Labels: 2.4

#305 [2.4] AAP-14808: Fixed order of sections (#293)
  downstream/assemblies/aap-hardening/assembly-hardening-aap.adoc
  downstream/assemblies/aap-hardening/assembly-intro-to-aap-hardening.adoc
  downstream/modules/aap-hardening/con-hardening-guide-audience.adoc
  downstream/modules/aap-hardening/con-platform-components.adoc
  downstream/modules/aap-hardening/con-product-overview.adoc
  downstream/titles/aap-hardening/master.adoc
Labels: AAP Hardening, Ready for review, Backported to 2.4, 2.4

#297 [WIP] AAP-14809: Ch2 of AAP Hardening Guide
  downstream/assemblies/aap-hardening/assembly-hardening-aap.adoc
  downstream/assemblies/aap-hardening/assembly-intro-to-aap-hardening.adoc
  downstream/modules/aap-hardening/con-aap-additional-software.adoc
  downstream/modules/aap-hardening/con-automation-credentials.adoc
  downstream/modules/aap-hardening/con-controller-configuration.adoc
  downstream/modules/aap-hardening/con-controller-stig-considerations.adoc
  downstream/modules/aap-hardening/con-credential-management-planning.adoc
  downstream/modules/aap-hardening/con-dns-ntp-service-planning.adoc
  downstream/modules/aap-hardening/con-hardening-guide-audience.adoc
  downstream/modules/aap-hardening/con-install-secure-host.adoc
  downstream/modules/aap-hardening/con-installation.adoc
  downstream/modules/aap-hardening/con-logging-log-capture.adoc
  downstream/modules/aap-hardening/con-network-firewall-services-planning.adoc
  downstream/modules/aap-hardening/con-overview.adoc
  downstream/modules/aap-hardening/con-planning-considerations.adoc
  downstream/modules/aap-hardening/con-platform-components.adoc
  downstream/modules/aap-hardening/con-rhel-host-planning.adoc
  downstream/modules/aap-hardening/con-user-authentication-planning.adoc
  downstream/modules/aap-hardening/proc-configure-centralized-logging.adoc
  downstream/modules/aap-hardening/proc-configure-external-authentication.adoc
  downstream/modules/aap-hardening/proc-fapolicyd.adoc
  downstream/modules/aap-hardening/proc-file-systems-mounted-noexec.adoc
  downstream/modules/aap-hardening/proc-install-user-pki.adoc
  downstream/modules/aap-hardening/proc-namespaces.adoc
  downstream/modules/aap-hardening/ref-architecture.adoc
  downstream/modules/aap-hardening/ref-auditing-incident-detection.adoc
  downstream/modules/aap-hardening/ref-automation-controller-authentication.adoc
  downstream/modules/aap-hardening/ref-automation-controller-operational-secrets.adoc
  downstream/modules/aap-hardening/ref-dns-load-balancing.adoc
  downstream/modules/aap-hardening/ref-dns.adoc
  downstream/modules/aap-hardening/ref-infrastructure-as-code.adoc
  downstream/modules/aap-hardening/ref-initial-configuration.adoc
  downstream/modules/aap-hardening/ref-ntp.adoc
  downstream/modules/aap-hardening/ref-private-automation-hub-authentication.adoc
  downstream/modules/aap-hardening/ref-security-variables-install-inventory.adoc
  downstream/modules/aap-hardening/ref-sensitive-variables-install-inventory.adoc
  downstream/modules/aap-hardening/ref-sudo-nopasswd.adoc
  downstream/titles/aap-hardening/docinfo.xml
  downstream/titles/aap-hardening/master.adoc
Labels: AAP Hardening, Draft, 2.4

#310 2.4 Modify hardening guide IDs (#309)
  downstream/assemblies/aap-hardening/assembly-hardening-aap.adoc
  downstream/modules/aap-hardening/con-logging-log-capture.adoc
  downstream/modules/aap-hardening/con-network-firewall-services-planning.adoc
  downstream/modules/aap-hardening/con-planning-considerations.adoc
  downstream/modules/aap-hardening/con-rhel-host-planning.adoc
  downstream/modules/aap-hardening/con-user-authentication-planning.adoc
  downstream/modules/aap-hardening/proc-configure-centralized-logging.adoc
  downstream/modules/aap-hardening/proc-fapolicyd.adoc
  downstream/modules/aap-hardening/ref-auditing-incident-detection.adoc
  downstream/modules/aap-hardening/ref-automation-controller-operational-secrets.adoc
  downstream/modules/aap-hardening/ref-dns-load-balancing.adoc
  downstream/modules/aap-hardening/ref-ntp.adoc
  downstream/modules/platform/proc-change-ssl-installer.adoc
Labels: AAP Hardening

#315 AAP-14809-2.1-new
  downstream/assemblies/aap-hardening/assembly-hardening-aap.adoc
  downstream/modules/aap-hardening/con-automation-credentials.adoc
  downstream/modules/aap-hardening/con-credential-management-planning.adoc
  downstream/modules/aap-hardening/con-overview.adoc
  downstream/modules/aap-hardening/con-user-authentication-planning.adoc
  downstream/modules/aap-hardening/ref-automation-controller-authentication.adoc
  downstream/modules/aap-hardening/ref-automation-controller-operational-secrets.adoc
  downstream/modules/aap-hardening/ref-dns-load-balancing.adoc
  downstream/modules/aap-hardening/ref-dns.adoc
  downstream/modules/aap-hardening/ref-ntp.adoc
  downstream/modules/aap-hardening/ref-private-automation-hub-authentication.adoc
Labels: AAP Hardening, Ready for review, 2.4

#312 AAP-14809-continued: Edits, revisions, and additions
  downstream/assemblies/aap-hardening/assembly-hardening-aap.adoc
  downstream/assemblies/aap-hardening/assembly-intro-to-aap-hardening.adoc
  downstream/modules/aap-hardening/con-day-two-operations.adoc
  downstream/modules/aap-hardening/con-external-credential-vault.adoc
  downstream/modules/aap-hardening/con-hardening-guide-audience.adoc
  downstream/modules/aap-hardening/con-network-firewall-services-planning.adoc
  downstream/modules/aap-hardening/con-planning-considerations.adoc
  downstream/modules/aap-hardening/con-platform-components.adoc
  downstream/modules/aap-hardening/con-product-overview.adoc
  downstream/modules/aap-hardening/con-rbac.adoc
  downstream/modules/aap-hardening/proc-configure-external-authentication.adoc
  downstream/modules/aap-hardening/proc-controller-stig-considerations.adoc
  downstream/modules/aap-hardening/proc-disaster-recovery-operations.adoc
  downstream/modules/aap-hardening/ref-architecture.adoc
  downstream/modules/aap-hardening/ref-updates-upgrades.adoc
Labels: AAP Hardening, Needs backport to 2.4, 2.4

#316 [2.4] AAP-14809-continued: Fix links (#312)
  downstream/assemblies/aap-hardening/assembly-hardening-aap.adoc
  downstream/assemblies/aap-hardening/assembly-intro-to-aap-hardening.adoc
  downstream/modules/aap-hardening/con-day-two-operations.adoc
  downstream/modules/aap-hardening/con-external-credential-vault.adoc
  downstream/modules/aap-hardening/con-hardening-guide-audience.adoc
  downstream/modules/aap-hardening/con-network-firewall-services-planning.adoc
  downstream/modules/aap-hardening/con-planning-considerations.adoc
  downstream/modules/aap-hardening/con-platform-components.adoc
  downstream/modules/aap-hardening/con-product-overview.adoc
  downstream/modules/aap-hardening/con-rbac.adoc
  downstream/modules/aap-hardening/proc-configure-external-authentication.adoc
  downstream/modules/aap-hardening/proc-controller-stig-considerations.adoc
  downstream/modules/aap-hardening/proc-disaster-recovery-operations.adoc
  downstream/modules/aap-hardening/ref-architecture.adoc
  downstream/modules/aap-hardening/ref-updates-upgrades.adoc
Labels: AAP Hardening, Backported to 2.4, 2.4

#317 AAP-14808-Revisions: Resolved comments in Chapter 1
  downstream/assemblies/aap-hardening/assembly-intro-to-aap-hardening.adoc
  downstream/modules/aap-hardening/con-hardening-guide-audience.adoc
  downstream/modules/aap-hardening/con-product-overview.adoc
Labels: AAP Hardening, Needs backport to 2.4, 2.4

#318 [2.4] AAP-14808-Revisions: Resolved comments in ch.1 (#317)
  downstream/assemblies/aap-hardening/assembly-intro-to-aap-hardening.adoc
  downstream/modules/aap-hardening/con-hardening-guide-audience.adoc
  downstream/modules/aap-hardening/con-product-overview.adoc
Labels: AAP Hardening, Backported to 2.4, 2.4

#320 Add context to xref in aap-hardening module
  downstream/modules/aap-hardening/con-credential-management-planning.adoc
Labels: AAP Hardening

#322 Creating first section of Controller UG (#292)
  downstream/assemblies/platform/assembly-UG-overview.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/titles/controller/controller-user-guide/aap-common
  downstream/titles/controller/controller-user-guide/attributes
  downstream/titles/controller/controller-user-guide/docinfo.xml
  downstream/titles/controller/controller-user-guide/images
  downstream/titles/controller/controller-user-guide/master.adoc
  downstream/titles/controller/controller-user-guide/platform
Labels: Controller, 2.4

#325 AAP-14809-2.1-a updated sections 2.1.3-2.1.5 (#324)
  downstream/modules/aap-hardening/con-automation-credentials.adoc
  downstream/modules/aap-hardening/con-credential-management-planning.adoc
  downstream/modules/aap-hardening/ref-automation-controller-authentication.adoc
  downstream/modules/aap-hardening/ref-dns-load-balancing.adoc
  downstream/modules/aap-hardening/ref-private-automation-hub-authentication.adoc
Labels: AAP Hardening, 2.4
