Repository ansible/aap-docs, pull requests merged in 2023-05, with the labels that each got.

#87 Update GCP Application deployment
  stories/assembly-aap-aws-automation-workloads.adoc
  stories/assembly-aap-gcp-install.adoc
  stories/topics/con-aap-gcp-access-application.adoc
  stories/topics/con-aap-gcp-application-deploy.adoc
  stories/topics/proc-aap-gcp-application-deploy.adoc
  stories/topics/proc-aap-gcp-deploy-with-existing-vpc.adoc
  stories/topics/proc-aap-gcp-deploy-with-new-vpc.adoc
  stories/topics/proc-aap-gcp-deploying-extension-nodes.adoc
  stories/topics/proc-aap-gcp-retrieve-admin-password.adoc
  stories/topics/ref-aap-gcp-networking-options.adoc
Labels: documentation, AAP on GCP

#88 AWS Install Updates
  stories/assembly-aap-aws-install.adoc
  stories/topics/proc-aap-aws-deploy-existing-vpc.adoc
  stories/topics/proc-aap-aws-deploy-new-vpc.adoc
  stories/topics/proc-aap-aws-modify-cidr-ranges.adoc
  stories/topics/proc-aap-aws-modify-lb-cidr-range-before.adoc
  stories/topics/proc-aws-application-deploy.adoc
  stories/topics/proc-aws-create-ec2-pair.adoc
  stories/topics/ref-aap-aws-iam-policies.adoc
  stories/topics/ref-aap-aws-install-prerequisites.adoc
Labels: documentation, Ansible on AWS

#91 Update the AWS Upgrade information
  stories/assembly-aap-aws-application-upgrade.adoc
  stories/topics/con-aap-aws-upgrade-backup-process.adoc
  stories/topics/con-aap-aws-upgrade-upgrading-aap.adoc
  stories/topics/con-aws-upgrade-restore-from-stack.adoc
  stories/topics/proc-aap-aws-backup-platform-stack.adoc
  stories/topics/proc-aap-aws-prepare-backup-environment.adoc
  stories/topics/proc-aap-aws-run-ops-container.adoc
  stories/topics/proc-aap-aws-upgrade-pull-container-image.adoc
  stories/topics/proc-aap-gcp-application-upgrade.adoc
  stories/topics/proc-aws-from-stack-prepare-environment.adoc
  stories/topics/proc-aws-from-stack-pull-container-image.adoc
  stories/topics/proc-aws-from-stack-run-to-upgrade.adoc
  stories/topics/proc-aws-generate-upgrade-data-file.adoc
  stories/topics/proc-aws-running-upgrade.adoc
  stories/topics/ref-aap-aws-iam-minimum-permissions.adoc
  stories/topics/ref-aap-aws-iam-upgrade-minimum-permissions.adoc
  stories/topics/ref-aws-from-stack-minimum-permissions.adoc
  stories/topics/ref-aws-update-upgrade-data-file.adoc
Labels: documentation, Ansible on AWS

#93 Updated AWS add extension nodes
  stories/assembly-aap-aws-deploying-extension-nodes.adoc
  stories/topics/con-aap-aws-pull-container-image.adoc
  stories/topics/con-aap-aws-pull-deploy-container-image.adoc
  stories/topics/proc-aap-aws-deploying-extension-nodes.adoc
  stories/topics/proc-aap-aws-generate-add-data-files.adoc
  stories/topics/proc-aap-aws-update-add-data-files.adoc
Labels: documentation, Ansible on AWS

#94 Update GCP monitoring and logging
  stories/assembly-aap-gcp-monitoring-logging.adoc
  stories/topics/con-gcp-customize-monitoring-logging.adoc
  stories/topics/con-gcp-setup-after-depoyment.adoc
  stories/topics/con-gcp-setup-at-deployment-time.adoc
  stories/topics/con-gcp-use-container-image.adoc
  stories/topics/proc-aap-gcp-application-upgrade.adoc
  stories/topics/proc-gcp-generate-playbook.adoc
  stories/topics/proc-gcp-generate-variables.adoc
  stories/topics/proc-gcp-set-monitoring-logging-yml.adoc
  stories/topics/ref-aap-gcp-configure-google-cloud-ops-agent.adoc
  stories/topics/ref-gcp-prepare-backup-environment.adoc
Labels: documentation, AAP on GCP

#99 Azure: Add domains and allowlist
  stories/topics/proc-azure-update-route-tables.adoc
Labels: AAP on clouds, AAP on Azure

#100 Correction to upgrading GCP
  stories/assembly-gcp-upgrade.adoc
  stories/topics/con-gcp-upgrade-backup-process.adoc
  stories/topics/con-gcp-upgrade-restore-from-stack.adoc
  stories/topics/proc-gcp-backup-platform-stack.adoc
  stories/topics/proc-gcp-generate-upgrade-data-file.adoc
  stories/topics/proc-gcp-prepare-backup-environment.adoc
  stories/topics/proc-gcp-run-restore-playbook-as-container.adoc
  stories/topics/proc-gcp-running-upgrade.adoc
Labels: documentation, AAP on GCP

#102 Update GCP backup and restore
  stories/assembly-aap-gcp-backup-and-restore.adoc
  stories/topics/con-gcp-backup-process.adoc
  stories/topics/con-gcp-restore-process.adoc
  stories/topics/proc-aap-gcp-backup-process.adoc
  stories/topics/proc-aap-gcp-restore-process.adoc
  stories/topics/proc-gcp-backup-container-image.adoc
  stories/topics/proc-gcp-create-data-file.adoc
  stories/topics/proc-gcp-generate-restore-yml-file.adoc
  stories/topics/proc-gcp-run-backup-playbook.adoc
  stories/topics/proc-gcp-run-restore-command.adoc
  stories/topics/proc-gcp-setup-environment.adoc
  stories/topics/ref-gcp-populate-backup-file.adoc
  stories/topics/ref-gcp-populate-restore-file.adoc
Labels: documentation, AAP on GCP

#106 Added -aws-to module name
  stories/assembly-aws-networking-access.adoc
  stories/topics/proc-aws-secure-controller-load-balancer.adoc
Labels: documentation, Ansible on AWS

#107 Azure Remove aap- from Azure filenames
  stories/assembly-aap-azure-intro.adoc
  stories/assembly-azure-connecting-to-aap.adoc
  stories/assembly-azure-direct-peering.adoc
  stories/assembly-azure-hub-spoke-peering.adoc
  stories/assembly-azure-install.adoc
  stories/assembly-azure-intro.adoc
  stories/assembly-azure-network-peering.adoc
  stories/assembly-azure-vwan-peering.adoc
  stories/tmp.docx
  stories/topics/con-azure-about.adoc
  stories/topics/con-azure-aks-cidr.adoc
  stories/topics/con-azure-architecture.adoc
  stories/topics/con-azure-infrastructure-usage.adoc
  stories/topics/con-azure-lifecycle.adoc
  stories/topics/con-azure-migration.adoc
  stories/topics/con-azure-network.adoc
  stories/topics/con-azure-private-access.adoc
  stories/topics/con-azure-public-access.adoc
  stories/topics/con-azure-scaling.adoc
  stories/topics/con-azure-vnet-cidr.adoc
  stories/topics/proc-azure-cancel-deployment.adoc
  stories/topics/proc-azure-fetch-rh-account-id.adoc
  stories/topics/proc-azure-hub-spoke-peering.adoc
  stories/topics/proc-azure-nw-private-deploy.adoc
  stories/topics/proc-azure-peer-vwan-hub-to-aap.adoc
  stories/topics/proc-azure-provisioning-aap.adoc
  stories/topics/proc-azure-resource-quotas.adoc
  stories/topics/proc-azure-update-route-tables.adoc
  stories/topics/proc-azure-verify-rh-credentials.adoc
  titles/aap-on-azure/stories.adoc
Labels: AAP on clouds, AAP on Azure

#109 Moved restore information to admonition
  stories/topics/con-gcp-restore-process.adoc
  stories/topics/proc-gcp-run-restore-command.adoc
Labels: documentation, AAP on GCP
