Repository ansible/aap-docs, pull requests merged in 2023-06, with the labels that each got.

#108 Azure - document disaster recovery
  stories/assembly-azure-intro.adoc
  stories/topics/con-azure-disaster-recovery.adoc
  stories/topics/con-azure-infrastructure-usage.adoc
  stories/topics/proc-azure-provisioning-aap.adoc
Labels: AAP on clouds, AAP on Azure

#111 Remove references to Automation Services Catalog
  stories/assembly-aws-intro.adoc
  stories/assembly-gcp-intro.adoc
  stories/topics/con-azure-about.adoc
Labels: bug, AAP on clouds, Ansible on AWS, AAP on Azure, AAP on GCP

#117 AWS 2.3 Doc fixes
  stories/topics/con-aws-pull-container-image.adoc
  stories/topics/con-aws-pull-deploy-container-image.adoc
  stories/topics/con-aws-update-restore-data-file.adoc
  stories/topics/proc-aws-backup-and-restore.adoc
  stories/topics/proc-aws-deploying-extension-nodes.adoc
Labels: AAP on clouds, Ansible on AWS

#124 2.2.1 Add Direct docs feedback module
  aap-common/providing-direct-documentation-feedback.adoc
  titles/aap-on-aws/stories.adoc
  titles/aap-on-gcp/stories.adoc
Labels: AAP on clouds, Ansible on AWS, Ready for review, AAP on GCP, 2.2.1

#128 Archive unused AWS and GCP topics
  archive/archived-topics/proc-aws-application-upgrade.adoc
  archive/archived-topics/proc-aws-backup-and-restore.adoc
  archive/archived-topics/proc-aws-create-extension-nodes.adoc
  archive/archived-topics/proc-aws-prepare-environment-to-remove.adoc
  archive/archived-topics/proc-aws-prepare-environment.adoc
  archive/archived-topics/proc-azure-fetch-rh-account-id.adoc
  archive/archived-topics/proc-azure-verify-rh-credentials.adoc
  archive/archived-topics/proc-gcp-application-deploy.adoc
  archive/archived-topics/proc-gcp-application-uninstall.adoc
  archive/archived-topics/proc-gcp-change-config-controller-hub.adoc
  archive/archived-topics/proc-gcp-configure-route-tables.adoc
  archive/archived-topics/proc-gcp-configure-security-network.adoc
  archive/archived-topics/proc-gcp-marketplace.adoc
  archive/archived-topics/proc-gcp-prepare-upgrade-aap-platform-stack.adoc
  archive/archived-topics/proc-gcp-public-offer.adoc
  archive/archived-topics/proc-gcp-routing-to-vpcs.adoc
  archive/archived-topics/proc-gcp-traffic-to-vpc.adoc
  archive/archived-topics/ref-aws-deploying-extension-nodes.adoc
  archive/archived-topics/ref-gcp-prepare-backup-environment.adoc
  archive/archived-topics/ref-gcp-transit-gateway.adoc
Labels: AAP on clouds, Ansible on AWS, AAP on GCP, Archive

#132 2.2.1 Remove source,bash line preceding codeblocks
  stories/topics/proc-aap-aws-application-upgrade.adoc
  stories/topics/proc-aap-aws-backup-and-recovery.adoc
  stories/topics/proc-aap-aws-create-extension-nodes.adoc
  stories/topics/proc-aap-aws-prepare-environment.adoc
  stories/topics/proc-aap-aws-removing-extension-nodes.adoc
  stories/topics/proc-aap-aws-secure-hub-controller-connection.adoc
  stories/topics/proc-aap-gcp-application-upgrade.adoc
  stories/topics/proc-aap-gcp-backup-process.adoc
  stories/topics/proc-aap-gcp-restore-process.adoc
  stories/topics/proc-azure-podidentity.adoc
  stories/topics/proc-secure-controller-load-balancer.adoc
Labels: AAP on clouds, Ansible on AWS, AAP on GCP, 2.2.1

#135 Update the AKS CIDR Blocks requirements in Azure guide
  stories/topics/con-azure-aks-cidr.adoc
Labels: AAP on clouds, Ready for review, AAP on Azure

#137 AWS Fix assembly ID
  stories/assembly-aws-networking-access.adoc
Labels: bug, AAP on clouds, Ansible on AWS

#138 GCP Fix ID for backup and restore assembly
  stories/assembly-gcp-backup-and-restore.adoc
Labels: bug, AAP on clouds, AAP on GCP

#139 AWS Fix ID for deploy extension nodes assembly
  aap-common/proc-aap-list-available-playbooks.adoc
  stories/assembly-aws-deploying-extension-nodes.adoc
Labels: bug, AAP on clouds, Ansible on AWS

#151 2.2.1 Rename AWS peering image
  images/aws-vpc-peering.png
  stories/topics/proc-aws-vpc-peering.adoc
Labels: 2.2.1

#153 Fix codeblocks to remove asciidoc formatting
  aap-common/proc-aap-generate-command-data-file.adoc
  aap-common/proc-aap-list-available-playbooks.adoc
  aap-common/proc-aap-populate-command-data-file.adoc
  aap-common/proc-aap-pull-command-container-image.adoc
  aap-common/proc-aap-run-generated-command.adoc
  stories/topics/con-aws-pull-container-image.adoc
  stories/topics/con-aws-pull-deploy-container-image.adoc
  stories/topics/con-aws-update-backup-data-file.adoc
  stories/topics/con-aws-update-restore-data-file.adoc
  stories/topics/con-gcp-use-container-image.adoc
  stories/topics/proc-aws-backup-platform-stack.adoc
  stories/topics/proc-aws-create-ec2-pair.adoc
  stories/topics/proc-aws-deploying-extension-nodes.adoc
  stories/topics/proc-aws-from-stack-prepare-environment.adoc
  stories/topics/proc-aws-from-stack-pull-container-image.adoc
  stories/topics/proc-aws-from-stack-run-to-upgrade.adoc
  stories/topics/proc-aws-generate-add-data-files.adoc
  stories/topics/proc-aws-generate-backup-data-file.adoc
  stories/topics/proc-aws-generate-remove-data-files.adoc
  stories/topics/proc-aws-generate-restore-data-file.adoc
  stories/topics/proc-aws-generate-upgrade-data-file.adoc
  stories/topics/proc-aws-prepare-backup-environment.adoc
  stories/topics/proc-aws-removing-extension-nodes.adoc
  stories/topics/proc-aws-run-backup-playbook.adoc
  stories/topics/proc-aws-run-ops-container.adoc
  stories/topics/proc-aws-run-restore-playbook.adoc
  stories/topics/proc-aws-running-upgrade.adoc
  stories/topics/proc-aws-secure-controller-load-balancer.adoc
  stories/topics/proc-aws-secure-hub-controller-connection.adoc
  stories/topics/proc-aws-set-container-image.adoc
  stories/topics/proc-aws-update-add-data-files.adoc
  stories/topics/proc-aws-update-remove-data-file.adoc
  stories/topics/proc-aws-upgrade-pull-container-image.adoc
  stories/topics/proc-gcp-backup-container-image.adoc
  stories/topics/proc-gcp-backup-platform-stack.adoc
  stories/topics/proc-gcp-create-data-file.adoc
  stories/topics/proc-gcp-from-stack-pull-container-image.adoc
  stories/topics/proc-gcp-generate-playbook.adoc
  stories/topics/proc-gcp-generate-restore-yml-file.adoc
  stories/topics/proc-gcp-generate-upgrade-data-file.adoc
  stories/topics/proc-gcp-generate-variables.adoc
  stories/topics/proc-gcp-prepare-backup-environment.adoc
  stories/topics/proc-gcp-pull-backup-container-image.adoc
  stories/topics/proc-gcp-run-backup-playbook-as-container.adoc
  stories/topics/proc-gcp-run-backup-playbook.adoc
  stories/topics/proc-gcp-run-restore-command.adoc
  stories/topics/proc-gcp-run-restore-playbook-as-container.adoc
  stories/topics/proc-gcp-running-upgrade.adoc
  stories/topics/proc-gcp-setup-environment.adoc
  stories/topics/proc-gcp-upgrade-pull-container-image.adoc
  stories/topics/ref-aws-from-stack-minimum-permissions.adoc
  stories/topics/ref-aws-iam-minimum-permissions.adoc
  stories/topics/ref-aws-iam-upgrade-minimum-permissions.adoc
  stories/topics/ref-aws-update-upgrade-data-file.adoc
  stories/topics/ref-gcp-update-upgrade-data-file.adoc
Labels: AAP on clouds, Ansible on AWS, AAP on GCP

#154 More corrections to AWS procedures
  stories/topics/proc-aws-create-ec2-pair.adoc
  stories/topics/proc-aws-deploy-existing-vpc.adoc
  stories/topics/proc-aws-deploy-new-vpc.adoc
  stories/topics/proc-aws-marketplace.adoc
Labels: documentation, Ansible on AWS

#163 2.2.1 Rename AWS images to fix build problem
  images/aws-transit-gateway.png
  titles/images
Labels: AAP on clouds, Ansible on AWS, 2.2.1
