Repository ansible/aap-docs, pull requests merged in 2023-07, with the labels that each got.

#172 Added new architecture images
  images/AWS-existing-deployment.png
  images/AWS-full-deployment.png
  images/GCP-existing-deployment.png
  images/GCP-full-deployment.png
Labels: documentation, Ansible on AWS, AAP on GCP

#174 Fix codeblock style
  stories/topics/proc-aws-deleting-backups-playbook.adoc
  stories/topics/proc-gcp-deleting-backups-playbook.adoc
  stories/topics/proc-gcp-listing-backups-playbook.adoc
Labels: Ansible on AWS, AAP on GCP, 2.4

#175 Modify chapter and section titles
  aap-common/assembly-aap-command-generator.adoc
  aap-common/proc-aap-list-available-playbooks.adoc
  aap-common/proc-aap-playbooks.adoc
  aap-common/proc-aap-populate-command-data-file.adoc
  aap-common/ref-aap-using-playbooks.adoc
  stories/assembly-aws-backup-and-restore.adoc
  stories/assembly-aws-deploying-extension-nodes.adoc
  stories/assembly-aws-install.adoc
  stories/assembly-aws-intro.adoc
  stories/assembly-aws-removing-extension-nodes.adoc
  stories/assembly-aws-uninstall.adoc
  stories/assembly-aws-upgrade.adoc
  stories/assembly-gcp-backup-and-restore.adoc
  stories/assembly-gcp-install.adoc
  stories/assembly-gcp-intro.adoc
  stories/assembly-gcp-monitoring-logging.adoc
  stories/assembly-gcp-uninstall.adoc
  stories/assembly-gcp-upgrade.adoc
  stories/topics/con-aws-application-architecture.adoc
  stories/topics/con-gcp-application-architecture.adoc
  stories/topics/con-gcp-backup-process.adoc
  stories/topics/con-gcp-create-project.adoc
  stories/topics/con-gcp-restore-process.adoc
  stories/topics/proc-aws-deleting-backups-troubleshooting-playbook.adoc
  stories/topics/proc-aws-retrieve-admin-password.adoc
  stories/topics/proc-aws-retrieve-lb-addresses.adoc
  stories/topics/proc-aws-update-add-data-files.adoc
  stories/topics/proc-gcp-additional-configs-update-admin-password.adoc
  stories/topics/proc-gcp-backup-requirements.adoc
  stories/topics/proc-gcp-delete-administration-secret.adoc
  stories/topics/proc-gcp-delete-backup-leftovers.adoc
  stories/topics/proc-gcp-delete-extension-nodes.adoc
  stories/topics/proc-gcp-delete-object-storage.adoc
  stories/topics/proc-gcp-delete-sevice-account.adoc
  stories/topics/proc-gcp-delete-upgrade-secrets.adoc
  stories/topics/proc-gcp-deleting-backups-playbook.adoc
  stories/topics/proc-gcp-deleting-backups-troubleshooting-playbook.adoc
  stories/topics/proc-gcp-deploying-extension-nodes.adoc
  stories/topics/proc-gcp-listing-backups-playbook.adoc
  stories/topics/proc-gcp-retrieve-admin-password.adoc
  stories/topics/proc-gcp-retrieve-lb-addresses.adoc
  stories/topics/proc-gcp-run-restore-command.adoc
  stories/topics/proc-gcp-uninstall-application.adoc
  stories/topics/ref-aws-iam-policies.adoc
  stories/topics/ref-aws-install-prerequisites.adoc
  stories/topics/ref-gcp-ansible-podman-config.adoc
  stories/topics/ref-gcp-failed-to-restore.adoc
  stories/topics/ref-gcp-install-permissions.adoc
  stories/topics/ref-gcp-install-prerequisites.adoc
Labels: documentation, Ansible on AWS, AAP on GCP

#193 Move sections
  stories/assembly-aws-install.adoc
  stories/topics/ref-aws-install-prerequisites.adoc
Labels: documentation, Ansible on AWS

#201 Modify backup process
  stories/topics/con-gcp-backup-process.adoc
  stories/topics/ref-gcp-iam-backup-minimum-permissions.adoc
Labels: documentation, AAP on GCP

#202 Modify restore instructions
  stories/topics/con-gcp-restore-process.adoc
  stories/topics/ref-gcp-iam-restore-minimum-permissions.adoc
Labels: documentation, AAP on GCP

#203 Modify install instructions
  stories/topics/ref-gcp-install-permissions.adoc
Labels: documentation, AAP on GCP

#213 AoC minor update for playbooks list
  aap-common/proc-aap-list-available-playbooks.adoc
  aap-common/proc-aap-playbooks.adoc
Labels: documentation, AAP on clouds

#217 AoC GCP Add a fix users permissions step for Linux users
  stories/assembly-gcp-tech-notes.adoc
  stories/topics/con-tech-note-linux-files-owned-by-root.adoc
  stories/topics/proc-gcp-create-data-file.adoc
  stories/topics/proc-gcp-deleting-backups-playbook.adoc
  stories/topics/proc-gcp-generate-restore-yml-file.adoc
  stories/topics/proc-gcp-generate-upgrade-data-file.adoc
  stories/topics/proc-gcp-generate-variables.adoc
  stories/topics/proc-gcp-listing-backups-playbook.adoc
Labels: documentation

#211 Add GCP deploying extension nodes chapter
  stories/assembly-gcp-deploying-extension-nodes.adoc
  stories/topics/con-gcp-pull-deploy-container-image.adoc
  stories/topics/proc-gcp-deploying-add-extension-nodes.adoc
  stories/topics/proc-gcp-generate-add-data-files.adoc
  stories/topics/proc-gcp-update-add-data-files.adoc
  stories/topics/ref-gcp-decide-offer-type.adoc
  stories/topics/ref-gcp-permissions-to-manage-nodes.adoc
  titles/aap-on-gcp/stories.adoc
Labels: documentation, AAP on GCP

#219 Create removing extension nodes chapter
  stories/assembly-gcp-removing-extension-nodes.adoc
  stories/topics/con-gcp-pull-remove-container-image.adoc
  stories/topics/proc-gcp-generate-remove-data-files.adoc
  stories/topics/proc-gcp-removing-extension-nodes.adoc
  stories/topics/proc-gcp-update-remove-data-file.adoc
  titles/aap-on-gcp/stories.adoc
Labels: documentation, enhancement, AAP on GCP

#227 Added new architecture diagrams
  stories/topics/con-aws-application-architecture.adoc
  stories/topics/con-gcp-application-architecture.adoc
Labels: documentation, enhancement, Ansible on AWS, AAP on GCP

#218 AoC AWS Add a fix users permissions step for Linux users
  stories/assembly-aws-tech-notes.adoc
  stories/topics/proc-aws-deleting-backups-playbook.adoc
  stories/topics/proc-aws-generate-add-data-files.adoc
  stories/topics/proc-aws-generate-backup-data-file.adoc
  stories/topics/proc-aws-generate-remove-data-files.adoc
  stories/topics/proc-aws-generate-restore-data-file.adoc
  stories/topics/proc-aws-generate-upgrade-data-file.adoc
Labels: documentation

#234 Modified release notes section
  aap-common/assembly-appendix-release-notes.adoc
  aap-common/assembly-release-notes.adoc
  stories/topics/proc-aws-deleting-backups-playbook.adoc
  stories/topics/proc-aws-generate-add-data-files.adoc
  stories/topics/proc-aws-generate-backup-data-file.adoc
  stories/topics/proc-aws-generate-remove-data-files.adoc
  stories/topics/proc-aws-generate-restore-data-file.adoc
  stories/topics/proc-aws-generate-upgrade-data-file.adoc
  stories/topics/ref-gcp-automation-performance.adoc
  titles/aap-on-aws/stories.adoc
  titles/aap-on-gcp/stories.adoc
Labels: documentation, Ansible on AWS, AAP on GCP

#237 Tidy up architecture descriptions
  stories/topics/con-aws-application-architecture.adoc
  stories/topics/con-gcp-application-architecture.adoc
Labels: documentation, Ansible on AWS, AAP on GCP

#238 Tidy up procedure
  stories/topics/proc-aws-deploy-existing-vpc.adoc
  stories/topics/proc-aws-deploy-new-vpc.adoc
Labels: documentation, Ansible on AWS

#239 Remove single numbered steps
  stories/topics/proc-aws-configure-security-network.adoc
  stories/topics/proc-aws-retrieve-admin-password.adoc
  stories/topics/proc-aws-retrieve-lb-addresses.adoc
Labels: documentation, Ansible on AWS

#245 Tidied up cross references
  stories/assembly-gcp-upgrade.adoc
  stories/topics/proc-aws-uninstall-extension-nodes.adoc
  stories/topics/proc-gcp-create-data-file.adoc
  stories/topics/proc-gcp-deleting-backups-playbook.adoc
  stories/topics/proc-gcp-generate-upgrade-data-file.adoc
  stories/topics/proc-gcp-generate-variables.adoc
  stories/topics/proc-gcp-running-upgrade.adoc
Labels: documentation, Ansible on AWS, AAP on GCP

#246 Tidy up procedures
  stories/assembly-aws-upgrade.adoc
  stories/assembly-gcp-upgrade.adoc
  stories/topics/con-aws-update-restore-data-file.adoc
  stories/topics/con-gcp-upgrade-backup-process.adoc
  stories/topics/con-gcp-upgrade-upgrading.adoc
  stories/topics/proc-aws-marketplace.adoc
  stories/topics/proc-gcp-deploying-extension-nodes.adoc
Labels: documentation, Ansible on AWS, AAP on GCP
