Repository ansible/aap-docs, pull requests merged in 2024-06, with the labels that each got.

#1395 2.4 Update BaseURL attribute to docs.redhat.com site (#1344)
  downstream/attributes/attributes.adoc
Labels: Attributes, 2.4

#1354 AAP-23926 Remove content from EDA GS guide that points customers to c…
  downstream/modules/eda/ref-installing-eda-controller-on-aap.adoc
Labels: Needs backport to 2.4, Technical review complete, 2.4

#1396 AAP-17190 Remove molecule chapter from devtools guide
  downstream/assemblies/devtools/assembly-testing-playbooks.adoc
  downstream/titles/develop-automation-content/master.adoc
Labels: Needs backport to 2.4, 2.4

#1397 Backport-2.4-1397 Remove content from EDA GS guide that points customers to c…
  downstream/modules/eda/ref-installing-eda-controller-on-aap.adoc
Labels: 2.4

#1398 2.4 AAP-17190 Remove molecule chapter from devtools guide (#1396)
  downstream/assemblies/devtools/assembly-testing-playbooks.adoc
  downstream/titles/develop-automation-content/master.adoc
Labels: 2.4

#1366 Update Controller Admin UI ch 21-29
  downstream/assemblies/platform/assembly-ag-controller-backup-and-restore.adoc
  downstream/assemblies/platform/assembly-ag-controller-tips-and-tricks.adoc
  downstream/assemblies/platform/assembly-ag-controller-usability-analytics.adoc
  downstream/modules/platform/con-controller-backup-restore-playbooks.adoc
  downstream/modules/platform/proc-controller-control-data-collection.adoc
  downstream/modules/platform/proc-controller-work-with-session-limits.adoc
  downstream/modules/platform/ref-controller-allow-jinja-in-extra-vars.adoc
  downstream/modules/platform/ref-controller-backup-restore-considerations.adoc
  downstream/modules/platform/ref-controller-configure-host-name-notifications.adoc
  downstream/modules/platform/ref-controller-ec2-vpc-instances.adoc
  downstream/modules/platform/ref-controller-list-ansible-variables.adoc
  downstream/modules/platform/ref-controller-locate-ansible-config-file.adoc
  downstream/modules/platform/ref-controller-performance-troubleshooting.adoc
  downstream/modules/platform/ref-controller-settings-control-execution-nodes.adoc
  downstream/modules/platform/ref-controller-settings-to-modify-events.adoc
  downstream/modules/platform/ref-controller-troubleshoot-logging.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.5

#1399 Restructure configuation chapter
  downstream/assemblies/platform/assembly-ag-controller-config.adoc
  downstream/modules/platform/con-controller-custom-logos.adoc
  downstream/modules/platform/proc-controller-configure-jobs.adoc
  downstream/modules/platform/proc-controller-configure-system.adoc
  downstream/modules/platform/proc-controller-configure-user-interface.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, Main, 2.5

#1401 AAP-25067 removing incorrect sentence
  downstream/assemblies/platform/assembly-operator-add-execution-nodes.adoc
Labels: documentation, Ready for review, Needs backport to 2.4, 2.4, AAP operator

#1400 Add async release note templates
  downstream/templates/installer-rn-template.adoc
  downstream/templates/rpm-rn-template.adoc
Labels: Needs backport to 2.4

#1402 2.4 Backport 1400 to 24
  downstream/templates/installer-rn-template.adoc
  downstream/templates/rpm-rn-template.adoc
Labels: AAP Release notes, 2.4

#1403 AAP-25067 removing incorrect sentence (#1401)
  downstream/assemblies/platform/assembly-operator-add-execution-nodes.adoc
Labels: documentation, Ready for review, 2.4, AAP operator

#1406 Changed documentation link
  downstream/modules/platform/ref-connect-hub-to-rhsso.adoc
Labels: documentation, Needs backport to 2.4, 2.4

#1407 Changed documentation link (#1406)
  downstream/modules/platform/ref-connect-hub-to-rhsso.adoc
Labels: Backported to 2.4, 2.4

#1404 Remove conscious language module
  downstream/titles/aap-containerized-install/master.adoc
  downstream/titles/aap-hardening/master.adoc
  downstream/titles/aap-installation-guide/master.adoc
  downstream/titles/aap-operations-guide/master.adoc
  downstream/titles/aap-operator-backup/master.adoc
  downstream/titles/aap-operator-installation/master.adoc
  downstream/titles/aap-planning-guide/master.adoc
  downstream/titles/analytics/automation-savings-planner/master.adoc
  downstream/titles/analytics/automation-savings/master.adoc
  downstream/titles/analytics/job-explorer/master.adoc
  downstream/titles/analytics/reports/master.adoc
  downstream/titles/automation-mesh/master.adoc
  downstream/titles/builder/master.adoc
  downstream/titles/central-auth/master.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
  downstream/titles/controller/controller-api-overview/master.adoc
  downstream/titles/controller/controller-getting-started/master.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
  downstream/titles/dev-guide/master.adoc
  downstream/titles/develop-automation-content/master.adoc
  downstream/titles/eda/eda-getting-started-guide/master.adoc
  downstream/titles/eda/eda-user-guide/master.adoc
  downstream/titles/hub/getting-started/master.adoc
  downstream/titles/hub/managing-content/master.adoc
  downstream/titles/navigator-guide/master.adoc
  downstream/titles/ocp_performance_guide/master.adoc
  downstream/titles/operator-mesh/master.adoc
  downstream/titles/playbooks/playbooks-getting-started/master.adoc
  downstream/titles/playbooks/playbooks-reference/master.adoc
  downstream/titles/release-notes/master.adoc
  downstream/titles/security-guide/master.adoc
  downstream/titles/troubleshooting-aap/master.adoc
  downstream/titles/upgrade/master.adoc
Labels: documentation, Main, 2.5

#1412 Add link to Planning Guide
  downstream/assemblies/hub/assembly-populate-container-registry.adoc
Labels: Needs backport to 2.4, Automation Hub, 2.4

#1414 Add link to Planning Guide (#1412)
  downstream/assemblies/hub/assembly-populate-container-registry.adoc
Labels: Backported to 2.4, 2.4

#1415 Added note to say usability analytics isn't supported
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: Controller, 2.5

#1416 Add 2.4-7 async installer release notes
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-6.adoc
  downstream/titles/release-notes/topics/eda-24.adoc
  downstream/titles/release-notes/topics/installer-24-11.adoc
  downstream/titles/release-notes/topics/installer-24-12.adoc
  downstream/titles/release-notes/topics/installer-24-13.adoc
  downstream/titles/release-notes/topics/installer-24-14.adoc
  downstream/titles/release-notes/topics/installer-24-21.adoc
  downstream/titles/release-notes/topics/installer-24-22.adoc
  downstream/titles/release-notes/topics/installer-24-23.adoc
  downstream/titles/release-notes/topics/installer-24-24.adoc
  downstream/titles/release-notes/topics/installer-24-6.adoc
  downstream/titles/release-notes/topics/installer-24-61.adoc
  downstream/titles/release-notes/topics/installer-24-62.adoc
  downstream/titles/release-notes/topics/rpm-24-2.adoc
  downstream/titles/release-notes/topics/rpm-24-3.adoc
  downstream/titles/release-notes/topics/rpm-24-4.adoc
  downstream/titles/release-notes/topics/rpm-24-5.adoc
  downstream/titles/release-notes/topics/rpm-24-6.adoc
  downstream/titles/release-notes/topics/rpm-24-7.adoc
  downstream/titles/release-notes/topics/rpm-version-table.adoc
Labels: Needs backport to 2.4, AAP Release notes

#1417 2.4 Add 2.4-7 async installer release notes (#1416)
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/bundle-installer-24-6.adoc
  downstream/titles/release-notes/topics/eda-24.adoc
  downstream/titles/release-notes/topics/installer-24-11.adoc
  downstream/titles/release-notes/topics/installer-24-12.adoc
  downstream/titles/release-notes/topics/installer-24-13.adoc
  downstream/titles/release-notes/topics/installer-24-14.adoc
  downstream/titles/release-notes/topics/installer-24-21.adoc
  downstream/titles/release-notes/topics/installer-24-22.adoc
  downstream/titles/release-notes/topics/installer-24-23.adoc
  downstream/titles/release-notes/topics/installer-24-24.adoc
  downstream/titles/release-notes/topics/installer-24-6.adoc
  downstream/titles/release-notes/topics/installer-24-61.adoc
  downstream/titles/release-notes/topics/installer-24-62.adoc
  downstream/titles/release-notes/topics/rpm-24-2.adoc
  downstream/titles/release-notes/topics/rpm-24-3.adoc
  downstream/titles/release-notes/topics/rpm-24-4.adoc
  downstream/titles/release-notes/topics/rpm-24-5.adoc
  downstream/titles/release-notes/topics/rpm-24-6.adoc
  downstream/titles/release-notes/topics/rpm-24-7.adoc
  downstream/titles/release-notes/topics/rpm-version-table.adoc
Labels: AAP Release notes, 2.4

#1418 including assemblies in master.adoc file
  titles/saas-aws/stories.adoc
Labels: documentation, AAP on clouds, SaaS on AWS

#1413 create dev tools personas
  downstream/journeys/dev-tools-personas.md
Labels: Ready for review

#1420 Clouds: Update BaseURL attribute
  attributes/attributes.adoc
  stories/assembly-saas-install.adoc
  stories/assembly-saas-intro.adoc
  stories/assembly-saas-planning.adoc
  stories/assembly-saas-post-install-config.adoc
  stories/assembly-saas-set-up.adoc
Labels: AAP on clouds, Attributes

#1424 Removing AAP acronyms
  downstream/archive/archived-modules/platform/ref-network-ports-protocols.adoc
Labels: documentation, Ready for review

#1423 Add note about collection precedence when running a job
  downstream/modules/platform/ref-projects-collections-support.adoc
Labels: Needs backport to 2.4

#1425 2.4 Add note about collection precedence when running a job (#1423)
  downstream/modules/platform/ref-projects-collections-support.adoc
Labels: 2.4

#1422 AAP-25255: Restructured existing Lightspeed configuration content and removed WCA acronym
  lightspeed/assemblies/assembly_configure-code-assistant.adoc
  lightspeed/assemblies/assembly_setting-up-lightspeed.adoc
  lightspeed/modules/con_lightspeed-process.adoc
  lightspeed/modules/con_wca-key-model-id.adoc
  lightspeed/modules/proc_configure-vscode-extension.adoc
  lightspeed/modules/proc_log-in-administrator-portal.adoc
  lightspeed/modules/proc_obtain-config-wca-and-model-id.adoc
  lightspeed/modules/proc_troubleshooting-lightspeed-config.adoc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Ready for review, Lightspeed

#1426 Add boilerplate module
  downstream/aap-common/boilerplate.adoc
  downstream/attributes/attributes.adoc
  downstream/titles/aap-containerized-install/master.adoc
  downstream/titles/aap-hardening/master.adoc
  downstream/titles/aap-installation-guide/master.adoc
  downstream/titles/aap-operations-guide/master.adoc
  downstream/titles/aap-operator-backup/master.adoc
  downstream/titles/aap-operator-installation/master.adoc
  downstream/titles/aap-planning-guide/master.adoc
  downstream/titles/analytics/automation-savings-planner/master.adoc
  downstream/titles/analytics/automation-savings/master.adoc
  downstream/titles/analytics/job-explorer/master.adoc
  downstream/titles/analytics/reports/master.adoc
  downstream/titles/automation-mesh/master.adoc
  downstream/titles/builder/master.adoc
  downstream/titles/central-auth/master.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
  downstream/titles/controller/controller-api-overview/master.adoc
  downstream/titles/controller/controller-getting-started/master.adoc
  downstream/titles/controller/controller-user-guide/master.adoc
  downstream/titles/dev-guide/master.adoc
  downstream/titles/develop-automation-content/master.adoc
  downstream/titles/eda/eda-getting-started-guide/master.adoc
  downstream/titles/eda/eda-user-guide/master.adoc
  downstream/titles/hub/getting-started/master.adoc
  downstream/titles/hub/managing-content/master.adoc
  downstream/titles/navigator-guide/master.adoc
  downstream/titles/ocp_performance_guide/master.adoc
  downstream/titles/operator-mesh/master.adoc
  downstream/titles/playbooks/playbooks-getting-started/master.adoc
  downstream/titles/playbooks/playbooks-reference/master.adoc
  downstream/titles/release-notes/master.adoc
  downstream/titles/security-guide/master.adoc
  downstream/titles/troubleshooting-aap/master.adoc
  downstream/titles/upgrade/master.adoc
Labels: Needs backport to 2.4, repo, Attributes, 2.4

#1428 Controller User Guide UI update chapters 1-11
  downstream/assemblies/platform/assembly-controller-secret-management.adoc
  downstream/modules/platform/ref-aws-secrets-manager-lookup.adoc
  downstream/modules/platform/ref-controller-other-search-considerations.adoc
  downstream/modules/platform/ref-controller-search-tips.adoc
  downstream/modules/platform/ref-hashicorp-signed-ssh.adoc
  downstream/modules/platform/ref-hashicorp-vault-lookup.adoc
Labels: documentation, Controller, 2.5

#1433 Add 2.4-7 bundle installer release to release notes
  downstream/templates/installer-rn-template.adoc
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/installer-24-7.adoc
  downstream/titles/release-notes/topics/installer-version-table.adoc
  downstream/titles/release-notes/topics/rpm-version-table.adoc
Labels: Needs backport to 2.4, AAP Release notes

#1434 2.4 Add 2.4-7 bundle installer release to release notes (#1433)
  downstream/templates/installer-rn-template.adoc
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/installer-24-7.adoc
  downstream/titles/release-notes/topics/installer-version-table.adoc
  downstream/titles/release-notes/topics/rpm-version-table.adoc
Labels: AAP Release notes, 2.4

#1435 Update CVE python packages to include each version
  downstream/titles/release-notes/topics/rpm-24-7.adoc
Labels: Needs backport to 2.4, AAP Release notes

#1436 2.4 Backport 1435 to 24
  downstream/titles/release-notes/topics/rpm-24-7.adoc
Labels: AAP Release notes, 2.4

#1437 Updates title for style consistency
  downstream/titles/aap-installation-guide/docinfo.xml
  downstream/titles/aap-installation-guide/master.adoc
Labels: Ready for review, Needs backport to 2.4, Title change, 2.4

#1438 Updates title for style consistency (#1437) [backport]
  downstream/titles/aap-installation-guide/docinfo.xml
  downstream/titles/aap-installation-guide/master.adoc
Labels: Backported to 2.4, Title change

#1439 Tech review edits applied to SaaS docs
  attributes/attributes.adoc
  stories/assembly-saas-post-install-config.adoc
  stories/assembly-saas-set-up.adoc
  stories/topics/con-saas-intro.adoc
  stories/topics/proc-saas-set-up-private.adoc
  stories/topics/proc-saas-set-up-public.adoc
Labels: documentation, AAP on clouds, Ready for review, SaaS on AWS

#1443 Updated titles to reflect style guide standards for AAP books
  downstream/titles/Build Books.scpt
  downstream/titles/aap-hardening/docinfo.xml
  downstream/titles/aap-hardening/master.adoc
  downstream/titles/aap-operations-guide/docinfo.xml
  downstream/titles/aap-operations-guide/master.adoc
  downstream/titles/aap-operator-backup/docinfo.xml
  downstream/titles/aap-operator-backup/master.adoc
  downstream/titles/aap-planning-guide/docinfo.xml
  downstream/titles/aap-planning-guide/master.adoc
  downstream/titles/analytics/automation-savings/docinfo.xml
  downstream/titles/analytics/automation-savings/master.adoc
  downstream/titles/analytics/job-explorer/docinfo.xml
  downstream/titles/analytics/job-explorer/master.adoc
  downstream/titles/automation-mesh/docinfo.xml
  downstream/titles/automation-mesh/master.adoc
  downstream/titles/builder/docinfo.xml
  downstream/titles/builder/master.adoc
  downstream/titles/central-auth/docinfo.xml
  downstream/titles/central-auth/master.adoc
  downstream/titles/controller/controller-admin-guide/docinfo.xml
  downstream/titles/controller/controller-admin-guide/master.adoc
  downstream/titles/controller/controller-user-guide/docinfo.xml
  downstream/titles/controller/controller-user-guide/master.adoc
  downstream/titles/dev-guide/docinfo.xml
  downstream/titles/dev-guide/master.adoc
  downstream/titles/eda/eda-getting-started-guide/docinfo.xml
  downstream/titles/eda/eda-getting-started-guide/master.adoc
  downstream/titles/navigator-guide/docinfo.xml
  downstream/titles/navigator-guide/master.adoc
  downstream/titles/ocp_performance_guide/docinfo.xml
  downstream/titles/ocp_performance_guide/master.adoc
  downstream/titles/security-guide/docinfo.xml
  downstream/titles/security-guide/master.adoc
  downstream/titles/upgrade/docinfo.xml
  downstream/titles/upgrade/master.adoc
Labels: Ready for review, Needs backport to 2.4, Title change, 2.4

#1444 Updated titles to reflect style guide standards for AAP books (#1443)
  downstream/titles/Build Books.scpt
  downstream/titles/aap-hardening/docinfo.xml
  downstream/titles/aap-hardening/master.adoc
  downstream/titles/aap-operations-guide/docinfo.xml
  downstream/titles/aap-operations-guide/master.adoc
  downstream/titles/aap-operator-backup/docinfo.xml
  downstream/titles/aap-operator-backup/master.adoc
  downstream/titles/aap-planning-guide/docinfo.xml
  downstream/titles/aap-planning-guide/master.adoc
  downstream/titles/analytics/automation-savings/docinfo.xml
  downstream/titles/analytics/automation-savings/master.adoc
  downstream/titles/analytics/job-explorer/docinfo.xml
  downstream/titles/analytics/job-explorer/master.adoc
  downstream/titles/automation-mesh/docinfo.xml
  downstream/titles/automation-mesh/master.adoc
  downstream/titles/builder/docinfo.xml
  downstream/titles/builder/master.adoc
  downstream/titles/central-auth/docinfo.xml
  downstream/titles/central-auth/master.adoc
  downstream/titles/controller/controller-admin-guide/docinfo.xml
  downstream/titles/controller/controller-admin-guide/master.adoc
  downstream/titles/controller/controller-user-guide/docinfo.xml
  downstream/titles/controller/controller-user-guide/master.adoc
  downstream/titles/dev-guide/docinfo.xml
  downstream/titles/dev-guide/master.adoc
  downstream/titles/eda/eda-getting-started-guide/docinfo.xml
  downstream/titles/eda/eda-getting-started-guide/master.adoc
  downstream/titles/navigator-guide/docinfo.xml
  downstream/titles/navigator-guide/master.adoc
  downstream/titles/ocp_performance_guide/docinfo.xml
  downstream/titles/ocp_performance_guide/master.adoc
  downstream/titles/security-guide/docinfo.xml
  downstream/titles/security-guide/master.adoc
  downstream/titles/upgrade/docinfo.xml
  downstream/titles/upgrade/master.adoc
Labels: Ready for review, 2.4

#1445 Changed titles for consistency for API, mesh guide, and release notes
  downstream/titles/controller/controller-api-overview/docinfo.xml
  downstream/titles/controller/controller-api-overview/master.adoc
  downstream/titles/operator-mesh/docinfo.xml
  downstream/titles/operator-mesh/master.adoc
  downstream/titles/release-notes/docinfo.xml
  downstream/titles/release-notes/master.adoc
Labels: Ready for review, Needs backport to 2.4, Title change, 2.4

#1450 Typo-fix
  stories/topics/proc-saas-set-up-public.adoc
Labels: documentation, AAP on clouds, Ready for review, SaaS on AWS

#1451 adding missing hyperlink as part of aap-23886
  downstream/modules/platform/con-operator-upgrade-prereq.adoc
Labels: documentation, Ready for review, Needs backport to 2.4, Needs backport to 2.3, AAP operator

#1452 adding missing hyperlink as part of aap-23886 (#1451)
  downstream/modules/platform/con-operator-upgrade-prereq.adoc
Labels: documentation, Needs backport to 2.3, AAP operator

#1453 adding missing hyperlink as part of aap-23886 (#1451)
  downstream/modules/platform/con-operator-upgrade-prereq.adoc
Labels: documentation, Needs backport to 2.4, AAP operator

#1441 AAP-25229 Update URL for link from Azure doc to mesh doc
  stories/topics/con-azure-about.adoc
Labels: AAP on clouds, AAP on Azure

#1454 Update SaaS title
  titles/saas-aws/docinfo.xml
  titles/saas-aws/master.adoc
  titles/saas-aws/title-attributes.adoc
Labels: documentation, AAP on clouds, SaaS on AWS

#1456 Updated titles to reflect style guide standards for AAP books
  downstream/titles/controller/controller-api-overview/docinfo.xml
  downstream/titles/controller/controller-api-overview/master.adoc
  downstream/titles/operator-mesh/docinfo.xml
  downstream/titles/operator-mesh/master.adoc
  downstream/titles/release-notes/docinfo.xml
  downstream/titles/release-notes/master.adoc
Labels: Ready for review, 2.4

#1457 Add detail to asynchronous updates section of release notes
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/async-updates.adoc
Labels: Needs backport to 2.4, AAP Release notes

#1458 2.4 Add detail to asynchronous updates section of release notes (#1457)
  downstream/titles/release-notes/master.adoc
  downstream/titles/release-notes/topics/async-updates.adoc
Labels: AAP Release notes, 2.4

#1427 Update Controller Admin guide for UI changes
  downstream/assemblies/platform/assembly-ag-controller-config.adoc
  downstream/assemblies/platform/assembly-ag-controller-security-best-practices.adoc
  downstream/assemblies/platform/assembly-controller-awx-manage-utility.adoc
  downstream/assemblies/platform/assembly-controller-instances.adoc
  downstream/assemblies/platform/assembly-controller-isolation-function-variables.adoc
  downstream/images/management-job-notifications-empty.png
  downstream/modules/platform/con-controller-custom-logos.adoc
  downstream/modules/platform/con-controller-instance-groups.adoc
  downstream/modules/platform/con-controller-multi-cred-background.adoc
  downstream/modules/platform/proc-controller-api-4xx-error-config.adoc
  downstream/modules/platform/proc-controller-configure-system.adoc
  downstream/modules/platform/proc-controller-set-up-logging.adoc
  downstream/modules/platform/ref-controller-audit-functionality.adoc
  downstream/modules/platform/ref-controller-available-resources.adoc
  downstream/modules/platform/ref-controller-cluster-install.adoc
  downstream/modules/platform/ref-controller-loggers.adoc
  downstream/modules/platform/ref-controller-logs.adoc
  downstream/modules/platform/ref-controller-multi-cred-changes.adoc
  downstream/modules/platform/ref-controller-node-types.adoc
  downstream/modules/platform/ref-removing-instances.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.5

#1455 AAP-20958: Created docs for Lightspeed on-premise deployment feature
  lightspeed/assemblies/assembly_configuring-lightspeed-onpremise.adoc
  lightspeed/assemblies/assembly_configuring-vscode-extension.adoc
  lightspeed/assemblies/assembly_managing-admin-dashboard-telemetry.adoc
  lightspeed/assemblies/assembly_setting-up-lightspeed.adoc
  lightspeed/images/aiconnect-auth-secret.png
  lightspeed/images/popup-window-client-ID-secret.png
  lightspeed/images/update-connection-secrets.png
  lightspeed/modules/con_overview-lightspeed-onpremise.adoc
  lightspeed/modules/con_wca-key-model-id.adoc
  lightspeed/modules/proc_configure-vscode-extension-onpremise-deployment.adoc
  lightspeed/modules/proc_create-connection-secrets.adoc
  lightspeed/modules/proc_create-lightspeed-instance.adoc
  lightspeed/modules/proc_create-oauth-app.adoc
  lightspeed/modules/proc_install-aap-lightspeed-operator.adoc
  lightspeed/modules/proc_install-vscode-extension.adoc
  lightspeed/modules/proc_update-connection-secrets.adoc
  lightspeed/modules/proc_update-redirect-uri.adoc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Peer review complete, Lightspeed

#1461 AAP-20958 Lightspeed Set grandparent-context for assembly with nesting
  lightspeed/assemblies/assembly_setting-up-lightspeed.adoc
Labels: Ready for review, Lightspeed

#1442 AAP-25121 Azure: Add limited support info
  stories/assembly-azure-support.adoc
  stories/topics/ref-azure-limited-support-status.adoc
Labels: AAP on clouds, AAP on Azure, Ready for technical review

#1459 Preparing assemblies and modules for 2.5
  downstream/assemblies/platform/assembly-configure-aap-operator.adoc
  downstream/assemblies/platform/assembly-operator-deploy-gateway.adoc
  downstream/modules/platform/proc-operator-aap-troubleshooting.adoc
  downstream/modules/platform/proc-operator-access-aap.adoc
  downstream/modules/platform/proc-operator-deploy-central-config.adoc
  downstream/modules/platform/proc-operator-link-components.adoc
  downstream/titles/aap-operator-installation/master.adoc
Labels: documentation, 2.5, AAP operator

#1462 Editing terraform doc links
  downstream/modules/platform/proc-controller-inv-source-terraform.adoc
Labels: documentation, Controller, 2.5

#1464 AAP-25663: Update IBM WCA on-premise doc links in Lightspeed on-premise docs
  lightspeed/modules/con_overview-lightspeed-onpremise.adoc
  lightspeed/modules/proc_create-connection-secrets.adoc
Labels: Peer review complete, Lightspeed

#1421 AAP-22284: Created docs for playbook generation and explanation feature
  lightspeed/assemblies/assembly_generating-playbooks.adoc
  lightspeed/images/lightspeed-create-ansible-content.png
  lightspeed/images/lightspeed-playbook-explanation.png
  lightspeed/modules/con_playbook-generation-best-practices.adoc
  lightspeed/modules/proc_generate-playbook.adoc
  lightspeed/modules/proc_view-playbook-explanation.adoc
  lightspeed/titles/lightspeed-user-guide/master.adoc
Labels: Peer review complete, Lightspeed

#1465 AAP-25669: Added release notes blurb for Lightspeed on-premise deployment and playbook generation features
  lightspeed/titles/lightspeed-release-notes/master.adoc
  lightspeed/titles/lightspeed-release-notes/modules/lightspeed-intro.adoc
  lightspeed/titles/lightspeed-release-notes/modules/lightspeed-rn-june2024.adoc
Labels: Ready for review, Lightspeed

#1466 AAP-25672: Incorporate SME feedback for playbook generation feature
  lightspeed/assemblies/assembly_generating-playbooks.adoc
  lightspeed/images/lightspeed-create-ansible-content.png
  lightspeed/modules/con_playbook-generation-best-practices.adoc
  lightspeed/modules/proc_generate-playbook.adoc
Labels: Ready for review, Lightspeed

#1467 AAP-25693: Updated the PNG reference in creating OAuth topic
  lightspeed/modules/proc_create-oauth-app.adoc
Labels: Ready for review, Lightspeed

#1468 AAP-25696: Added cross-references in release notes blurbs
  lightspeed/titles/lightspeed-release-notes/modules/lightspeed-rn-june2024.adoc
Labels: Ready for review, Lightspeed

#1470 2.4 Update release notes based on editorial review feedback (#1469)
  downstream/titles/release-notes/topics/async-updates.adoc
  downstream/titles/release-notes/topics/docs-24.adoc
  downstream/titles/release-notes/topics/platform-intro.adoc
  downstream/titles/release-notes/topics/rpm-24-2.adoc
  downstream/titles/release-notes/topics/rpm-24-3.adoc
  downstream/titles/release-notes/topics/rpm-24-6.adoc
Labels: AAP Release notes, 2.4

#1471 Updating verbiage to platform gateway and updating FAQ section
  downstream/assemblies/platform/assembly-configure-aap-operator.adoc
  downstream/modules/platform/proc-operator-aap-faq.adoc
  downstream/modules/platform/proc-operator-aap-troubleshooting.adoc
  downstream/modules/platform/proc-operator-access-aap.adoc
  downstream/modules/platform/proc-operator-deploy-central-config.adoc
  downstream/modules/platform/proc-operator-link-components.adoc
  downstream/titles/aap-operator-installation/master.adoc
Labels: documentation, Ready for review, 2.5, AAP operator

#1472 AAP-25121 Azure: Update limited support status section
  stories/topics/ref-azure-limited-support-status.adoc
Labels: AAP on clouds, AAP on Azure

#1473 Refreshed menu attributes based on the latest test build
  downstream/attributes/attributes.adoc
Labels: Ready for review, Attributes, 2.5

#1474 Setting up new proc files for AAP-22178
  downstream/assemblies/platform/assembly-aap-backup.adoc
  downstream/assemblies/platform/assembly-aap-recovery.adoc
  downstream/modules/platform/proc-aap-platform-gateway-backup.adoc
  downstream/modules/platform/proc-aap-platform-gateway-restore.adoc
Labels: documentation, Ready for review, 2.5, AAP operator

#1476 AAP-25774 Add sync script to 2.5 branch
  bin/sync_docs.sh
  bin/sync_ocp_latest.sh
Labels: repo, 2.5

#1477 Archive Ansible Creator Guide for 2.5
  downstream/archive/archived-titles/dev-guide/aap-common
  downstream/archive/archived-titles/dev-guide/attributes
  downstream/archive/archived-titles/dev-guide/core
  downstream/archive/archived-titles/dev-guide/dev-guide
  downstream/archive/archived-titles/dev-guide/docinfo.xml
  downstream/archive/archived-titles/dev-guide/images
  downstream/archive/archived-titles/dev-guide/master.adoc
  downstream/archive/archived-titles/dev-guide/navigator
Labels: Archive, 2.5

#1479 AAP-25788: Incorporate SME feedback and language edits for 'Configuring custom models' chapter
  lightspeed/assemblies/assembly_configuring-custom-models.adoc
  lightspeed/modules/con_ansible-content-parser.adoc
  lightspeed/modules/proc_configure-custom-models-lightspeed.adoc
  lightspeed/modules/proc_generate-training-data-set.adoc
  lightspeed/modules/proc_install-content-parser.adoc
  lightspeed/modules/proc_resolve-ansible-lint-rule-violations.adoc
  lightspeed/modules/proc_view-content-parser-output.adoc
Labels: Ready for review, Lightspeed

#1460 Create new ports and networks routing table
  downstream/assemblies/platform/assembly-network-ports-protocols.adoc
Labels: documentation, Needs backport to 2.4, 2.4

#1481 Create new ports and networks routing table (#1460)
  downstream/assemblies/platform/assembly-network-ports-protocols.adoc
Labels: 2.5, Backported to 2.5

#1482 Create new ports and networks routing table
  downstream/assemblies/platform/assembly-network-ports-protocols.adoc
Labels: 2.4

#1483 Adding proc content (AAP-22718)
  downstream/assemblies/platform/assembly-aap-backup.adoc
  downstream/assemblies/platform/assembly-aap-recovery.adoc
  downstream/modules/platform/proc-aap-platform-gateway-backup.adoc
  downstream/modules/platform/proc-aap-platform-gateway-restore.adoc
Labels: documentation, Ready for review, 2.5, AAP operator

#1484 Adding proc content (AAP-22718) (#1483)
  downstream/assemblies/platform/assembly-aap-backup.adoc
  downstream/assemblies/platform/assembly-aap-recovery.adoc
  downstream/modules/platform/proc-aap-platform-gateway-backup.adoc
  downstream/modules/platform/proc-aap-platform-gateway-restore.adoc
Labels: documentation, Ready for review, 2.5, AAP operator, Needs backport to 2.5

#1486 Update controller doc titles for 2.5
  downstream/titles/controller/controller-admin-guide/docinfo.xml
  downstream/titles/controller/controller-admin-guide/master.adoc
  downstream/titles/controller/controller-api-overview/docinfo.xml
  downstream/titles/controller/controller-api-overview/master.adoc
  downstream/titles/controller/controller-user-guide/docinfo.xml
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: documentation, Controller, 2.5, Needs backport to 2.5

#1488 Update controller doc titles for 2.5 (#1486)
  downstream/titles/controller/controller-admin-guide/docinfo.xml
  downstream/titles/controller/controller-admin-guide/master.adoc
  downstream/titles/controller/controller-api-overview/docinfo.xml
  downstream/titles/controller/controller-api-overview/master.adoc
  downstream/titles/controller/controller-user-guide/docinfo.xml
  downstream/titles/controller/controller-user-guide/master.adoc
Labels: documentation, Controller, 2.5, Backported to 2.5

#1485 AAP-25806 Azure - update CIDR range minimums
  stories/topics/con-azure-aks-cidr.adoc
Labels: AAP on clouds, Ready for review, AAP on Azure

#1491 Adding in SME feedback on backup and restore drafts
  downstream/assemblies/platform/assembly-aap-backup.adoc
  downstream/modules/platform/proc-aap-platform-gateway-backup.adoc
  downstream/modules/platform/proc-aap-platform-gateway-restore.adoc
Labels: documentation, Ready for review, 2.5, AAP operator, Needs backport to 2.5

#1492 Adding in SME feedback on backup and restore drafts (#1491)
  downstream/assemblies/platform/assembly-aap-backup.adoc
  downstream/modules/platform/proc-aap-platform-gateway-backup.adoc
  downstream/modules/platform/proc-aap-platform-gateway-restore.adoc
Labels: documentation, Ready for review, AAP operator, Needs backport to 2.5

#1496 AAP-25889 Azure - link to kcs article for list of domains
  stories/topics/proc-azure-update-route-tables.adoc
Labels: AAP on clouds, AAP on Azure

#1497 Backport #1489 to 2.4
  downstream/assemblies/hub/assembly-populate-container-registry.adoc
  downstream/modules/hub/proc-obtain-images.adoc
Labels: Ready for review, 2.4

#1494 Adding note on AWS account ID
  stories/topics/proc-saas-set-up-private.adoc
  stories/topics/proc-saas-set-up-public.adoc
Labels: documentation, AAP on clouds, Ready for review, SaaS on AWS

#1498 Updated book title abstracts per AAP-22841
  downstream/titles/aap-containerized-install/docinfo.xml
  downstream/titles/analytics/automation-savings-planner/docinfo.xml
  downstream/titles/analytics/job-explorer/docinfo.xml
  downstream/titles/analytics/reports/docinfo.xml
  downstream/titles/controller/controller-admin-guide/docinfo.xml
  downstream/titles/controller/controller-getting-started/docinfo.xml
  downstream/titles/controller/controller-user-guide/docinfo.xml
  downstream/titles/dev-guide/docinfo.xml
  downstream/titles/playbooks/playbooks-getting-started/docinfo.xml
  downstream/titles/release-notes/docinfo.xml
Labels: Ready for review, Needs backport to 2.4, 2.4

#1501 Backport to 2.4 for book abstrats PR-1498
  downstream/titles/aap-containerized-install/docinfo.xml
  downstream/titles/analytics/automation-savings-planner/docinfo.xml
  downstream/titles/analytics/job-explorer/docinfo.xml
  downstream/titles/controller/controller-admin-guide/docinfo.xml
  downstream/titles/controller/controller-getting-started/docinfo.xml
  downstream/titles/controller/controller-user-guide/docinfo.xml
  downstream/titles/dev-guide/docinfo.xml
  downstream/titles/playbooks/playbooks-getting-started/docinfo.xml
  downstream/titles/release-notes/docinfo.xml
Labels: Ready for review, Needs backport to 2.4

#1502 AAP-25853: Update on-premise deployment docs to include IBM CPD requirement
  lightspeed/modules/con_overview-lightspeed-onpremise.adoc
  lightspeed/modules/con_wca-key-model-id.adoc
  lightspeed/modules/proc_create-connection-secrets.adoc
Labels: Ready for review, Lightspeed
