Repository ansible/aap-docs, pull requests merged in 2024-05, with the labels that each got.

#1300 AAP-22352: Updated AAP release notes per e2e review
  downstream/titles/release-notes/topics/aap-24.adoc
Labels: Needs backport to 2.4, AAP Release notes, 2.4

#1301 Aap2355 b
  stories/topics/proc-saas-set-up.adoc
Labels: documentation, AAP on clouds, Ready for review, SaaS on AWS

#1302 including proc in the assembling
  stories/assembly-saas-install.adoc
Labels: documentation, AAP on clouds, Ready for review, SaaS on AWS

#1303 AAP-17190 Add configuration chapter to Devtools doc
  downstream/assemblies/devtools/assembly-devtools-setup.adoc
  downstream/modules/devtools/proc-configure-extension-settings.adoc
  downstream/modules/devtools/proc-create-python-venv.adoc
  downstream/modules/devtools/proc-directory-setup.adoc
  downstream/modules/devtools/proc-install-vscode-extension.adoc
  downstream/modules/devtools/proc-installing-vscode.adoc
  downstream/modules/devtools/proc-setup-vscode-workspace.adoc
  downstream/modules/devtools/ref-devtools-workflow.adoc
Labels: Needs backport to 2.4

#1307 AAP-22352: Updated AAP release notes per e2e review (#1300)
  downstream/titles/release-notes/topics/aap-24.adoc
Labels: documentation, Backported to 2.4, AAP Release notes, 2.4

#1308 Add attributes for Ansible Lightspeed
  downstream/attributes/attributes.adoc
Labels: Needs backport to 2.4

#1310 AAP-23355: Updating Assembly and procs after tech review
  images/AWS_MP.png
  images/AWS_MP2.png
  stories/assembly-saas-set-up.adoc
  stories/topics/proc-saas-set-up-private.adoc
  stories/topics/proc-saas-set-up-public.adoc
  titles/saas-aws/stories.adoc
Labels: documentation, AAP on clouds, Ready for review, SaaS on AWS

#1311 Updating SaaS Attributes
  attributes/attributes.adoc
  stories/assembly-saas-set-up.adoc
Labels: documentation, AAP on clouds, Ready for review, SaaS on AWS

#1312 Corrected Attribute Name
  downstream/assemblies/builder/assembly-publishing-exec-env.adoc
Labels: Needs backport to 2.4, 2.4

#1313 Corrected Attribute Name (#1312)
  downstream/assemblies/builder/assembly-publishing-exec-env.adoc
Labels: Backported to 2.4, 2.4

#1318 Remove snippets for tertiary menus
  downstream/snippets/snip_menu-top-ac.adoc
  downstream/snippets/snip_menu-top-ae.adoc
Labels: Ready for review, snippets, 2.5

#1322 Correct internal link
  downstream/assemblies/platform/assembly-platform-install-scenario.adoc
Labels: Needs backport to 2.4, 2.4

#1323 Correct internal link (#1322)
  downstream/assemblies/platform/assembly-platform-install-scenario.adoc
Labels: Backported to 2.4, 2.4

#1324 Add console link
  downstream/modules/platform/proc-importing-collections-into-private-automation-hub.adoc
Labels: Needs backport to 2.4, 2.4

#1325 Add console link (#1324)
  downstream/modules/platform/proc-importing-collections-into-private-automation-hub.adoc
Labels: Backported to 2.4, 2.4

#1326 Remove support for Windows Server
  downstream/modules/platform/ref-controller-supported-oses.adoc
Labels: Needs backport to 2.4, 2.4

#1327 Remove support for Windows Server (#1326)
  downstream/modules/platform/ref-controller-supported-oses.adoc
Labels: Backported to 2.4, 2.4

#1328 Removed duplicate attribute definition
  downstream/attributes/attributes.adoc
Labels: Ready for review, Needs backport to 2.4, 2.4

#1329 [Backport] - Removed duplicate attribute definition (#1328)
  downstream/attributes/attributes.adoc
Labels: 2.4

#1217 AAP-21865: Created docs for Admin dashboard phase 2 feature
  lightspeed/assemblies/assembly_managing-admin-dashboard-telemetry.adoc
  lightspeed/modules/proc_obtain-config-wca-and-model-id.adoc
  lightspeed/modules/proc_view-admin-dashboard.adoc
  lightspeed/titles/lightspeed-release-notes/modules/lightspeed-rn-15feb2024.adoc
  lightspeed/titles/lightspeed-release-notes/modules/lightspeed-rn-25oct2023.adoc
  lightspeed/titles/lightspeed-release-notes/modules/lightspeed-rn-7march2024.adoc
Labels: Ready for review, Lightspeed

#1330 Fix xref in lightspeed user guide
  lightspeed/modules/proc_obtain-config-wca-and-model-id.adoc
Labels: Lightspeed

#1147 Adding sections for new terraform config
  downstream/assemblies/platform/assembly-controller-credentials.adoc
  downstream/assemblies/platform/assembly-controller-inventories.adoc
  downstream/modules/platform/proc-controller-inv-source-terraform.adoc
  downstream/modules/platform/ref-controller-credential-terraform.adoc
  downstream/modules/platform/ref-controller-inventory-plugins.adoc
  downstream/modules/platform/ref-controller-inventory-sources.adoc
Labels: documentation, Controller, 2.5

#1332 Operate Deploy Guide UI parity check and fixes
  downstream/assemblies/platform/assembly-aap-migration.adoc
  downstream/assemblies/platform/assembly-operator-add-execution-nodes.adoc
  downstream/modules/platform/con-aap-migration-prereqs.adoc
  downstream/modules/platform/proc-aap-migration-backup.adoc
  downstream/modules/platform/proc-add-operator-execution-nodes.adoc
  downstream/modules/platform/proc-create-keycloak-instance.adoc
  downstream/modules/platform/proc-deploy-eda-controller-with-aap-operator-ocp.adoc
Labels: documentation, Needs backport to 2.4, 2.4

#1338 Doc Bug in Automation Controller Administration Guide (#1337)
  downstream/modules/platform/ref-controller-auth-code-grant-type.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#1342 Add CPU and RAM requirements for Postgres in planning guide (#1341)
  downstream/modules/platform/ref-postgresql-requirements.adoc
Labels: 2.4

#1343 Plus symbols not rendering correctly in asciidoc
  downstream/modules/platform/ref-controller-api-config-settings.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#1345 Lack of explanation for awx-wsrelay.log,awx-ws-heartbeat.log,awx-rsys…
  downstream/assemblies/platform/assembly-controller-log-files.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#1346 Lack of explanation for awx-wsrelay.log,awx-ws-heartbeat.log,awx-rsys…
  downstream/assemblies/platform/assembly-controller-log-files.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#1348 Plus symbols not rendering correctly in asciidoc (#1343)
  downstream/modules/platform/ref-controller-api-config-settings.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#1349 AAP-20542 - Updating Job Explorer doc for 2.5 UI changes
  downstream/assemblies/analytics/assembly-using-job-explorer.adoc
  downstream/modules/analytics/con-drill-down.adoc
  downstream/modules/analytics/con-jobs-explorer.adoc
  downstream/modules/analytics/proc-ignoring-nested-workflows-jobs.adoc
  downstream/modules/analytics/proc-top-template-job-explorer.adoc
  downstream/modules/analytics/proc-view-failed-jobs-detail.adoc
Labels: Ready for review, 2.5

#1347 Corrected links from docs.ansible.com
  downstream/assemblies/platform/assembly-controller-inventories.adoc
  downstream/assemblies/platform/assembly-controller-organizations.adoc
  downstream/assemblies/platform/assembly-controller-teams.adoc
  downstream/assemblies/platform/assembly-ug-controller-instance-groups.adoc
  downstream/modules/platform/con-controller-access-organizations.adoc
  downstream/modules/platform/con-controller-capacity-determination.adoc
  downstream/modules/platform/con-controller-configure-hostname-notifications.adoc
  downstream/modules/platform/proc-controller-adding-new-inventory.adoc
  downstream/modules/platform/proc-controller-apps-create-tokens.adoc
  downstream/modules/platform/proc-controller-create-application.adoc
  downstream/modules/platform/proc-controller-create-instance-group.adoc
  downstream/modules/platform/proc-controller-creating-a-team.adoc
  downstream/modules/platform/proc-controller-pass-extra-variables-provisioning-callbacks.adoc
  downstream/modules/platform/proc-controller-sourced-from-project.adoc
  downstream/modules/platform/proc-controller-user-tokens.adoc
  downstream/modules/platform/proc-controller-view-jobs-associated-with-instance-group.adoc
  downstream/modules/platform/ref-controller-credential-openShift.adoc
  downstream/modules/platform/ref-controller-credential-vault.adoc
  downstream/modules/platform/ref-controller-export-old-scripts.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#1352 Added mesh ingress section back into doc for 2.5
  downstream/assemblies/platform/assembly-automation-mesh-operator-aap.adoc
Labels: documentation, Automation Mesh, 2.5

#1351 Remove chapter on custom inventory scripts
  downstream/assemblies/platform/assembly-inventory-file-importing.adoc
  downstream/modules/platform/ref-controller-inventory-import.adoc
  downstream/titles/controller/controller-admin-guide/master.adoc
Labels: documentation, Controller, 2.5

#1334 Update Controller UG with 2.5 attributes
  downstream/assemblies/platform/assembly-controller-security.adoc
  downstream/assemblies/platform/assembly-ug-controller-instance-groups.adoc
  downstream/assemblies/platform/assembly-ug-controller-jobs.adoc
  downstream/assemblies/platform/assembly-ug-controller-schedules.adoc
  downstream/attributes/attributes.adoc
  downstream/images/ug-generic-create-schedule.png
  downstream/images/ug-instance-group-created.png
  downstream/images/ug-instance-groups_list_view.png.png
  downstream/images/ug-jobs-list-all-expanded.png
  downstream/images/ug-results-for-example-job.png
  downstream/images/ug-schedules-sample-list.png.png
  downstream/images/ug-show-job-results-for-inv-sync.png.png
  downstream/modules/platform/con-controller-configure-hostname-notifications.adoc
  downstream/modules/platform/con-controller-enable-notifications.adoc
  downstream/modules/platform/con-controller-inventory-sync-jobs.adoc
  downstream/modules/platform/con-controller-playbook-access-info-sharing.adoc
  downstream/modules/platform/con-controller-rbac.adoc
  downstream/modules/platform/con-controller-role-hierarchy.adoc
  downstream/modules/platform/proc-controller-adding-new-schedule.adoc
  downstream/modules/platform/proc-controller-associate-instances-to-instance-group.adoc
  downstream/modules/platform/proc-controller-create-custom-notifications.adoc
  downstream/modules/platform/proc-controller-create-insights-project.adoc
  downstream/modules/platform/proc-controller-create-instance-group.adoc
  downstream/modules/platform/proc-controller-create-notification-template.adoc
  downstream/modules/platform/proc-controller-define-schedule-rules.adoc
  downstream/modules/platform/proc-controller-remediate-insights-inventory.adoc
  downstream/modules/platform/proc-controller-reset-tower-base.adoc
  downstream/modules/platform/proc-controller-set-up-github-webhook.adoc
  downstream/modules/platform/proc-controller-view-jobs-associated-with-instance-group.adoc
  downstream/modules/platform/ref-controller-applying-rbac.adoc
  downstream/modules/platform/ref-controller-isolation-functionality.adoc
  downstream/modules/platform/ref-controller-notification-email.adoc
  downstream/modules/platform/ref-controller-notification-grafana.adoc
  downstream/modules/platform/ref-controller-notification-irc.adoc
  downstream/modules/platform/ref-controller-notification-mattermost.adoc
  downstream/modules/platform/ref-controller-notification-pager-duty.adoc
  downstream/modules/platform/ref-controller-notification-slack.adoc
  downstream/modules/platform/ref-controller-notification-twilio.adoc
  downstream/modules/platform/ref-controller-notification-webhook.adoc
  downstream/modules/platform/ref-controller-rbac-roles.adoc
  downstream/modules/platform/ref-controller-supported-attributes.adoc
Labels: documentation, Controller

#1355 Added information about format of FQDN
  downstream/modules/platform/con-install-scenario-recommendations.adoc
  downstream/modules/platform/ref-guidelines-hosts-groups.adoc
Labels: 2.3, Needs backport to 2.4, Needs backport to 2.3, 2.4

#1356 Added information about format of FQDN (#1355)
  downstream/modules/platform/con-install-scenario-recommendations.adoc
  downstream/modules/platform/ref-guidelines-hosts-groups.adoc
Labels: Backported to 2.4, 2.4

#1357 Add information about format of FQDN
  downstream/modules/platform/con-install-scenario-examples.adoc
  downstream/modules/platform/ref-guidelines-hosts-groups.adoc
Labels: 2.3

#1350 Controller User Guide UI update chapters 1-11
  downstream/assemblies/platform/assembly-controller-search.adoc
  downstream/modules/platform/con-controller-overview-details.adoc
  downstream/modules/platform/proc-controller-importing-subscriptions.adoc
  downstream/modules/platform/proc-controller-obtaining-subscriptions-manifest.adoc
  downstream/modules/platform/ref-controller-licenses.adoc
  downstream/modules/platform/ref-controller-node-counting.adoc
  downstream/modules/platform/ref-controller-search-tips.adoc
Labels: documentation, Controller, 2.5

#1359 AAP-24195: Added info. about languages supported for Ansible Lightspeed prompts
  lightspeed/modules/con-lightspeed-about.adoc
  lightspeed/modules/con_lightspeed-key-features.adoc
  lightspeed/modules/con_overview-and-best-practices.adoc
Labels: Ready for review, Technical review complete, Lightspeed

#1353 Controller Admin Guide UI update chapters 1-10
  downstream/assemblies/platform/assembly-ag-controller-start-stop-controller.adoc
  downstream/assemblies/platform/assembly-ag-instance-and-container-groups.adoc
  downstream/assemblies/platform/assembly-controller-instances.adoc
  downstream/assemblies/platform/assembly-controller-topology-viewer.adoc
  downstream/assemblies/platform/assembly-inventory-file-importing.adoc
  downstream/assemblies/platform/assembly-multi-credential-assignment.adoc
  downstream/images/ag-instance-group-customize-cg-pod.png
  downstream/images/ag-instance-group-job-details.png
  downstream/images/ag-instance-group-successfully-created.png
  downstream/images/ag-inventories-create-new-test-inventory.png
  downstream/images/ag-inventories-launch-adhoc-localhost.png
  downstream/images/ag-inventories-launch-adhoc-localhost2.png
  downstream/images/management-job-notifications-empty.png
  downstream/images/management-jobs-remove-activity-stream-schedule-details.png
  downstream/images/management-jobs-remove-activity-stream-schedule.png
  downstream/images/management-jobs.png
  downstream/images/ug-instance-groups_list_view.png
  downstream/modules/platform/con-controller-container-groups.adoc
  downstream/modules/platform/con-controller-control-job-run.adoc
  downstream/modules/platform/con-controller-multi-cred-background.adoc
  downstream/modules/platform/proc-controller-access-topology-viewer.adoc
  downstream/modules/platform/proc-controller-cluster-deprovision-instances.adoc
  downstream/modules/platform/proc-controller-create-container-group.adoc
  downstream/modules/platform/proc-controller-customize-pod-spec.adoc
  downstream/modules/platform/proc-controller-management-notifications.adoc
  downstream/modules/platform/proc-controller-pin-instances.adoc
  downstream/modules/platform/proc-controller-pulling-secret.adoc
  downstream/modules/platform/proc-controller-remove-old-activity-stream.adoc
  downstream/modules/platform/proc-controller-scheduling-deletion.adoc
  downstream/modules/platform/proc-controller-verify-container-group.adoc
  downstream/modules/platform/proc-controller-view-container-group-jobs.adoc
  downstream/modules/platform/ref-controller-cluster-install.adoc
  downstream/modules/platform/ref-controller-cluster-instance-behavior.adoc
  downstream/modules/platform/ref-controller-group-policies-automationcontroller.adoc
  downstream/modules/platform/ref-controller-instance-group-capacity.adoc
  downstream/modules/platform/ref-controller-multi-cred-changes.adoc
  downstream/modules/platform/ref-controller-multi-cred-launch-considerations.adoc
  downstream/modules/platform/ref-controller-old-job-history.adoc
  downstream/modules/platform/ref-controller-prompted-vault-credentials.adoc
  downstream/modules/platform/ref-controller-scm-inv-source-fields.adoc
  downstream/modules/platform/ref-controller-setup-considerations.adoc
  downstream/modules/platform/ref-controller-view-container-group-jobs.adoc
Labels: documentation, Controller, 2.5

#1361 [DOCS] - mistake in AAP 2.4 install docs - 2.5.2. Enabling the hstore…
  downstream/modules/platform/proc-enable-hstore-extension.adoc
Labels: documentation, Needs backport to 2.4, 2.4

#1358 Adding modules for planning Assembly (AAP-23356)
  stories/assembly-saas-planning.adoc
  stories/topics/con-saas-intro.adoc
  stories/topics/ref-saas-default-configs.adoc
  stories/topics/ref-saas-planning-configs.adoc
Labels: documentation, AAP on clouds, Ready for review, SaaS on AWS

#1362 [DOCS] - mistake in AAP 2.4 install docs - 2.5.2. Enabling the hstore…
  downstream/modules/platform/proc-enable-hstore-extension.adoc
Labels: documentation, Backported to 2.4, 2.4

#965 AAP-19392 Add new postgres_max_connections variable for controller v4.5
  downstream/modules/platform/ref-controller-variables.adoc
Labels: Ready for review, Needs backport to 2.4, Ready for technical review, Controller, 2.4

#1365 2.4 AAP-19392 Add postgres_max_connections variable (#965)
  downstream/modules/platform/ref-controller-variables.adoc
Labels: 2.4

#1368 Update operator-mesh UI
  downstream/images/instances_create_details.png
  downstream/images/instances_create_new.png
  downstream/images/ug-instance-group-created.png
  downstream/modules/platform/con-about-automation-mesh.adoc
  downstream/modules/platform/proc-define-mesh-node-types.adoc
  downstream/modules/platform/ref-operator-mesh-prerequisites.adoc
  downstream/modules/platform/ref-removing-instances.adoc
Labels: Controller, 2.5

#1369 Removed 20 node limit
  downstream/modules/platform/ref-controller-setup-considerations.adoc
Labels: documentation, Controller, Main

#1372 2.4 AAP-17190 Modify devtools intro and scaffolding (#1371)
  downstream/assemblies/devtools/assembly-creating-playbook-project.adoc
  downstream/assemblies/devtools/assembly-developer-workflow.adoc
  downstream/assemblies/devtools/assembly-devtools-intro.adoc
  downstream/assemblies/devtools/assembly-devtools-setup.adoc
  downstream/assemblies/devtools/assembly-scaffolding-playbook-directory.adoc
  downstream/attributes/attributes.adoc
  downstream/modules/devtools/proc-devtools-install.adoc
  downstream/modules/devtools/proc-directory-setup.adoc
  downstream/modules/devtools/proc-install-vscode-extension.adoc
  downstream/modules/devtools/proc-scaffolding-playbook-directory.adoc
  downstream/modules/devtools/proc-scaffolding-playbook-project.adoc
  downstream/modules/devtools/ref-devtools-components.adoc
  downstream/modules/devtools/ref-devtools-workflow.adoc
  downstream/titles/develop-automation-content/master.adoc
Labels: 2.4

#1367 creating assembly and modules for Resource Operator (AAP-24684)
  downstream/assemblies/platform/assembly-controller-resource-operator.adoc
  downstream/attributes/attributes.adoc
  downstream/modules/platform/con-resource-operator-overview.adoc
  downstream/modules/platform/proc-add-controller-access-token.adoc
  downstream/modules/platform/proc-create-a-connection-secret.adoc
  downstream/modules/platform/proc-create-a-jobtemplate.adoc
  downstream/modules/platform/proc-create-an-ansiblejob.adoc
  downstream/modules/platform/proc-use-controller-resource-operator.adoc
  downstream/titles/aap-operator-installation/master.adoc
Labels: documentation, Ready for review, 2.4, Ansible Automation Platform operator

#1377 creating assembly and modules for Resource Operator (AAP-24684) (#1367)
  downstream/assemblies/platform/assembly-controller-resource-operator.adoc
  downstream/attributes/attributes.adoc
  downstream/modules/platform/con-resource-operator-overview.adoc
  downstream/modules/platform/proc-add-controller-access-token.adoc
  downstream/modules/platform/proc-create-a-connection-secret.adoc
  downstream/modules/platform/proc-create-a-jobtemplate.adoc
  downstream/modules/platform/proc-create-an-ansiblejob.adoc
  downstream/modules/platform/proc-use-controller-resource-operator.adoc
  downstream/titles/aap-operator-installation/master.adoc
Labels: documentation, 2.4, AAP operator

#1370 Formatting issue in Controller UG Glossary section
  downstream/assemblies/platform/assembly-controller-glossary.adoc
Labels: documentation, Needs backport to 2.4, 2.4

#1378 Formatting issue in Controller UG Glossary section (#1370)
  downstream/assemblies/platform/assembly-controller-glossary.adoc
Labels: documentation, Backported to 2.4, 2.4

#1360 add troubleshooting aap guide
  downstream/assemblies/troubleshooting-aap/assembly-diagnosing-the-problem.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-backup-recovery.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-controller.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-execution-environments.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-installation.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-jobs.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-login.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-networking.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-playbooks.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-subscriptions.adoc
  downstream/assemblies/troubleshooting-aap/troubleshooting-aap
  downstream/modules/troubleshooting-aap/proc-troubleshoot-aap-packages.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-invalid-credentials.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-localhost.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-pending.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-permissions.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-resolve-module.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-timeout.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-must-gather.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-sosreport.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-subnet-conflict.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-use-in-controller.adoc
  downstream/titles/troubleshooting-aap/aap-common
  downstream/titles/troubleshooting-aap/attributes
  downstream/titles/troubleshooting-aap/docinfo.xml
  downstream/titles/troubleshooting-aap/images
  downstream/titles/troubleshooting-aap/master.adoc
  downstream/titles/troubleshooting-aap/troubleshooting-aap
Labels: 2.4

#1379 add troubleshooting aap guide (#1360)
  downstream/assemblies/troubleshooting-aap/assembly-diagnosing-the-problem.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-backup-recovery.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-controller.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-execution-environments.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-installation.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-jobs.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-login.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-networking.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-playbooks.adoc
  downstream/assemblies/troubleshooting-aap/assembly-troubleshoot-subscriptions.adoc
  downstream/assemblies/troubleshooting-aap/troubleshooting-aap
  downstream/modules/troubleshooting-aap/proc-troubleshoot-aap-packages.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-invalid-credentials.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-localhost.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-pending.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-permissions.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-resolve-module.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-job-timeout.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-must-gather.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-sosreport.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-subnet-conflict.adoc
  downstream/modules/troubleshooting-aap/proc-troubleshoot-use-in-controller.adoc
  downstream/titles/troubleshooting-aap/aap-common
  downstream/titles/troubleshooting-aap/attributes
  downstream/titles/troubleshooting-aap/docinfo.xml
  downstream/titles/troubleshooting-aap/images
  downstream/titles/troubleshooting-aap/master.adoc
  downstream/titles/troubleshooting-aap/troubleshooting-aap
Labels: 2.4

#1376 AAP-23357 edits to assembly
  stories/assembly-saas-post-install-config.adoc
Labels: documentation, AAP on clouds, SaaS on AWS

#1381 2.4 Replace Tower reference with Controller in Using the Automation Calcu…
  downstream/modules/analytics/proc-view-template-details.adoc
Labels: 2.4

#1387 Corrected broken link (#1386)
  downstream/assemblies/platform/assembly-controller-applications.adoc
  downstream/modules/platform/proc-controller-apps-create-tokens.adoc
  downstream/modules/platform/proc-controller-create-application.adoc
Labels: documentation, Backported to 2.4, Controller, 2.4

#1388 Additions to Controller UG UI changes
  downstream/assemblies/platform/assembly-ug-controller-schedules.adoc
  downstream/modules/platform/proc-controller-define-schedule-exceptions.adoc
  downstream/modules/platform/proc-controller-define-schedule-rules.adoc
Labels: documentation, Controller, Main

#1389 Corrected link
  downstream/modules/platform/con-controller-capacity-determination.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#1391 Corrected link (#1389)
  downstream/modules/platform/con-controller-capacity-determination.adoc
Labels: Backported to 2.4, 2.4

#1335 Add notes about use of local users
  downstream/assemblies/platform/assembly-ag-controller-secret-handling.adoc
  downstream/modules/platform/con-controller-secret-handling.adoc
Labels: documentation, Needs backport to 2.4, Controller, 2.4

#1393 Add notes about use of local users (#1335)
  downstream/assemblies/platform/assembly-ag-controller-secret-handling.adoc
  downstream/modules/platform/con-controller-secret-handling.adoc
Labels: Backported to 2.4, 2.4
